    <main class="tophat">
        
        <section class="well2top">
            <div class="container">
            <h1>College to Corporate</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            The purpose of this program is to prepare the Fresh graduates to step to the next stages, i.e. Group Discussion (GD) and Interview, classes are conducted in Communication Skills which include basic communication skills, GD and Interview basics, mock GDs, mock Interviews (HR & Technical) and Psychometric tests. </p>

                            <div class="inline">
                        <p class="central"><span>Duration</span>:  10 working days</p> <p class="central"><span>Fees</span>:  Rs - 5,000</p>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <strong>
                        <h4>Why should you register with Learning Virtue?</h4>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting companies in India & the United States.</li>
                         <li>On completion of training, we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are all professionally certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
                    </ul>
                            </div>
                            <div class="col-md-6">
                                                    <strong>
                        <h4>Why should you register with Learning Virtue?</h4>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting companies in India & the United States.</li>
                         <li>On completion of training, we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are all professionally certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
                    </ul>
                            </div>
                        </div>
                        </div>
                        
                        <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                              <h4>Ravinder Singh</h4><br>
                              <h5>SME Linux & Networking</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Ravi is an RHCSA & RHCE Redhat certified professional. With 10 + years of industry experience, he has trained a whooping 400+ batches on RHCSA and RHCE.
Adopting a strict fun-with-learning attitude brings up Ravi as a top of the line IT facilitator. As another feather in his ‘red hat’, he is also a certified Solaris & Jboss Administrator.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                        
                        <br>




                    <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>This is completely an activity driven program and the motive is to build confidence among the fresh in building up their career. We specialize in Training and Human Capital Development for IT industry and in Communication and Soft skills. 
We work as smart partnership in providing hands-on solutions to help our client solve their day to day business challenges by developing their human capital in building their branding, 
We believe in a comprehensive approach – becoming a part of our client's business and knowing as much about their operations and challenges as possible. We want to support our clients in meeting their goals in improving bottom line results and to sustain the competitive advantage. </p> 
<br>
 <h3 class="h3 text-primary">OUR COMMITMENT TO YOU </h3>

<p>To support and work our clients in achieving their   desired results, our development effort extends beyond the training room. We work in partnership with our clients to:</p>
<ul class="marked-list-skin"> 
<li>Understand their business and development needs </li>
<li>Design development initiatives and deliver high impact training interventions</li>
<li>Develop and implement powerful reinforcement programs</li> 
<li>Track and measure for continuous improvement and sustainability</li>
</ul>
<br>

<h3 class="h3 text-primary">Our Strength:</h3>
<ul class="marked-list-skin">
<li>We offer training and learning lab that are tailored to provide solutions to help increase the productivity, performance and profitability of our clients.</li>
<li>Industry expert trainers</li>
<li>Training with case study & Proof of concepts</li>
<li>Hand-on Lab support </li>
<li>Consulting </li>
<li>Assessments</li>
</ul> <br>
                        </div>
                    </div> </div>



<div class="container">

                </div>
            </div>
        </section>

<!-- <section class="well2">

            
       </section> -->



        <!-- <section class="well2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h2>
                            Overview
                        </h2>
                        <ul class="row index-list">
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming aware
                                    </a>
                                </h3>

                                <p>
                                    involves early exposure to colleges and careers, interest mapping, guidance
                                    lessons and the completion.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming eligible
                                    </a>
                                </h3>

                                <p>
                                    involves students completing the
                                    necessary steps to proceed with their post-high school choice.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming prepared
                                    </a>
                                </h3>

                                <p>
                                    Students will need a well-rounded
                                    education in a wide array of subjects, good study and work habits, and the skills.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h2>
                            Careers
                        </h2>

                        <h3 class="text-primary">
                            Instructional Jobs
                        </h3>

                        <p>
                            Instructional jobs include classroom teachers, resource teachers,
                            instructional coaches, guidance
                            counselors, tutors, and many other.
                        </p>
                        <ul class="marked-list-skin">
                            <li><a href="#">Pre-Veterinary/Equine</a></li>
                            <li><a href="#">Biomedical Health Informatics</a></li>
                            <li><a href="#">Information Technology/Animation</a></li>
                            <li><a href="#">Culinary Arts/Hospitality and Tourism</a></li>
                            <li><a href="#">Engineering and Technology</a></li>
                            <li><a href="#">Aerospace Science</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">JROTC--Air Force, Army, Navy, Marines</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <h2>
                            Testimonials
                        </h2>
                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I love my kids attending the School District. We
                                    receive the small town treatment between students, teachers, parents, and even the whole
                                    community. Everyone pretty much knows everyone and everyone is there to help push the students.
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                Eva Adamson, USA
                            </cite></p>
                        </blockquote>

                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I am proud my daughters are a part of the School
                                    District. Each staff member goes above and beyond to educate my children. The teachers challenge and encourage kids to do the best they can at all levels. My girls love going to school every day!
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                David Austin, USA
                            </cite></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
 -->
    </main>