    <main class="tophat" ng-controller="tabCtrl">
        
        <section class="well2">
            <div class="container">
            <h1>Cisco Network Certification Bootcamp</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>

                            <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Network Admin/Engineer </strong></p>
                            <br>
                          

                            <p class="h4 text-primary">Why Learn Cisco?</p>



                            <p>The purpose of this training is to explore the latest CISCO technologies. As Enterprises migrate toward controller based architectures, the role and skills required of a core network engineer are evolving and more vital than ever. To prepare for this network transition, the CCNA Routing and Switching certification will not only prepare you with the knowledge of foundational technologies, but ensure you stay relevant with skill sets needed for the adoption of next generation technologies. <br><br>    It also includes:</p><br>



                            <ul class="marked-list-skin">
                                <li>Working with Html Tag and understand new versions</li>
                            <li>Understand the importance of validating the data</li>
                            <li>Understand web servers</li>
                            <li>Understand the database concepts.</li>
                            <li>Understanding and implementation of Mean stack and Full stack.</li>
                            </ul>

                           
                        
                                                             <div class="container">
                        <div class="row">
                        <div class="col-md-9">


                            <br>                    <strong>
                        <h3>Why should you register with Learning Virtue?</h3>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting company in India & US and on completion of the training we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
<li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
<li>Based on your performance you may be absorbed as an employee and start working on our projects.</li>
                    </ul>
<br>
</div>
    </div>  </div> </div>






<div class="col-md-3 col-sm-6"> 
<div lastone class="backToTrain">Go Back</div>
<div class="sideInstructor">
<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div>
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                              <h4>Hari G. Sharma</h4><br>
                              <h5>SME Networking, Cisco Technologies</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>A CCIE collaboration certified professional, Hari is specialised in Cisco Network Technology. With overall 25+ years of experience in the IT sector and 14 + years of total domain experience, his specialisation includes handling and managing large scale network infrastructure with Data, Voice and Video technology along with capabilities of knowledge transfer and managing team of engineers.</p>
<p>His international certification includes CCIE Collaboration #45874, CCNP, CCNP SECURITY, CCSP, CCNA SECURITY, and CCNA. Hari is highly experienced, motivated, dedicated and multi skilled IT professional.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>
</div>
</div>






    </div>
    </div>


<!--     <div class="container middleSection"><div class="row well bg-primary">
    <div class="container">
                        <article>
                    <div class="article_header">
                    <h1>More about your Instructor</h1><br>
                                               
                        <h2>Lingraj Nandi</h2><br><br>
                            <h4>SME Java, J2EE, Open Source Technologies</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Lingraj has 10+ years of experience in corporate trainings and has handled 100+ corporate assignments, namely at NIIT, Tech Mahindra, Zenser Technologies and many more.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>   -->
                </section>

                <div class="container">
                <div class="row">

<!-- <ul class="nav nav-tabs">
  <li role="presentation" ng-class='{"active": slab == "ccna"}'><a ng-click="slab='ccna'">CCNA</a></li>
  <li role="presentation" ng-class='{"active": slab == "ccnp"}'><a ng-click="slab='ccnp'">CCNP</a></li>
  <li role="presentation" ng-class='{"active": slab == "ccie"}'><a ng-click="slab='ccie'">CCIE</a></li>
  
</ul>
 -->

<!-- <h3><strong>Content:</strong></h3> -->
<!-- <div class="container bottomSpace" ng-switch="slab">
<div class="row">

<div class="tabz" ng-switch-when="ccna">
<h2>CCNA – R & S</h2><p>In this course you will get introduced to Cisco world of networking with complete new CCNAx 3.0 (300 - 125)</p> <br> <h4>The New CCNAx v 3.0 update Includes: </h4> <br> 

<ul class="marked-list-skin"><li>Troubleshooting Routing</li>
<li>Troubleshooting Switching</li>
<li>IPv6 Routing</li>
<li>DHCP</li>
<li>Introduction to WAN technologies like VSAT,MPLS,VPN,Metro Ethernet</li>
<li>HSRP,VRRP, GLBP</li>
<li>external Authentication methods</li>
<li>Updated software on Cisco routers and switches</li>
<li>QOS</li>
<li>Ipv6 access list</li>
<li>IP SLA</li>
<li>Network programmability</li>
<li>Cloud</li>
</ul>

<div class="container">
<div class="row">
<div class="tabz">
    <h3>Class Content:</h3>
</div>
<div class="col-md-3" >
<br>

<ul class="marked-list-skin">
    <li>Operation of IP Data Networks</li>
    <li>LAN Switching Technologies</li>
    <li>IP addressing (IPv4 / IPv6)</li>
    <li>IP Routing Technologies</li>
<li>Differentiate methods of routing and routing protocols</li>
<li>OSPF</li>
<li>Configure and verify EIGRP (single AS)</li>
</ul></div>

<div class="col-md-3"><br>
<ul class="marked-list-skin">
<li>Configure and verify inter-VLAN routing (Router on a stick)</li>
<li>IP Services</li>
<li>Configure and verify DHCP (IOS Router)</li>
<li>Describe the types, features, and applications of ACLs</li>
<li>Identify the basic operation of NAT</li>
<li>Recognize High availability (FHRP)</li>
<li>Network Device Security</li>
</ul></div>
<div class="col-md-3"><br>
<ul class="marked-list-skin">
<li>Troubleshooting</li>
<li>Troubleshoot and Resolve VLAN problems</li>
<li>Troubleshoot and Resolve trunking problems on Cisco switches</li>
<li>Troubleshoot and Resolve Spanning Tree operation issues</li>
<li>Troubleshoot and Resolve routing issues</li>
<li>Troubleshoot and Resolve OSPF problems</li>
<li>Troubleshoot and Resolve EIGRP problems</li>
</ul></div>

<div class="col-md-3"><br>
<ul class="marked-list-skin">
<li>Troubleshoot and Resolve interVLAN routing problems</li>
<li>Troubleshoot and Resolve ACL issues</li>
<li>Troubleshoot and Resolve WAN implementation issues</li>
<li>Troubleshoot and Resolve Layer 1 problems</li>
<li>WAN Technologies</li>
</ul>
<p><strong>And More!!</strong></p>
</div>
</div></div>
</div>







<div class="container" ng-switch-when="ccnp">
<div class="row">
<div class="tabz">
<h2>CCNP – R & S</h2><p>In this course you will get introduced to Cisco world of networking with the CCNP Certification. Candidate has to clear 3 required exams to obtain a CCNP Routing and Switching certification.</p> 
<ul class="marked-list-skin">
    <li><strong>300-101 ROUTE:</strong> Implementing Cisco IP Routing (ROUTE 300-101)V2</li>
    <li><strong>300-115 SWITCH:</strong> Implementing Cisco IP Switched Networks (SWITCH 300-115)V2 </li>
    <li><strong>300-135 TSHOOT:</strong> Troubleshooting and Maintaining Cisco IP Networks v2 (TSHOOT 300-135)V2 </li>

</ul>

<br>
<h3>300-101 ROUTE</h3>
<p><strong>Exam Description: </strong> Exam Description: Implementing Cisco IP Routing (ROUTE 300-101) is a 120-minute qualifying exam with 50‒60 questions for the Cisco CCNP and CCDP certifications. The ROUTE 300-101 exam certifies the routing knowledge and skills of successful candidates. They are certified in  using advanced IP addressing and routing in implementing scalable and highly secure Cisco routers that are connected to LANs, WANs,and IPv6.  The exam also covers the configuration of highly secure routing solutions to support branch offices and mobile workers.</p>
<p>The following topics are general guidelines for the content that is likely to be included on the exam. However, other related topics may also appear on any specific version of the exam. To better reflect the contents of the exam and for clarity, the following guidelines may change at any time without notice. </p>

<ol>
    <li>Network Principles </li>
    <li>Layer 2 Technologies </li>
    <li>Layer 3 Technologies </li>
    <li>VPN Technologies </li>
    <li>Infrastructure Security</li>
<li>Infrastructure Services</li>
</ol><br>

<h3>300-115 SWITCH</h3>
<p><strong>Exam Description: </strong> Implementing Cisco IP Switched Networks (SWITCH 300-115) is a 120-minute qualifying exam with 45‒55 questions for the Cisco CCNP and CCDP certifications. The SWITCH 300-115 exam certifies the switching knowledge and skills of successful candidates. They are certified in planning, configuring, and verifying the implementation of complex enterprise switching solutions that use the Cisco Enterprise Campus Architecture. The SWITCH exam also covers highly secure integration of VLANs and WLANs. The following topics are general guidelines for the content that is likely to be included on the exam. However, other related topics may also appear on any specific version of the exam. To better reflect the contents of the exam and for clarity, the following guidelines may change at any time without notice. </p>

<ul class="marked-list-skin">
<li>1.0  Layer 2 Technologies </li>
<li>2.0  Infrastructure Security</li>
<li>3.0  Infrastructure Services </li>
</ul><br>
<h3>300-135 TSHOOT</h3>

<p><strong> Exam Description: </strong> Troubleshooting and Maintaining Cisco IP Networks v2 (TSHOOT 300-135) is a 120-minute qualifying exam with 15‒25 questions for the Cisco CCNP certification. The TSHOOT 300-135 exam certifies that the successful candidate has the knowledge and skills necessary to:  </p>

<ul class="marked-list-skin">
    <li>Plan and perform regular maintenance on complex enterprise routed and switched networks</li>
<li>Use technology-based practices and a systematic ITIL-compliant approach to perform network troubleshooting</li>
</ul>
<p>The following topics are general guidelines for the content that is likely to be included on the exam. However, other related topics may also appear on any specific version of the exam. To better reflect the contents of the exam and for clarity, the following guidelines may change at any time without notice. </p>  <br>

<div class="container">
<div class="row">
<div class="col-md-6">
    <ul class="marked-list-skin">
        <li>1.0  Network Principles </li>
        <li>2.0  Layer 2 Technologies </li>
        <li>3.0  Layer 3 Technologies</li>
    </ul>
</div>

<div class="col-md-6">
    <ul class="marked-list-skin">
        <li>4.0  VPN Technologies </li>
        <li>5.0  Infrastructure Security </li>
        <li>6.0  Infrastructure Services</li>
    </ul>
</div>
</div>
</div>

<p><strong>This CCNP module also Includes: </strong></p> <br> 

<ul class="marked-list-skin">
    <li><strong>CCNP Routing & Switching</strong> <ul>
        <li>Cisco Certified Network Professional (CCNP) validates the ability to plan, implement, verify and troubleshoot local and wide-area enterprise networks and work collaboratively with specialists on advanced security, voice, wireless and video solutions.</li>
<li>It focuses on the skills needed by a network engineer working for an Enterprise–that is, a company that deploys networking setup for its own purposes.</li>
<li>The CCNP certification is appropriate for those who are ready to advance their skills and work independently on complex network solutions.
On completion of CCNP one is eligible for network technician, support engineer, systems engineer or network engineer roles.</li>
    </ul>
</ul>
</div>
</div></div>


<div class="container" ng-switch-when="ccie">
<div class="row">
<div class="tabz"><h2>CCIE – R & S : Cisco Certified Internetwork Expert</h2><p>This certification is one of the prestigious and prestigious of all existing networking certifications. It is one of the most difficult certifications to earn in this field. Having a CCIE certification opens doors professionally growth.</p> <br> 

<h4>How can I become a CCIE certified Professional? </h4>
<p>Candidate have to pass both a written exam and a one-day, hands-on lab exam.</p>

<ul class="marked-list-skin">
<li>The written exam to test your knowledge on theory, protocols, and configuration concepts.</li>
<li>The lab exam to prove your skills on configure and troubleshoot actual gear.</li>
<li>Excellent  pay package</li>
<li>Career-advancement opportunities</li>
<li>Applies to certain minimum requirements for Cisco Silver and Gold Channel Partners</li>
<li>as well as those seeking Master Specialization, making you more valuable to Channel Partners</li>
<li>Better movement through the problem-resolution process when calling the Cisco TAC
Prestige</li>
<li>Credibility for consultants and customer engineers, including the use of the Cisco  CCIE logo</li>
<li>The other big reason to take the CCIE Routing and switching written exam is that it recertifies an individual's associate-, professional-, and expert-level Cisco certifications. In other words, passing any CCIE written exam recertifies that person's CCNA, CCNP, CCIP, CCSP, CCDP, and so on.  
</li>
</ul>
</div>
</div>
</div>
</div>



</div> -->



                    </div>
                </div>
            </div>
        </section>
    </main>