    <main class="tophat" ng-controller="tabCtrl">
        
        <section class="well2">
            <div class="container">
            <h1>Cisco Network Certification Bootcamp</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>

                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Network Admin/Engineer </strong></p> -->
                            <br> <br>
                          

                            <p class="h4">We provide a wide range of cisco and related Network courses: </p> <br> <br>

                            <div class="container">
                                <div class="row">
                                    <div class="col-md-3">
                                        <ul class="list-group">
                                            <li class="text-primary list-group-item"> Network Associate </li>
                                            <li class="list-group-item"> <a ui-sref="rs-ccna">  CCNA Routing & Switching </a></li>
                                            <li class="list-group-item"> <a ui-sref="securityccna"> CCNA Security </a> </li>
                                            <li class="list-group-item"> <a ui-sref="collab-ccna">  CCNA Voice/Collaboration </a> </li>
                                            <li class="list-group-item"> CCNA Data Center</li>
                                            <li class="list-group-item"> CCNA Cloud</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-3">
                                        <ul>
                                            <li class="text-primary list-group-item"> Network Professional </li>
                                            <li class="list-group-item"> <a ui-sref="collab-ccnp"> CCNP Collaboration </a> </li>
                                            <li class="list-group-item"> <a ui-sref="rs-ccnp">  CCNP Routing & Switching </a> </li>
                                            <li class="list-group-item"> CCNP Data Center </li>
                                            <li class="list-group-item"> <a ui-sref="securityccnp">  CCNP Security </a> </li>
                                            <li class="list-group-item"> CCNP Cloud</li>
                                        </ul>

                                    </div>
                                    <div class="col-md-3">
                                        <ul>
                                            <li class="text-primary list-group-item"> Network Expert </li>
                                            <li class="list-group-item"> <a ui-sref="collab-ccie"> CCIE Collaboration </a> </li>
                                            <li class="list-group-item"> <a ui-sref="rs-ccie"> CCIE Routing & Switching </a> </li>
                                            <li class="list-group-item"> CCIE Data Center</li>
                                            <li class="list-group-item"> <a ui-sref="securityccie"> CCIE Security </a> </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>





                           <br> <br>
                        
                        <div class="container">
                        <div class="row">
                        <div class="col-md-9"><br>                    
                        <strong>
                        <h3>Why should you register with Learning Virtue?</h3>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting company in India & US and on completion of the training we ensure that you get placed.</li>
                        <li>We have a placements cell which will market your resume and arrange for the interview.</li>
                        <li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
                        <li>100% hands-on, practical approach to training</li>
                        <li>24/7 support to clarify your technical questions</li>
                        <li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
                        <li>Based on your performance you may be absorbed as an employee and start working on our projects.</li>
                    </ul>
                    <br>
                    </div>
                    </div>  </div> </div>






<div class="col-md-3 col-sm-6"> 
<div lastone class="backToTrain">Go Back</div>
<div class="sideInstructor">
<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div>
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                              <h4>Hari G. Sharma</h4><br>
                              <h5>SME Networking, Cisco Technologies</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>A CCIE collaboration certified professional, Hari is specialised in Cisco Network Technology. With overall 25+ years of experience in the IT sector and 14 + years of total domain experience, his specialisation includes handling and managing large scale network infrastructure with Data, Voice and Video technology along with capabilities of knowledge transfer and managing team of engineers.</p>
<p>His international certification includes CCIE Collaboration #45874, CCNP, CCNP SECURITY, CCSP, CCNA SECURITY, and CCNA. Hari is highly experienced, motivated, dedicated and multi skilled IT professional.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>
</div>
</div>






    </div>
    </div>



                </section>

                <div class="container">
                <div class="row">





                    </div>
                </div>
            </div>
        </section>
    </main>