    <main class="tophat" ng-controller="tabCtrl">
        
        <section class="well2">
            <div class="container">
            <h1>Cisco Network Certification Bootcamp</h1>
                <div class="row">
                    
                    <div class="col-md-12 col-sm-6">
                        
                            <button class="btn btn-primary">Enroll In Classes</button>
                            <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Network Admin/Engineer </strong></p>
                            <br>
                            <h2>
                            Description
                            </h2><br>


                            <p class="h4 text-primary">Why Learn Cisco?</p>



                            <p>The purpose of this training is to explore on latest open source technologies. This training involves designing & development of web pages, performing validation as per the user requirement, working with the open source database, working on the look and feel of the web pages. It also includes:</p>

                            <ul class="marked-list-skin">
                                <li>Working with Html Tag and understand new versions</li>
                            <li>Understand the importance of validating the data</li>
                            <li>Understand web servers</li>
                            <li>Understand the database concepts.</li>
                            <li>Understanding and implementation of Mean stack and Full stack.</li>
                            </ul>

                            <br>
                        <div class="container">
                        <div class="row">
                        <div class="col-md-6">
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Java Script</li>
                            <li>Advanced Java Script</li>
                            <li>JQuery</li>
                            <li>Full Stack</li>
                            <li>Bootstrap</li>
                            <li>MEAN Stack :
                            <ul>   
                            <li>MongoDB</li>
                            <li>Express JS</li>
                            <li>Angular JS</li>
                            <li>Node JS</li>
                            </ul></li>
                        </ul>
                    <br>
                        </div>
                        <div class="col-md-6">
                    <strong>
                        <h4>Why should you register with Learning Virtue?</h4>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting company in India & US and on completion of the training we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
<li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
<li>Based on your performance you may be absorbed as an employee and start working on our projects.</li>
                    </ul>
<br>
</div>
    </div>  </div>

<ul class="nav nav-tabs">
  <li role="presentation" ng-class='{"active": slab == "ccna"}'><a ng-click="slab='ccna'">CCNA</a></li>
  <li role="presentation" ng-class='{"active": slab == "ccnp"}'><a ng-click="slab='ccnp'">CCNP</a></li>
  <li role="presentation" ng-class='{"active": slab == "ccie"}'><a ng-click="slab='ccie'">CCIE</a></li>
  
</ul>


<!-- <h3><strong>Content:</strong></h3> -->
<div class="container" ng-switch="slab">
<div class="row">
<h2 class="tabz">Content CCNA –R & S</h2>
<div class="col-md-3" ng-switch-default>
<br>

<ul class="marked-list-skin">
    <li><strong>Operation of IP Data Networks</strong> <ul>
    <li>Recognize the purpose and functions of various network devices such as Routers, Switches, Bridges and Hubs.</li>
    <li>Select the components required to meet a given network specification.</li>
    <li>Identify common applications and their impact on the network</li>
    <li>Describe the purpose and basic operation of the protocols in the OSI and TCP/IP models.</li>
    <li>Predict the data flow between two hosts across a network.</li>
    <li>Identify the appropriate media, cables, ports, and connectors to connect Cisco network devices to other network devices and hosts in a LAN</li> 
    </ul>

    <li><strong>LAN Switching Technologies</strong><ul>
    <li>Determine the technology and media access control method for Ethernet networks</li>
    <li>Identify basic switching concepts and the operation of Cisco switches.</li>
    <li>Collision Domains</li>
    <li>Broadcast Domains</li>
    <li>Types of switching</li>
    <li>CAM Table</li>
    <li>Configure and verify initial switch configuration including remote access management.</li>
    <li>Cisco IOS commands to perform basic switch setup</li>
    <li>Verify network status and switch operation using basic utilities such as ping, telnet and ssh.</li>
    <li>Identify enhanced switching technologies</li>
    <li>RSTP</li>
    <li>PVSTP</li>
    <li>Etherchannels</li>
    <li>Describe how VLANs create logically separate networks and the need for routing between them.</li>
    <li>Explain network segmentation and basic traffic management concepts</li>
    <li>Configure and verify VLANs</li>
    <li>Configure and verify trunking on Cisco switches</li>
    <li>DTP</li>
    <li>Auto negotiation</li>
    <li>Configure and verify PVSTP operation</li>
    <li>describe root bridge election</li>
    <li>spanning tree mode</li>
    </ul>

    <li><strong>IP addressing (IPv4 / IPv6)</strong> <ul>
    <li> Describe the operation and necessity of using private and public IP addresses for IPv4 addressing</li>
    <li>Identify the appropriate IPv6 addressing scheme to satisfy addressing requirements in a LAN/WAN environment.</li>
    <li>Identify the appropriate IPv4 addressing scheme using VLSM and summarization to satisfy addressing requirements in a LAN/WAN environment.</li>
    <li>Describe the technological requirements for running IPv6 in conjunction with IPv4 such as dual stack</li>
    <li>Describe IPv6 addresses</li>
    <li>Global unicast</li>
    <li>Multicast</li>
    <li>Link local</li>
    <li>Unique local</li>
    <li>eui 64</li>
    <li>autoconfiguration</li>
    </ul>

    <li><strong>Configure and verify inter-VLAN routing (Router on a stick)</strong> <ul>
    <li>sub interfaces</li>
    <li>upstream routing</li>
    <li>encapsulation</li>
    <li>Configure SVI interfaces</li>
    </ul>

</div>
<br><br>
<div class="col-md-3">
<ul class="marked-list-skin">
    <li><strong>WAN Technologies</strong> <ul>
    <li> Identify different WAN Technologies</li>
    <li>Metro Ethernet</li>
    <li>VSAT</li>
    <li>Cellular 3G / 4G</li>
    <li>MPLS</li>
    <li>T1 / E1</li>
    <li>ISDN</li>
    <li>DSL</li>
    <li>Frame relay</li>
    <li>Cable</li>
    <li>VPN</li>
    <li>Configure and verify a basic WAN serial connection</li>
    <li>Configure and verify a PPP connection between Cisco routers</li>
    <li>Configure and verify Frame Relay on Cisco routers</li>
    <li>Implement and troubleshoot PPPoE</li>
</ul>
    <li><strong>IP Routing Technologies</strong> <ul>
    <li> Describe basic routing concepts</li>
    <li>CEF</li>
    <li>Packet forwarding</li>
    <li>Router lookup process</li>
    <li>Describe the boot process of Cisco IOS routers</li>
    <li>POST</li>
    <li>Router bootup process</li>
    <li>Configure and verify utilizing the CLI to set basic Router configuration</li>
    <li>Cisco IOS commands to perform basic router setup</li>
    <li>Configure and verify operation status of a device interface, both serial and ethernet</li>
    <li>Verify router configuration and network connectivity</li>
    <li>Cisco IOS commands to review basic router information and network connectivity</li>
    <li>Configure and verify routing configuration for a static or default route given specific routing requirements</li>
    <li>Manage Cisco IOS Files</li>
    <li>Boot preferences</li>
    <li>Cisco IOS image(s)</li>
    <li>Licensing</li>
    <li>Show license</li>
    <li>Change license</li>
    </ul>

    <li><strong>Differentiate methods of routing and routing protocols</strong> <ul>
    <li>Static vs. Dynamic</li>
    <li>Link state vs. Distance Vector</li>
    <li>Administrative distance</li>
    <li>split horizon</li>
    <li>metric</li>
    <li>next hop</li>
    <li>ip routing table</li>
    <li>Passive Interfaces</li>
    </ul>

    <li><strong>OSPF</strong> <ul>
    <li>Configure and verify OSPF (single area)</li>
    <li>Benefit of single area</li>
    <li>neighbor adjacencies</li>
    <li>OSPF states</li>
    <li>Discuss Multi area</li>
    <li>Configure OSPF v2</li>
    <li>Configure OSPF v3</li>
    <li>Router ID</li>
    <li>Passive interface</li>
    <li>LSA types</li>
    </ul>

    <li><strong>Configure and verify EIGRP (single AS)</strong> <ul>
    <li>Feasible Distance / Feasible Successors /Administrative distance</li>
    <li>Feasibility condition</li>
    <li>Metric composition</li>
    <li>Router ID</li>
    <li>Auto summary</li>
    <li>Path selection</li>
    <li>Load balancing</li>
    <li>Equal</li>
    <li>Unequal</li>
    <li>Passive interface</li>
    </ul>
</div>

<div class="col-md-3">
<ul class="marked-list-skin">
    <li><strong>IP Services</strong> <ul>
    <li> Configure and verify DHCP (IOS Router)</li> <ul>
    <li>configuring router interfaces to use DHCP</li>
    <li>DHCP options</li>
    <li>excluded addresses</li>
    <li>lease time</li>
    </ul>
    <li>Describe the types, features, and applications of ACLs</li><ul>
    <li>Standard</li>
    <li>Sequence numbers</li>
    <li>Editing</li>
    <li>Extended</li>
    <li>Named</li>
    <li>Numbered</li>
    <li>Log option</li>
    <li>Configure and verify ACLs in a network environment</li>
    <li>Named</li>
    <li>Numbered</li>
    </ul>

    <li>Identify the basic operation of NAT</li><ul>
    <li>Purpose</li>
    <li>Pool</li>
    <li>Static</li>
    <li>1 to 1</li>
    <li>Overloading</li>
    <li>Source addressing</li>
    <li>One way NAT</li>
    <li>Configure and verify NAT for given network requirements</li>
    <li>Configure and verify NTP as a client</li>
    </ul>

    <li>Recognize High availability (FHRP)</li><ul>
    <li>VRRP</li>
    <li>HSRP</li>
    <li>GLBP</li>
    <li>Configure and verify Syslog</li>
    <li>Utilize Syslog Output</li>
    <li>Describe SNMP v2 & v3</li>
    </ul>

    <li><strong>Network Device Security</strong><ul>
    <li> Configure and verify network device security features such as</li>
    <li>Device password security</li>
    <li>Enable secret vs enable</li>
    <li>Transport</li>
    <li>Disable telnet</li>
    <li>SSH</li>
    <li>VTYs</li>
    <li>Physical security</li>
    <li>Service password</li>
    <li>Describe external authentication methods</li>
    <li>Configure and verify Switch Port Security features such as</li>
    <li>Sticky MAC</li>
    <li>MAC address limitation</li>
    <li>Static / dynamic</li>
    <li>Violation modes</li>
    <li>Err disable</li>
    <li>Shutdown</li>
    <li>Protect restrict</li>
    <li>Shutdown unused ports</li>
    <li>Err disable recovery</li>
    <li>Assign unused ports to an unused VLAN</li>
    <li>Setting native VLAN to other than VLAN 1</li>
    <li>Configure and verify ACLs to filter network traffic</li>
    <li>Configure and verify an ACLs to limit telnet and SSH access to the router</li>
    </ul>
    </div>

    <div class="col-md-3">
    <ul class="marked-list-skin">

    <li><strong>Troubleshooting</strong><ul>

    <li> Identify and correct common network problems</li>
    <li>Utilize netflow data</li>
    <li>Troubleshoot and correct common problems associated with IP addressing and host configurations.</li>
    </ul>
    
    <li><strong>Troubleshoot and Resolve VLAN problems</strong> <ul>
    <li>identify that VLANs are configured</li>
    <li>port membership correct</li>
    <li>IP address configured</li>
    </ul>
    <li><strong>Troubleshoot and Resolve trunking problems on Cisco switches</strong> <ul>
    <li>correct trunk states</li>
    <li>correct encapsulation configured</li>
    <li>correct vlans allowed</li>
    </ul>
    <li><strong>Troubleshoot and Resolve Spanning Tree operation issues</strong> <ul>
    <li>root switch</li>
    <li>priority</li>
    <li>mode is correct</li>
    <li>port states</li>
    </ul>
    <li><strong>Troubleshoot and Resolve routing issues</strong> <ul>
    <li>routing is enabled</li>
    <li>routing table is correct</li>
    <li>correct path selection</li>
    </ul>
    <li><strong>Troubleshoot and Resolve OSPF problems</strong> <ul>
    <li>neighbor Adjancies</li>
    <li>Hello and Dead timers</li>
    <li>OSPF area</li>
    <li>Interface MTU</li>
    <li>Network types</li>
    <li>Neighbor states</li>
    <li>OSPF topology database</li>
    </ul>

    <li><strong>Troubleshoot and Resolve EIGRP problems</strong> <ul>
    <li>neighbor adjancies</li>
    <li>AS number</li>
    <li>Load balancing</li>
    <li>Split horizon</li>
    </ul>

    <li><strong>Troubleshoot and Resolve interVLAN routing problems</strong> <ul>
    <li>Connectivity</li>
    <li>Encapsulation</li>
    <li>Subnet</li>
    <li>Native VLAN</li>
    <li>Port mode trunk status</li>
    </ul>
    <li><strong>Troubleshoot and Resolve ACL issues</strong> <ul>
    <li>Statistics</li>
    <li>Permitted networks</li>
    <li>Direction</li>
    <li>Interface</li>
    </ul>
    <li><strong>Troubleshoot and Resolve WAN implementation issues</strong> <ul>
    <li>Serial interfaces</li>
    <li>PPP</li>
    <li>Frame relay</li>
    </ul>
    <li><strong>Troubleshoot and Resolve Layer 1 problems</strong> <ul>
    <li>Framing</li>
    <li>CRC</li>
    <li>Runts</li>
    <li>Giants</li>
    <li>Dropped packets</li>
    <li>Late collision</li>
    <li>Input / Output errors</li>
    <li>Monitor NetFlow statistics</li>
    <li>Troubleshoot etherchannel problems</li>
    </ul>
</ul><br>
</div>


<div class="col-md-6" ng-switch-when="css">
<br>
<h2>CSS3</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong>
<ul>
<li>What is CSS3?</li>
<li>The history of CSS</li>
<li>How to Add CSS: Inline Styles, Head Styles, External Files</li>
<li>General Syntax: Attributes, Selectors, Cascades, etc.</li>
<li>Current State of Browser Support for CSS3</li>
<li>How We'll Check This: caniuse.com, IETester, tools.css3.info</li>



</ul>
<li><strong>HTML & CSS </strong><ul>
<li>How HTML relates to CSS</li>
<li>A basic overview of HTML5</li></ul>
<li><strong>Selectors, Pseudo Classes, and Pseudo Elements</strong>
<ul>
<li>E[foo^="bar"], E[foo$="bar"], etc.</li>
<li>:nth-child, :root, etc.</li>
<li>:before, :after, ::selection</li></ul>
<li><strong>Font & Text Effects</strong></li>
<li><strong>Color, Gradients, Background Images, and Masks</strong></li>
<li><strong>Border and Box Effects</strong></li>
<li><strong>Transforms, Transitions, and Animations</strong>
<ul>
   <li> translate(), rotate(), etc.</li>
<li> 3D: rotateX(), rotateY()</li>
<li> changing, for example, the width of a div on hover (without JS)</li>
<li> animations: @keyframes, animation</li>
</ul>
<li><strong>Layout: Columns, Flexible Box</strong>
<ul>
    <li>Column-count, Column-gap, Column-rule
<li>Multiple Column Layouts</li>
<li>Gaps between Columns</li>
<li>Box-orient, Box-pack, Box-align, Box-flex, etc.</li>
<li>Display: box</li>
<li>Grouping and Changing Orientation</li>
<li>Alignment</li>
</ul>
<li><strong>Vendor Prefixes</strong>
<ul>
   <li>Current status of -moz, -o, etc.</li>
<li>When and Why to Use </li>
</ul>

<li><strong>Embedding Media</strong>

<ul>
    <li>Simplified Video</li>
    <li>Audio Embedding with HTML5/CSS3</li>
</ul>
<li><strong>Implementing CSS3 in the "Real World"</strong>
<ul>
 <li>HTML5 Shims</li>
<li>jQuery</li>
<li>LESS, SASS, and Other CSS Preprocessors</li>
<li>CSS Grid Systems</li>
<li>CSS Frameworks</li>
</ul>


<br>


</div>


<div class="col-md-6" ng-switch-when="js">
<br>
<h2>Javascript</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong></li>
<li><strong>Getting started with Javascript</strong>
<ul>
<li>How to include JavaScript in an HTML document</li>
<li>Two ways to include JavaScript in the head of an HTML document</li>
<li>The JavaScript syntax</li>
<li>How to work with JavaScript data</li>
<li>Two illustrative applications </li></ul>
<ul>
<li><strong>JavaScript Objects, Functions, and Events</strong>
<ul>
    <li>How to use objects to work with data</li>
<li>How to use functions</li>
<li>How to handle events</li>
<li>Two illustrative applications</li>
</ul>
<li><strong>How To Script Forms and Controls</strong>
<ul>
    <li>DOM scripting properties and methods</li>
<li>The FAQs application</li>
<li>How to script forms and controls</li>
<li>The Register application</li>
<li>How to add new nodes to the DOM</li>
<li>The Register application with a table</li>
</ul>
<li><strong>How To Test and Debug a JavaScript Application</strong>
<ul>
    <li>An introduction to testing and debugging</li>
<li>AnHow to debug with Chrome’s developer tools</li>
<li>AnOther debugging methods</li>
</ul>
<li><strong>Numbers, Strings, and Dates</strong></li>
<li><strong>How To Code Control Statements</strong>
<ul>
    <li>How to code conditional expressions</li>
<li>How to code the selection structures</li>
<li>The Invoice application</li>
<li>How to code the iteration structures</li>
</ul>
<li><strong>Arrays and Web Storage
</strong>
<ul>
    <li>How to create and use an array</li>
<li>How to use the methods of an Array object</li>
<li>Other skills for working with arrays</li>
<li>How to use web storage</li>
<li>The Task Manager application</li>
</ul>


<li><strong>How To Create and Use Functions</strong></li>
<li><strong>How To Create and Use Objects</strong></li>
<li><strong>JavaScript Object Notation (JSON)</strong>
<ul>
    <li>An introduction to JSON</li>
<li>How to work with JSON in JavaScript</li>
<li>The Task Manager application</li>
<li>How to customize the stringify method</li>
<li>How to customize the parse method</li>
<li>The enhanced Task Manager application</li>
</ul>
<br>


</div>

<div class="col-md-6" ng-switch-when="js">
    <br>
    <h2>Advanced Javascript</h2>
    <ul class="marked-list-skin">
        <li><strong>Review of difficult Javascript</strong><ul>
            <li>Context</li>
            <li>Closures</li>
            <li>Inheritance</li> <ul>
                <li>New syntaxes</li>
                <li>Old Syntax</li>
                <li>Pseudo classical inheritance</li>
                <li>Patterns</li></ul></li></ul></li>
                <li><strong>Cross-domain communication</strong> <ul>
                    <li>Cross-domain 
                    communication options and issues</li>
                    <li>CORS on the client and server</li></ul>
                    <li><strong>Flow control</strong> <ul>
                        <li>Asynchronous programming</li>
                        <li>Advantages and disadvantages of nested callbacks</li>
                        <li>The "pyramid of doom" and problems with try/catch</li></ul>
                        <li><strong>Patterns for clean extensible design in larger JavaScript applications</strong> <ul>
                            <li>Namespaces</li>
                            <li>Service Locators</li>
                            <li>Dependency Injection</li>
                            <li>Inversion of Control</li>
                            <li>Messaging and event buses</li>
                            <li>Different types of events</li>
                            </li>
                        </ul></li>

                        </div>

                        <div class="col-md-6" ng-switch-when="jslib">
                        <br>
                        <h2>JQuery</h2>
                        <ul class="marked-list-skin">
                            <li><strong>Getting Started with JQuery</strong> <ul>
                                <li>Getting the Most Recent Version of JQuery</li>
                                <li>Framework Structural Overview</li>
                                <li>Using jQuery with Other Libraries</li>
                                <li>Commencing Execution When the DOM Tree is Ready</li>
                                <li>Survey of jQuery Utility Methods</li>
                            </ul></li>
                            <li><strong>Selecting and Manipulating DOM Elements with JQuery</strong><ul>
                                <li>Using CSS Selectors </li>
                            <ul>
                                <li>Basic CSS Selectors</li>
                                <li>Hierarchical Selectors</li>
                                <li>Attribute Selectors</li>
                            </ul>
                            <li>Adding JQuery Filters to your Selectors <ul>
                                <li>Basic Filters</li>
                                <li>Content Filters</li>
                                <li>Visibility Filters</li>
                                <li>Child-Specific Filters</li>
                                <li>Form Element Filters</li>
                            </ul>
                            <li>Survey of Additional JQuery</li>
                            </li>
                            </li></ul></li>
                            <li><strong>Event-Driven Programming with JQuery</strong>
                            <ul>
                                <li>Event Helper Methods</li>
                                <li>Interaction Helper: hover()</li>
                                <li>A Closer Look at the jQuery Event Object</li>
                                <li>jQuery Live Events and Event Delegation</li>
                                <li>Exploring Ways to Pass Data to Event Call backs</li>
                                <li>jQuery Custom Events</li>
                                <li>jQuery Special Events</li>
                            </ul>
                            </li>
                            <li><strong>JQuery and Ajax</strong>
                            <ul>
                                <li>The load() Method</li>
                                <li>Basic Ajax Requests with $.get() and $.post()</li>
                                <li>$.getJSON() and $.getScript()</li>
                                <li>Exercising Complete Control with $.ajax()</li>
                            </ul>
                            </li>
                            <li><strong>Extending JQuery</strong>
                            <ul>
                                <li>Adding Custom Filters to Selectors</li>
                                <li>Best Practices for Plugin Methods</li>
                                <li>Utility Method Plugins</li>
                                <li>jQuery Object Method Plugins</li>
                                <li>Providing Default Argument Values</li>
                            </ul>
                            </li>
                            
                        </ul> </div>

                    <br>
    <div class="col-md-6" ng-switch-when="jslib">
        <h2>Angular JS</h2>

        <ul class="marked-list-skin">
            <li><strong>Introduction to Angular JS</strong></li>
            
                <li><strong>Introduction to Single-Page-Apps, and how they contrast with traditional server centric web apps.</strong></li>
                <li><strong>How Angular.js is opinionated</strong></li>
                <li><strong>Angular.js Building Blocks</strong></li>
                <li><strong>Model View Controller</strong></li>
                <li><strong>Angular-js Bootstrap.</strong></li>
                <li><strong>Data Binding in Angular.js</strong></li>
                <li><strong>Modules</strong><ul>
                    <li>Properties</li>
                </ul> <li><strong>Controllers</strong></li>
                        <li><strong>Scope & rootScope</strong></li>
                        <li><strong>Dependency Injection in AngularJS</strong></li>
                        <li><strong>Directives</strong> <ul>
                            <li>Directives Overview</li>
                            <li>Understanding Built-in Directives</li>
                            <li>Creating Directives</li>
                            <li>The Directive Definition Object</li>
                            <li>Compilation and Linking</li>
                        </ul>
                        <li><strong>Filters</strong><ul>
                            <li>Filters Overview</li>
                            <li>Understanding Filter Expressions</li>
                            <li>Building custom Filters</li>
                        </ul>
                        <li><strong>Services</strong><ul>
                            <li>Services Overview</li>
                            <li>Modularity using Services</li>
                            <li>Injecting Services</li>
                        </ul>
                        <li><strong>Form Elements and validations</strong></li>
                        <li><strong>Form Events</strong></li>
                        <li><strong>Views, Templates and Data Binding</strong></li>
                        <li><strong>Routing using $location</strong></li>
                        <li><strong>Using Expressions, CSS Classes and Styles</strong></li>
                        <li><strong>Communicating over $http</strong><li>
                        <li><strong>Unit Testing</strong> <ul>
                            <li>Jasmine framework Introduction</li>
                            <li>How to write Test cases using Jasmine framework</li>
                            <li>Introduction to Karma framework</li>
                            <li>How to create a karma configuration file</li>
                        </ul>
                        <li><strong>Grunt</strong></li>
                        <li><strong>Gulp</strong></li>
        </ul>
    </div>

<div class="col-md-6" ng-switch-when="bejs">
    <h2>NodeJS</h2>
    <ul class="marked-list-skin">
        <li><strong>Adv. Javascript Overview</strong>
        <ul>
            <li>Object Literal</li>
            <li>Callbacks</li>
            <li>IIFE</li>
            <li>Closures</li>
            <li>Modular pattern</li>
            <li>Factory</li>
            <li>Events</li>
            <li>Non-blocking model</li> 
            <li>Prototypical inheritance</li>
            <li>Oops with Javascript</li>
        </ul>
        <li><strong>Introduction to NodeJS</strong>
        <ul>
            <li>Installing Node.js</li>
            <li>Node’s Event Loop</li>
            <li>Alternatives to Node.js</li>
            <li>Writing asynchronous code</li>
            <li>Nodejs Building Blocks</li>
            <li>REPL - first-code</li>
        </ul>
        <li><strong>Modularizing code</strong> <ul>
            <li>Understanding built-in modules</li>
            <li>Techniques for modularizing JavaScript code</li>
            <li>Using require() to modularize application code</li>
            <li>Using npm for third-party modules</li>
            <li>Handling Exceptions</li>
        </ul>
        <li><strong>Events & Streams</strong> <ul>
            <li>Understanding Events</li>
            <li>EventEmitter class</li>
            <li>Understanding Streams</li>
            <li>Reading and writing streams</li>
            <li>Using pipe()</li>
        </ul>
        <li><strong>Accessing Local Resources</strong> <ul>
            <li>Processing Objects</li>
            <li>Manipulating File Systems</li>
            <li>Understanding Buffers</li>
        </ul>
        <li><strong>NodeJS and the Web</strong> <ul>
            <li>Handling web requests</li>
            <li>Building a web server</li>
            <li>Understanding the need for web sockets</li>
            <li>Real time interaction using socket.io</li>
        </ul>
        <li><strong>Building web applications using Express.js
</strong> <ul>
    <li>Installing Express.js</li>
    <li>Routing</li>
    <li>Parameters and queries in routing</li>
</ul>
<li><strong>Jade Framework</strong></li>
<li><strong>Mongo DB</strong> <ul>
    <li>Mongoose</li>
    <li>CRUD Operations</li>
</ul>
    </ul>
</div>

<div class="col-md-6" ng-switch-when="bejs">
    <h2>MongoDB</h2>
    <ul class="marked-list-skin">
        <li><strong>Introduction & Overview</strong> <ul>
<li>Design Goals</li>
<li>the Mongo Shell</li>
<li>JSON Intro</li>
<li>installing tools</li>
<li>Overview of blog project. Bottle, Pymongo</li>
<li>CRUD (Creating, Reading and Updating Data)</li>
 <li>Mongo shell</li>
 <li>query operators</li>
<li>update operators and a few commands</li></ul>
<li><strong>Schema Design</strong> <ul>
<li>Patterns, case studies and tradeoffs</li>
<li>Using indexes</li>
<li>Monitoring and understanding performance</li>
<li>Performance in shared environments</li>
<li>Goals, the use of the pipeline, comparison with SQL facilities</li>
<li>Drivers</li>
 <li>Impact of replication and Sharding on design and development.</li></ul>
    </ul>
</div>


<br>

</div>



</div>



                    </div>
                </div>
            </div>
        </section>
    </main>