    <main class="tophat">
		
        <section class="well2">
            <div class="container">
            <h1>Linux</h1>
                <div class="row">
                    
                    <div class="col-md-8 col-sm-6">
                        
							<button class="btn btn-primary">Enroll</button>
							<p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p>
                            <br>

                            
                            
                             <dt class="h3 text-primary">Why Learn Linux Administration?</dt> <br>

                        <dd>95% of the industry is working on Linux platform. In your daily life, you are communicating

with Linux servers, major internet sites such as Facebook, Flipkart, Naukri, Google and many

more portal or deployed on Linux servers. In addition, most modern televisions and Android

mobiles run on Linux and industry is looking for skilled resources to maintain the Linux servers.</dd> <br>

<dd>On completion of this course you be eligible to apply for the following job roles Linux

Administrator or Systems Engineer or Technical support expert or Application support

Engineer or Sr.system Engineer and your duties will be to perform day to day

administration activates over Linux platform.</dd> <br>

 <dd>The purpose of this training is to explore Linux administration. This training

involves performing some of the day-to- day activities you would need to do as a Linux

administrator such as creating a user, group, setting permissions for them, backing up data,

restricting access to specific users, copying/moving files, managing processes and services, and

securing system.</dd> <br>
</div>
<div class="col-md-4"> 
<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div>
                        <article>
                    <div class="article_header">
                    <h1>More about your Instructor</h1><br>
                        <!-- <time class="h3" datetime="2015-01-01">12/09</time>
 -->                        <h2>Ravinder Singh</h2><br><br>
                            <h4>SME Linux & Networking</h4>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="">
                            <p>Ravi is an RHCSA & RHCE Redhat certified professional. With 10 + years of industry experience, he has trained a whooping 400+ batches on RHCSA and RHCE.
Adopting a strict fun-with-learning attitude brings up Ravi as a top of the line IT facilitator. As another feather in his ‘red hat’, he is also a certified Solaris & Jboss Administrator.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>
</div>
</div>
</div>
<div class="container">

                            <h2>
                            Description
                        </h2>

                        <p>
                            The purpose of this training is to explore Linux administration. This training involves
performing some of the day-to- day activities you would need to do as a Linux administrator such as
creating a user, group, setting permissions for them, backing up data, restricting access to specific users,
copying/moving files, managing processes and services, and securing system. </p>
                            <p>It also includes:</p>
                        </p>
                        <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul> 
                        </div>
                        

                        <div class="inline">
                        <p><span>Duration</span>:  20 working days</p> <p><span>Fees</span>:  Rs - 15,000/</p>
                        </div>
                        <br>
                        <div class="container">
                        <div class="row">
                        <div class="col-md-6">
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                        	<li><a href="#section-1" du-smooth-scroll du-scrollspy>Installation and Initialization</a></li>
<li><a href="#section-2" du-smooth-scroll du-scrollspy>Package management & Process monitoring</a></li>
<li><a href="#section-3" du-smooth-scroll du-scrollspy>System Services, Utilities, Important Files and Directories</a></li>
<li><a href="#section-4" du-smooth-scroll du-scrollspy>User Administration</a></li>
<li><a href="#section-5" du-smooth-scroll du-scrollspy>File System Security and Management</a></li>
<li><a href="#section-6" du-smooth-scroll du-scrollspy>Advanced File System Management</a></li>
<li><a href="#section-7" du-smooth-scroll du-scrollspy>Server Configurations</a></li>
<li><a href="#section-8" du-smooth-scroll du-scrollspy>Shell Scripting and Kerberos</a></li>
<li><a href="#section-9" du-smooth-scroll du-scrollspy>Configuring SMB Service, SMTP service and Virtualization</a></li>
<li><a href="#section-10" du-smooth-scroll du-scrollspy>Advanced Security and Networking Concepts</a></li>
<li><a href="#section-11" du-smooth-scroll du-scrollspy>Database Configuration</a></li>
<li><a href="#section-12" du-smooth-scroll du-scrollspy>IPv6 configuration, Kick-start Installation</a></li>
<li><a href="#section-13" du-smooth-scroll du-scrollspy>Prepare for the RHCE Exam</a></li>
                        </ul>
					<br></div>
                    <div class="col-md-6">
					<strong>
						<h4>Why should you register with Learning Virtue?</h4>
					</strong>
						
					<ul class="marked-list-skin">
						<li>We are one among the Top training and consulting company in India & the United States.</li>
                         <li>On completion of training, we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
<li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
<li>Prepare you to clear Red Hat certification</li>
					</ul></div></div></div></div>


    <div class="container middleSection"><div class="row well bg-primary">
    <div class="container">
                        <article>
                    <div class="article_header">
                    <h1>More about your Instructor</h1><br>
                        <!-- <time class="h3" datetime="2015-01-01">12/09</time>
 -->                        <h2>Ravinder Singh</h2><br><br>
                            <h4>SME Linux & Networking</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Ravi is an RHCSA & RHCE Redhat certified professional. With 10 + years of industry experience, he has trained a whooping 400+ batches on RHCSA and RHCE.
Adopting a strict fun-with-learning attitude brings up Ravi as a top of the line IT facilitator. As another feather in his ‘red hat’, he is also a certified Solaris & Jboss Administrator.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  


<div class="container">

<br>
<!-- <h3><strong>Content:</strong></h3>
 --><br>
<ol>
	<li id="section-1"><h4 class="h3 text-primary">Installation and Initialization</h4><p><strong>Learning Objectives</strong> - In this module, you will understand Linux architecture in general, booting process, how to install Centos7 OS, system initialization and some basic commands to get started.</p></li>
<br>
	
	<li id="section-2"><h4 class="h3 text-primary">Package management and Process monitoring</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about a) Package management which includes installing, updating and removing software. b) Topics on basic networking, tools needed etc. c) CMD's to monitor system processes and resources.</p></li>
<br>

<li id="section-3"><h4 class="h3 text-primary">Important Files, Directories and Utilities</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about how to manage services, important directories, files and configurations. Also included are topics on different data processing utilities.</p></li>
<br>


<li id="section-4"><h4 class="h3 text-primary">System Services</h4><p><strong>Learning Objectives</strong> - In this module, you will learn how to configure NTP service, Schedule jobs, Secure communication and copying of files, X Window system etc.</p></li>
<br>

	<li id="section-5"><h4 class="h3 text-primary">User Administration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn the concepts of user administration in Linux, how to add new user account, modify and delete existing user accounts etc. We will also discuss network users and file permission techniques.</p></li>
<br>

	<li id="section-6"><h4 class="h3 text-primary">File System Security and Management</h4><p><strong>Learning Objectives</strong> - In this module, you will understand the file system management which includes mounting, unmounting and automounter techniques. We will discuss details of file system security and also understand how permissions are applied.
</p></li>
<br>

	<li id="section-7"><h4 class="h3 text-primary"> Advanced file system management</h4><p><strong>Learning Objectives</strong> - In this module, we will learn how to create the Quota System, Reporting Quota Status etc, LVM Creation, Network Tools, File types, diff b/w soft and hard links etc.
</p></li>
<br>

	<li id="section-8"><h4 class="h3 text-primary"> Server configurations</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about DNS and Apache Configuration, Analyze and store logs.</p></li>
<br>
	

	<li id="section-9"><h4 class="h3 text-primary"> Shell scripting & Kerberos Authentication</h4><p><strong>Learning Objectives</strong> - In this module, you will learn how to write efficient shell scripts, how to configure Kerbersos system.</p></li>
<br>


	<li id="section-10"><h4 class="h3 text-primary"> Samba & Mail services, Virtualization </h4><p><strong>Learning Objectives</strong> - In this module, you will learn about Samba (SMB) Service, Mail Service (SMTP) and Linux Virtualization.</p></li>
<br>

	<li id="section-11"><h4 class="h3 text-primary"> Advanced security & Networking concepts</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about some advanced topics like SELinux, IPTables (Firewall Configuration), Aggregation & Bridging, Linux Containers.
</p></li>
<br>

	<li id="section-12"><h4 class="h3 text-primary"> Database Configuration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about MariaDB installation, creating basic schema, running queries and on how to perform backup, restore operations, iSCSI devices.
</p></li>
<br>
	

	<li id="section-13"><h4 class="h3 text-primary"> IPv6 configuration, Kickstart configuration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about IPv6 configuration and how to perform kickstart installation using different services.
</p></li>
<br>

<li id="section-14"><strong><h4 class="h3 text-primary"> Project – Prepare for the RHCE Exam</h4></strong><p><strong>Topics </strong> -
        Include questions from all the topics covered so far, new troubleshooting scenarios, Writing Scripts for given use cases, <br> Project for Certification, Q & A and Quick Recap.</p></li><br>



</ol>

                    </div>
                </div>
            </div>
        </section>

<section class="well2">

            
       </section>



        <!-- <section class="well2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h2>
                            Overview
                        </h2>
                        <ul class="row index-list">
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming aware
                                    </a>
                                </h3>

                                <p>
                                    involves early exposure to colleges and careers, interest mapping, guidance
                                    lessons and the completion.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming eligible
                                    </a>
                                </h3>

                                <p>
                                    involves students completing the
                                    necessary steps to proceed with their post-high school choice.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming prepared
                                    </a>
                                </h3>

                                <p>
                                    Students will need a well-rounded
                                    education in a wide array of subjects, good study and work habits, and the skills.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h2>
                            Careers
                        </h2>

                        <h3 class="text-primary">
                            Instructional Jobs
                        </h3>

                        <p>
                            Instructional jobs include classroom teachers, resource teachers,
                            instructional coaches, guidance
                            counselors, tutors, and many other.
                        </p>
                        <ul class="marked-list-skin">
                            <li><a href="#">Pre-Veterinary/Equine</a></li>
                            <li><a href="#">Biomedical Health Informatics</a></li>
                            <li><a href="#">Information Technology/Animation</a></li>
                            <li><a href="#">Culinary Arts/Hospitality and Tourism</a></li>
                            <li><a href="#">Engineering and Technology</a></li>
                            <li><a href="#">Aerospace Science</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">JROTC--Air Force, Army, Navy, Marines</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <h2>
                            Testimonials
                        </h2>
                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I love my kids attending the School District. We
                                    receive the small town treatment between students, teachers, parents, and even the whole
                                    community. Everyone pretty much knows everyone and everyone is there to help push the students.
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                Eva Adamson, USA
                            </cite></p>
                        </blockquote>

                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I am proud my daughters are a part of the School
                                    District. Each staff member goes above and beyond to educate my children. The teachers challenge and encourage kids to do the best they can at all levels. My girls love going to school every day!
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                David Austin, USA
                            </cite></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
 -->
    </main>