    <main class="tophat">
        
        <section class="well2">
            <div class="container">
            <h1>Soft Skills</h1>
                <div class="row">
                    
                    <div class="col-md-12 col-sm-6">
                        
                            <button class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            The great thing about learning soft skills is that most people already possess the foundation knowledge as they use it in their everyday lives, however, they are often unaware of how to transfer these social graces and everyday etiquette to their workplace.</p>
<p>Although some people can lead successful business careers without any training not everyone naturally possesses the key elements to this success. The focus of soft skills training is to hone natural ability into perfected skill in order to help you to reach your goals.</p>
                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div></div>
                        

                        <!-- <div class="inline">
                        <p><span>Duration</span>:  3 days (4 hours)</p> <p><span>Fees</span>:  Rs - 5,000</p>
                        </div>
 -->                        <br>
                        <div class="row">
                        <div class="col-md-6">
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                            <li>Negotiation Skills</li>
                            <li>Change Management</li>
                            
                            <li>Leadership Skills</li>
                            
                            <li>Presentation Effectiveness</li>
                            <li>Sales Training</li>
                            
                            <li>Influence people</li>
                            <li>Personality Development</li>
                            <li>Adult Learning Principles</li>
                            </ul></div>

                         

                            
                    <div class="col-md-6">
                    <strong>
                        <h4>Why should you register with Learning Virtue?</h4>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting companies in India & the United States.</li>
                         <li>On completion of training, we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are all professionally certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
                    </ul></div></div></div>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-12">
        <h3 class="h3 text-primary">Program Overview</h3>
            <p>The phrase ‘soft skills’ is often used to describe the skills which characterise relationships with other people, or which are about how you approach life and work.
Others phrases that are often used for these types of skills include: ‘people skills’, ‘interpersonal skills’, ‘social skills’ or ‘transferable skills’.</p>
<p>‘Hard skills’, by contrast, is a phrase usually used to describe job-specific skills. Examples of such skills include professional skills like bricklaying or accountancy, medical expertise such as diagnosis and treatment, or other skills that can be taught and whose presence is testable through exams.</p>
<p>Ironically, for many people, the so-called soft skills are often some of the hardest skills to develop.
Think of soft skills in the light of competition principles.
Imagine you are a company producing something, let’s say light bulbs. You come up with a revolutionary new technology. Your light bulbs are suddenly much better than others and your profits go up.
But, after a while, your competitors get hold of the technology: you license its use, perhaps, or they develop alternatives. Suddenly, light bulbs are all the same again and your profits are suffering. You still need the new technology, but you also need a new competitive edge.
Hard skills are like your technology: anyone can acquire them, with training, and they are necessary. Without them you will not be able to operate in the workplace. Soft skills are your unique selling point and give you a competitive edge in the workplace, and perhaps even in life.
</p> <br>

        </div>
    </div>
</div>


    <div class="container middleSection"><div class="row well bg-primary">
    <div class="container">
                        <article>
                    <div class="article_header">
                    <h1>More about your Instructor</h1><br>
                        <!-- <time class="h3" datetime="2015-01-01">12/09</time>
 -->                        <h2>Shymoe Daniel</h2><br><br>
                            <h4>Corporate Training</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based LearningCertified in Lean Six sigma</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  


<div class="container">

<!-- <br>
<h3><strong>Content:</strong></h3>
<br>
 --><!-- <ol>
    <li><h4 class="h3 text-primary">Installation and Initialization</h4><p><strong>Learning Objectives</strong> - In this module, you will understand Linux architecture in general, booting process, how to install Centos7 OS, system initialization and some basic commands to get started.</p></li>
<br>
    
    <li><h4 class="h3 text-primary">Package management and Process monitoring</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about a) Package management which includes installing, updating and removing software. b) Topics on basic networking, tools needed etc. c) CMD's to monitor system processes and resources.</p></li>
<br>

<li><h4 class="h3 text-primary">Important Files, Directories and Utilities</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about how to manage services, important directories, files and configurations. Also included are topics on different data processing utilities.</p></li>
<br>


<li><h4 class="h3 text-primary">System Services</h4><p><strong>Learning Objectives</strong> - In this module, you will learn how to configure NTP service, Schedule jobs, Secure communication and copying of files, X Window system etc.</p></li>
<br>

    <li><h4 class="h3 text-primary">User Administration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn the concepts of user administration in Linux, how to add new user account, modify and delete existing user accounts etc. We will also discuss network users and file permission techniques.</p></li>
<br>

    <li><h4 class="h3 text-primary">File System Security and Management</h4><p><strong>Learning Objectives</strong> - In this module, you will understand the file system management which includes mounting, unmounting and automounter techniques. We will discuss details of file system security and also understand how permissions are applied.
</p></li>
<br>

    <li><h4 class="h3 text-primary"> Advanced file system management</h4><p><strong>Learning Objectives</strong> - In this module, we will learn how to create the Quota System, Reporting Quota Status etc, LVM Creation, Network Tools, File types, diff b/w soft and hard links etc.
</p></li>
<br>

    <li><h4 class="h3 text-primary"> Server configurations</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about DNS and Apache Configuration, Analyze and store logs.</p></li>
<br>
    

    <li><h4 class="h3 text-primary"> Shell scripting & Kerberos Authentication</h4><p><strong>Learning Objectives</strong> - In this module, you will learn how to write efficient shell scripts, how to configure Kerbersos system.</p></li>
<br>


    <li><h4 class="h3 text-primary"> Samba & Mail services, Virtualization </h4><p><strong>Learning Objectives</strong> - In this module, you will learn about Samba (SMB) Service, Mail Service (SMTP) and Linux Virtualization.</p></li>
<br>

    <li><h4 class="h3 text-primary"> Advanced security & Networking concepts</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about some advanced topics like SELinux, IPTables (Firewall Configuration), Aggregation & Bridging, Linux Containers.
</p></li>
<br>

    <li><h4 class="h3 text-primary"> Database Configuration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about MariaDB installation, creating basic schema, running queries and on how to perform backup, restore operations, iSCSI devices.
</p></li>
<br>
    

    <li><h4 class="h3 text-primary"> IPv6 configuration, Kickstart configuration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about IPv6 configuration and how to perform kickstart installation using different services.
</p></li>
<br>

<li><strong><h4 class="h3 text-primary"> Project – Prepare for the RHCE Exam</h4></strong><p><strong>Topics </strong> -
        Include questions from all the topics covered so far, new troubleshooting scenarios, Writing Scripts for given use cases, <br> Project for Certification, Q & A and Quick Recap.</p></li><br>



</ol>

                    </div> -->
                </div>
            </div>
        </section>

<!-- <section class="well2">

            
       </section>
 -->


        <!-- <section class="well2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h2>
                            Overview
                        </h2>
                        <ul class="row index-list">
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming aware
                                    </a>
                                </h3>

                                <p>
                                    involves early exposure to colleges and careers, interest mapping, guidance
                                    lessons and the completion.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming eligible
                                    </a>
                                </h3>

                                <p>
                                    involves students completing the
                                    necessary steps to proceed with their post-high school choice.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming prepared
                                    </a>
                                </h3>

                                <p>
                                    Students will need a well-rounded
                                    education in a wide array of subjects, good study and work habits, and the skills.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h2>
                            Careers
                        </h2>

                        <h3 class="text-primary">
                            Instructional Jobs
                        </h3>

                        <p>
                            Instructional jobs include classroom teachers, resource teachers,
                            instructional coaches, guidance
                            counselors, tutors, and many other.
                        </p>
                        <ul class="marked-list-skin">
                            <li><a href="#">Pre-Veterinary/Equine</a></li>
                            <li><a href="#">Biomedical Health Informatics</a></li>
                            <li><a href="#">Information Technology/Animation</a></li>
                            <li><a href="#">Culinary Arts/Hospitality and Tourism</a></li>
                            <li><a href="#">Engineering and Technology</a></li>
                            <li><a href="#">Aerospace Science</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">JROTC--Air Force, Army, Navy, Marines</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <h2>
                            Testimonials
                        </h2>
                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I love my kids attending the School District. We
                                    receive the small town treatment between students, teachers, parents, and even the whole
                                    community. Everyone pretty much knows everyone and everyone is there to help push the students.
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                Eva Adamson, USA
                            </cite></p>
                        </blockquote>

                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I am proud my daughters are a part of the School
                                    District. Each staff member goes above and beyond to educate my children. The teachers challenge and encourage kids to do the best they can at all levels. My girls love going to school every day!
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                David Austin, USA
                            </cite></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
 -->
    </main>