    <main class="tophat" ng-controller="tabCtrl">
		
        <section class="well2">
            <div class="container">
            <h1>UI/UX</h1>
                <div class="row">
                    
                    <div class="col-md-12 col-sm-6">
                        
							<button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  UI Developer </strong></p>
                            <br>
                            <h2>
                            Description
                            </h2><br>


                            <p class="h4 text-primary">Why Learn UI/UX?</p>

                        <!-- <p>
                            The IT industry is now opting for open source technology for which the software are freely available and now this digital era most of our day today activities are done using the internet application which are built using open source application. Like do an online shopping through Flipkart or Amazon or booking your travel ticket using IRCTC or Make My trip or make a transaction through Net banking.</p> -->



                            <p>The purpose of this training is to explore on latest open source technologies. This training involves designing & development of web pages, performing validation as per the user requirement, working with the open source database, working on the look and feel of the web pages. It also includes:</p>

                            <ul class="marked-list-skin">
                                <li>Working with Html Tag and understand new versions</li>
                            <li>Understand the importance of validating the data</li>
                            <li>Understand web servers</li>
                            <li>Understand the database concepts.</li>
                            <li>Understanding and implementation of Mean stack and Full stack.</li>
                            </ul>

                            <br>
                        <div class="container">
                        <div class="row">
                        <div class="col-md-6">
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                        	<li>HTML5</li>
                            <li>CSS3</li>
                            <li>Java Script</li>
                            <li>Advanced Java Script</li>
                            <li>JQuery</li>
                            <li>Full Stack</li>
                            <li>Bootstrap</li>
                            <li>MEAN Stack :
                            <ul>   
                            <li>MongoDB</li>
                            <li>Express JS</li>
                            <li>Angular JS</li>
                            <li>Node JS</li>
                            </ul></li>
                        </ul>
					<br>
                        </div>
                        <div class="col-md-6">
					<strong>
						<h4>Why should you register with Learning Virtue?</h4>
					</strong>
						
					<ul class="marked-list-skin">
						<li>We are one among the Top training and consulting company in India & US and on completion of the training we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
<li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
<li>Based on your performance you may be absorbed as an employee and start working on our projects.</li>
					</ul>
<br>
</div>
    </div>  </div>

<ul class="nav nav-tabs">
  <li role="presentation" ng-class='{"active": tab == "html5"}'><a ng-click="tab='html5'">HTML5</a></li>
  <li role="presentation" ng-class='{"active": tab == "css"}'><a ng-click="tab='css'">CSS</a></li>
  <li role="presentation" ng-class='{"active": tab == "js"}'><a ng-click="tab='js'">Javascript</a></li>
  <li role="presentation" ng-class='{"active": tab == "bejs"}'><a ng-click="tab='bejs'">Back-end Javascript</a></li>
  <li role="presentation" ng-class='{"active": tab == "jslib"}'><a ng-click="tab='jslib'">Javascript Libraries/Plugins</a></li>

</ul>


<!-- <h3><strong>Content:</strong></h3> -->
<div class="container" ng-switch="tab">
<div class="row">
<div class="col-md-6" ng-switch-default>
<br>
<h2>HTML 5</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong></li>
<li><strong>Laying out a Page with HTML5</strong>
<ul>
<li>Page Structure</li>
<li>New HTML5 Structural Tags</li>
<li>Page Simplification</li></ul>
<li><strong>Sections and Articles </strong><ul>
<li>The section Tag</li>
<li>The article Tag</li>
<li>Outlining</li>
<li>Accessibility</li></ul>
<li><strong>HTML5 Audio and Video</strong>
<ul>
<li>Supported Media Types</li>
<li>The Audio Element</li>
<ul>
<li>Audio Formats</li>
<li>Multiple Sources</li>
<li>Audio Tag Attributes</li>
<li>Getting and Creating Audio Files</li></ul>
<li>The Video Element</li><ul>
<li>Video Tag Attributes</li>
<li>Creating and Converting Video Files</li></ul>
<li>Accessibility</li>
<li>Scripting Media Elements</li>
<li>Dealing with Non-Supporting Browsers</li>
</ul>

<li><strong>HTML5 Forms</strong><ul>
<li>New Input Types</li></ul>
<li><strong>HTML5 New Form Field Attributes</strong><ul>
<li>required</li>
<li>placeholder</li>
<li>autofocus</li>
<li>form</li></ul>
<li><strong>New Form Elements</strong></li>
<li><strong>HTML5 Web Storage</strong><ul>
<li>Overview of HTML5 Web Storage</li>
<li>Web Storage</li><ul>
<li>Browser Support</li>
<li>Local Storage</li>
<li>Session Storage</li></ul></ul>
<li><strong>HTML5 Canvas</strong><ul>
<li>Getting Started with Canvas</li>
<li>Drawing Lines</li>
<li>Color and Transparency</li>
<li>Rectangles</li>
<li>Circles and Arcs</li>
<li>Quadratic and Bezier Curves</li>
<li>Images</li><ul>
<li>drawImage() - Basic</li>
<li>drawImage() - Sprites</li></ul><li>Text</li></ul>
<br>


</div>


<div class="col-md-6" ng-switch-when="css">
<br>
<h2>CSS3</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong>
<ul>
<li>What is CSS3?</li>
<li>The history of CSS</li>
<li>How to Add CSS: Inline Styles, Head Styles, External Files</li>
<li>General Syntax: Attributes, Selectors, Cascades, etc.</li>
<li>Current State of Browser Support for CSS3</li>
<li>How We'll Check This: caniuse.com, IETester, tools.css3.info</li>



</ul>
<li><strong>HTML & CSS </strong><ul>
<li>How HTML relates to CSS</li>
<li>A basic overview of HTML5</li></ul>
<li><strong>Selectors, Pseudo Classes, and Pseudo Elements</strong>
<ul>
<li>E[foo^="bar"], E[foo$="bar"], etc.</li>
<li>:nth-child, :root, etc.</li>
<li>:before, :after, ::selection</li></ul>
<li><strong>Font & Text Effects</strong></li>
<li><strong>Color, Gradients, Background Images, and Masks</strong></li>
<li><strong>Border and Box Effects</strong></li>
<li><strong>Transforms, Transitions, and Animations</strong>
<ul>
   <li> translate(), rotate(), etc.</li>
<li> 3D: rotateX(), rotateY()</li>
<li> changing, for example, the width of a div on hover (without JS)</li>
<li> animations: @keyframes, animation</li>
</ul>
<li><strong>Layout: Columns, Flexible Box</strong>
<ul>
    <li>Column-count, Column-gap, Column-rule
<li>Multiple Column Layouts</li>
<li>Gaps between Columns</li>
<li>Box-orient, Box-pack, Box-align, Box-flex, etc.</li>
<li>Display: box</li>
<li>Grouping and Changing Orientation</li>
<li>Alignment</li>
</ul>
<li><strong>Vendor Prefixes</strong>
<ul>
   <li>Current status of -moz, -o, etc.</li>
<li>When and Why to Use </li>
</ul>

<li><strong>Embedding Media</strong>

<ul>
    <li>Simplified Video</li>
    <li>Audio Embedding with HTML5/CSS3</li>
</ul>
<li><strong>Implementing CSS3 in the "Real World"</strong>
<ul>
 <li>HTML5 Shims</li>
<li>jQuery</li>
<li>LESS, SASS, and Other CSS Preprocessors</li>
<li>CSS Grid Systems</li>
<li>CSS Frameworks</li>
</ul>


<br>


</div>


<div class="col-md-6" ng-switch-when="js">
<br>
<h2>Javascript</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong></li>
<li><strong>Getting started with Javascript</strong>
<ul>
<li>How to include JavaScript in an HTML document</li>
<li>Two ways to include JavaScript in the head of an HTML document</li>
<li>The JavaScript syntax</li>
<li>How to work with JavaScript data</li>
<li>Two illustrative applications </li></ul>
<ul>
<li><strong>JavaScript Objects, Functions, and Events</strong>
<ul>
    <li>How to use objects to work with data</li>
<li>How to use functions</li>
<li>How to handle events</li>
<li>Two illustrative applications</li>
</ul>
<li><strong>How To Script Forms and Controls</strong>
<ul>
    <li>DOM scripting properties and methods</li>
<li>The FAQs application</li>
<li>How to script forms and controls</li>
<li>The Register application</li>
<li>How to add new nodes to the DOM</li>
<li>The Register application with a table</li>
</ul>
<li><strong>How To Test and Debug a JavaScript Application</strong>
<ul>
    <li>An introduction to testing and debugging</li>
<li>AnHow to debug with Chrome’s developer tools</li>
<li>AnOther debugging methods</li>
</ul>
<li><strong>Numbers, Strings, and Dates</strong></li>
<li><strong>How To Code Control Statements</strong>
<ul>
    <li>How to code conditional expressions</li>
<li>How to code the selection structures</li>
<li>The Invoice application</li>
<li>How to code the iteration structures</li>
</ul>
<li><strong>Arrays and Web Storage
</strong>
<ul>
    <li>How to create and use an array</li>
<li>How to use the methods of an Array object</li>
<li>Other skills for working with arrays</li>
<li>How to use web storage</li>
<li>The Task Manager application</li>
</ul>


<li><strong>How To Create and Use Functions</strong></li>
<li><strong>How To Create and Use Objects</strong></li>
<li><strong>JavaScript Object Notation (JSON)</strong>
<ul>
    <li>An introduction to JSON</li>
<li>How to work with JSON in JavaScript</li>
<li>The Task Manager application</li>
<li>How to customize the stringify method</li>
<li>How to customize the parse method</li>
<li>The enhanced Task Manager application</li>
</ul>
<br>


</div>

<div class="col-md-6" ng-switch-when="js">
    <br>
    <h2>Advanced Javascript</h2>
    <ul class="marked-list-skin">
        <li><strong>Review of difficult Javascript</strong><ul>
            <li>Context</li>
            <li>Closures</li>
            <li>Inheritance</li> <ul>
                <li>New syntaxes</li>
                <li>Old Syntax</li>
                <li>Pseudo classical inheritance</li>
                <li>Patterns</li></ul></li></ul></li>
                <li><strong>Cross-domain communication</strong> <ul>
                    <li>Cross-domain 
                    communication options and issues</li>
                    <li>CORS on the client and server</li></ul>
                    <li><strong>Flow control</strong> <ul>
                        <li>Asynchronous programming</li>
                        <li>Advantages and disadvantages of nested callbacks</li>
                        <li>The "pyramid of doom" and problems with try/catch</li></ul>
                        <li><strong>Patterns for clean extensible design in larger JavaScript applications</strong> <ul>
                            <li>Namespaces</li>
                            <li>Service Locators</li>
                            <li>Dependency Injection</li>
                            <li>Inversion of Control</li>
                            <li>Messaging and event buses</li>
                            <li>Different types of events</li>
                            </li>
                        </ul></li>

                        </div>

                        <div class="col-md-6" ng-switch-when="jslib">
                        <br>
                        <h2>JQuery</h2>
                        <ul class="marked-list-skin">
                            <li><strong>Getting Started with JQuery</strong> <ul>
                                <li>Getting the Most Recent Version of JQuery</li>
                                <li>Framework Structural Overview</li>
                                <li>Using jQuery with Other Libraries</li>
                                <li>Commencing Execution When the DOM Tree is Ready</li>
                                <li>Survey of jQuery Utility Methods</li>
                            </ul></li>
                            <li><strong>Selecting and Manipulating DOM Elements with JQuery</strong><ul>
                                <li>Using CSS Selectors </li>
                            <ul>
                                <li>Basic CSS Selectors</li>
                                <li>Hierarchical Selectors</li>
                                <li>Attribute Selectors</li>
                            </ul>
                            <li>Adding JQuery Filters to your Selectors <ul>
                                <li>Basic Filters</li>
                                <li>Content Filters</li>
                                <li>Visibility Filters</li>
                                <li>Child-Specific Filters</li>
                                <li>Form Element Filters</li>
                            </ul>
                            <li>Survey of Additional JQuery</li>
                            </li>
                            </li></ul></li>
                            <li><strong>Event-Driven Programming with JQuery</strong>
                            <ul>
                                <li>Event Helper Methods</li>
                                <li>Interaction Helper: hover()</li>
                                <li>A Closer Look at the jQuery Event Object</li>
                                <li>jQuery Live Events and Event Delegation</li>
                                <li>Exploring Ways to Pass Data to Event Call backs</li>
                                <li>jQuery Custom Events</li>
                                <li>jQuery Special Events</li>
                            </ul>
                            </li>
                            <li><strong>JQuery and Ajax</strong>
                            <ul>
                                <li>The load() Method</li>
                                <li>Basic Ajax Requests with $.get() and $.post()</li>
                                <li>$.getJSON() and $.getScript()</li>
                                <li>Exercising Complete Control with $.ajax()</li>
                            </ul>
                            </li>
                            <li><strong>Extending JQuery</strong>
                            <ul>
                                <li>Adding Custom Filters to Selectors</li>
                                <li>Best Practices for Plugin Methods</li>
                                <li>Utility Method Plugins</li>
                                <li>jQuery Object Method Plugins</li>
                                <li>Providing Default Argument Values</li>
                            </ul>
                            </li>
                            
                        </ul> </div>

                    <br>
    <div class="col-md-6" ng-switch-when="jslib">
        <h2>Angular JS</h2>

        <ul class="marked-list-skin">
            <li><strong>Introduction to Angular JS</strong></li>
            
                <li><strong>Introduction to Single-Page-Apps, and how they contrast with traditional server centric web apps.</strong></li>
                <li><strong>How Angular.js is opinionated</strong></li>
                <li><strong>Angular.js Building Blocks</strong></li>
                <li><strong>Model View Controller</strong></li>
                <li><strong>Angular-js Bootstrap.</strong></li>
                <li><strong>Data Binding in Angular.js</strong></li>
                <li><strong>Modules</strong><ul>
                    <li>Properties</li>
                </ul> <li><strong>Controllers</strong></li>
                        <li><strong>Scope & rootScope</strong></li>
                        <li><strong>Dependency Injection in AngularJS</strong></li>
                        <li><strong>Directives</strong> <ul>
                            <li>Directives Overview</li>
                            <li>Understanding Built-in Directives</li>
                            <li>Creating Directives</li>
                            <li>The Directive Definition Object</li>
                            <li>Compilation and Linking</li>
                        </ul>
                        <li><strong>Filters</strong><ul>
                            <li>Filters Overview</li>
                            <li>Understanding Filter Expressions</li>
                            <li>Building custom Filters</li>
                        </ul>
                        <li><strong>Services</strong><ul>
                            <li>Services Overview</li>
                            <li>Modularity using Services</li>
                            <li>Injecting Services</li>
                        </ul>
                        <li><strong>Form Elements and validations</strong></li>
                        <li><strong>Form Events</strong></li>
                        <li><strong>Views, Templates and Data Binding</strong></li>
                        <li><strong>Routing using $location</strong></li>
                        <li><strong>Using Expressions, CSS Classes and Styles</strong></li>
                        <li><strong>Communicating over $http</strong><li>
                        <li><strong>Unit Testing</strong> <ul>
                            <li>Jasmine framework Introduction</li>
                            <li>How to write Test cases using Jasmine framework</li>
                            <li>Introduction to Karma framework</li>
                            <li>How to create a karma configuration file</li>
                        </ul>
                        <li><strong>Grunt</strong></li>
                        <li><strong>Gulp</strong></li>
        </ul>
    </div>

<div class="col-md-6" ng-switch-when="bejs">
    <h2>NodeJS</h2>
    <ul class="marked-list-skin">
        <li><strong>Adv. Javascript Overview</strong>
        <ul>
            <li>Object Literal</li>
            <li>Callbacks</li>
            <li>IIFE</li>
            <li>Closures</li>
            <li>Modular pattern</li>
            <li>Factory</li>
            <li>Events</li>
            <li>Non-blocking model</li> 
            <li>Prototypical inheritance</li>
            <li>Oops with Javascript</li>
        </ul>
        <li><strong>Introduction to NodeJS</strong>
        <ul>
            <li>Installing Node.js</li>
            <li>Node’s Event Loop</li>
            <li>Alternatives to Node.js</li>
            <li>Writing asynchronous code</li>
            <li>Nodejs Building Blocks</li>
            <li>REPL - first-code</li>
        </ul>
        <li><strong>Modularizing code</strong> <ul>
            <li>Understanding built-in modules</li>
            <li>Techniques for modularizing JavaScript code</li>
            <li>Using require() to modularize application code</li>
            <li>Using npm for third-party modules</li>
            <li>Handling Exceptions</li>
        </ul>
        <li><strong>Events & Streams</strong> <ul>
            <li>Understanding Events</li>
            <li>EventEmitter class</li>
            <li>Understanding Streams</li>
            <li>Reading and writing streams</li>
            <li>Using pipe()</li>
        </ul>
        <li><strong>Accessing Local Resources</strong> <ul>
            <li>Processing Objects</li>
            <li>Manipulating File Systems</li>
            <li>Understanding Buffers</li>
        </ul>
        <li><strong>NodeJS and the Web</strong> <ul>
            <li>Handling web requests</li>
            <li>Building a web server</li>
            <li>Understanding the need for web sockets</li>
            <li>Real time interaction using socket.io</li>
        </ul>
        <li><strong>Building web applications using Express.js
</strong> <ul>
    <li>Installing Express.js</li>
    <li>Routing</li>
    <li>Parameters and queries in routing</li>
</ul>
<li><strong>Jade Framework</strong></li>
<li><strong>Mongo DB</strong> <ul>
    <li>Mongoose</li>
    <li>CRUD Operations</li>
</ul>
    </ul>
</div>

<div class="col-md-6" ng-switch-when="bejs">
    <h2>MongoDB</h2>
    <ul class="marked-list-skin">
        <li><strong>Introduction & Overview</strong> <ul>
<li>Design Goals</li>
<li>the Mongo Shell</li>
<li>JSON Intro</li>
<li>installing tools</li>
<li>Overview of blog project. Bottle, Pymongo</li>
<li>CRUD (Creating, Reading and Updating Data)</li>
 <li>Mongo shell</li>
 <li>query operators</li>
<li>update operators and a few commands</li></ul>
<li><strong>Schema Design</strong> <ul>
<li>Patterns, case studies and tradeoffs</li>
<li>Using indexes</li>
<li>Monitoring and understanding performance</li>
<li>Performance in shared environments</li>
<li>Goals, the use of the pipeline, comparison with SQL facilities</li>
<li>Drivers</li>
 <li>Impact of replication and Sharding on design and development.</li></ul>
    </ul>
</div>


<br>

</div>



</div>



                    </div>
                </div>
            </div>
        </section>
    </main>