    <main class="tophat">
		
        <section class="well2">
            <div class="container">
            <h1>UI/UX</h1>
                <div class="row">
                    
                    <div class="col-md-12 col-sm-6">
                        <h2>
                            Description
                        </h2>
							<button class="btn btn-primary">Enroll</button>
                            <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  UI Developer </strong></p>
                            <br><br>

                            <p class="h4 text-primary">Why Learn UI/UX?</p>

                        <!-- <p>
                            The IT industry is now opting for open source technology for which the software are freely available and now this digital era most of our day today activities are done using the internet application which are built using open source application. Like do an online shopping through Flipkart or Amazon or booking your travel ticket using IRCTC or Make My trip or make a transaction through Net banking.</p> -->

                            <p>The purpose of this training is to explore on latest open source technologies. This training involves designing & development of web pages, performing validation as per the user requirement, working with the open source database, working on the look and feel of the web pages. It also includes:</p>

                            <ul class="marked-list-skin">
                                <li>Working with Html Tag and understand new versions</li>
                            <li>Understand the importance of validating the data</li>
                            <li>Understand web servers</li>
                            <li>Understand the database concepts.</li>
                            <li>Understanding and implementation of Mean stack and Full stack.</li>
                            </ul>

                            <br>
                        <div class="container">
                        <div class="row">
                        <div class="col-md-4">
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                        	<li>HTML5</li>
                            <li>CSS3</li>
                            <li>Java Script</li>
                            <li>Advanced Java Script</li>
                            <li>JQuery</li>
                            <li>Full Stack</li>
                            <li>Bootstrap</li>
                            <li>MEAN Stack :
                            <ul>   
                            <li>MongoDB</li>
                            <li>Express JS</li>
                            <li>Angular JS</li>
                            <li>Node JS</li>
                            </ul></li>
                        </ul>
					<br>
                        </div>
                        <br>
					<strong>
						<h4>Why should you register with Learning Virtue?</h4>
					</strong>
						
					<ul class="marked-list-skin">
						<li>We are one among the Top training and consulting company in India & US and on completion of the training we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
<li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
<li>Based on your performance you may be absorbed as an employee and start working on our projects.</li>
					</ul>
<br>

    </div>  </div>
<!-- <h3><strong>Content:</strong></h3> -->
<div class="container">
<div class="row">
<div class="col-md-4">
<br>
<h2>HTML 5</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong></li>
<li><strong>Laying out a Page with HTML5</strong>
<ul>
<li>Page Structure</li>
<li>New HTML5 Structural Tags</li>
<li>Page Simplification</li></ul>
<li><strong>Sections and Articles </strong><ul>
<li>The section Tag</li>
<li>The article Tag</li>
<li>Outlining</li>
<li>Accessibility</li></ul>
<li><strong>HTML5 Audio and Video</strong>
<ul>
<li>Supported Media Types</li>
<li>The Audio Element</li>
<ul>
<li>Audio Formats</li>
<li>Multiple Sources</li>
<li>Audio Tag Attributes</li>
<li>Getting and Creating Audio Files</li></ul>
<li>The Video Element</li><ul>
<li>Video Tag Attributes</li>
<li>Creating and Converting Video Files</li></ul>
<li>Accessibility</li>
<li>Scripting Media Elements</li>
<li>Dealing with Non-Supporting Browsers</li>
</ul>

<li><strong>HTML5 Forms</strong><ul>
<li>New Input Types</li></ul>
<li><strong>HTML5 New Form Field Attributes</strong><ul>
<li>required</li>
<li>placeholder</li>
<li>autofocus</li>
<li>form</li></ul>
<li><strong>New Form Elements</strong></li>
<li><strong>HTML5 Web Storage</strong><ul>
<li>Overview of HTML5 Web Storage</li>
<li>Web Storage</li><ul>
<li>Browser Support</li>
<li>Local Storage</li>
<li>Session Storage</li></ul></ul>
<li><strong>HTML5 Canvas</strong><ul>
<li>Getting Started with Canvas</li>
<li>Drawing Lines</li>
<li>Color and Transparency</li>
<li>Rectangles</li>
<li>Circles and Arcs</li>
<li>Quadratic and Bezier Curves</li>
<li>Images</li><ul>
<li>drawImage() - Basic</li>
<li>drawImage() - Sprites</li></ul><li>Text</li></ul>
<br>


</div>


<div class="col-md-4">
<br>
<h2>CSS3</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong>
<ul>
<li>What is CSS3?</li>
<li>The history of CSS</li>
<li>How to Add CSS: Inline Styles, Head Styles, External Files</li>
<li>General Syntax: Attributes, Selectors, Cascades, etc.</li>
<li>Current State of Browser Support for CSS3</li>
<li>How We'll Check This: caniuse.com, IETester, tools.css3.info</li>



</ul>
<li><strong>HTML & CSS </strong><ul>
<li>How HTML relates to CSS</li>
<li>A basic overview of HTML5</li></ul>
<li><strong>Selectors, Pseudo Classes, and Pseudo Elements</strong>
<ul>
<li>E[foo^="bar"], E[foo$="bar"], etc.</li>
<li>:nth-child, :root, etc.</li>
<li>:before, :after, ::selection</li></ul>
<li><strong>Font & Text Effects</strong></li>
<li><strong>Color, Gradients, Background Images, and Masks</strong></li>
<li><strong>Border and Box Effects</strong></li>
<li><strong>Transforms, Transitions, and Animations</strong>
<ul>
   <li> translate(), rotate(), etc.</li>
<li> 3D: rotateX(), rotateY()</li>
<li> changing, for example, the width of a div on hover (without JS)</li>
<li> animations: @keyframes, animation</li>
</ul>
<li><strong>Layout: Columns, Flexible Box</strong>
<ul>
    <li>Column-count, Column-gap, Column-rule
<li>Multiple Column Layouts</li>
<li>Gaps between Columns</li>
<li>Box-orient, Box-pack, Box-align, Box-flex, etc.</li>
<li>Display: box</li>
<li>Grouping and Changing Orientation</li>
<li>Alignment</li>
</ul>
<li><strong>Vendor Prefixes</strong>
<ul>
   <li>Current status of -moz, -o, etc.</li>
<li>When and Why to Use </li>
</ul>

<li><strong>Embedding Media</strong>

<ul>
    <li>Simplified Video</li>
    <li>Audio Embedding with HTML5/CSS3</li>
</ul>
<li><strong>Implementing CSS3 in the "Real World"</strong>
<ul>
 <li>HTML5 Shims</li>
<li>jQuery</li>
<li>LESS, SASS, and Other CSS Preprocessors</li>
<li>CSS Grid Systems</li>
<li>CSS Frameworks</li>
</ul>


<br>


</div>


<div class="col-md-4">
<br>
<h2>Javascript</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong></li>
<li><strong>Getting started with Javascript</strong>
<ul>
<li>How to include JavaScript in an HTML document</li>
<li>Two ways to include JavaScript in the head of an HTML document</li>
<li>The JavaScript syntax</li>
<li>How to work with JavaScript data</li>
<li>Two illustrative applications </li></ul>
<ul>
<li><strong>JavaScript Objects, Functions, and Events</strong>
<ul>
    <li>How to use objects to work with data</li>
<li>How to use functions</li>
<li>How to handle events</li>
<li>Two illustrative applications</li>
</ul>
<li><strong>How To Script Forms and Controls</strong>
<ul>
    <li>DOM scripting properties and methods</li>
<li>The FAQs application</li>
<li>How to script forms and controls</li>
<li>The Register application</li>
<li>How to add new nodes to the DOM</li>
<li>The Register application with a table</li>
</ul>
<li><strong>How To Test and Debug a JavaScript Application</strong>
<ul>
    <li>An introduction to testing and debugging</li>
<li>AnHow to debug with Chrome’s developer tools</li>
<li>AnOther debugging methods</li>
</ul>
<li><strong>Numbers, Strings, and Dates</strong></li>
<li><strong>How To Code Control Statements</strong>
<ul>
    <li>How to code conditional expressions</li>
<li>How to code the selection structures</li>
<li>The Invoice application</li>
<li>How to code the iteration structures</li>
</ul>
<li><strong>Arrays and Web Storage
</strong>
<ul>
    <li>How to create and use an array</li>
<li>How to use the methods of an Array object</li>
<li>Other skills for working with arrays</li>
<li>How to use web storage</li>
<li>The Task Manager application</li>
</ul>


<li><strong>How To Create and Use Functions</strong></li>
<li><strong>How To Create and Use Objects</strong></li>
<li><strong>JavaScript Object Notation (JSON)</strong>
<ul>
    <li>An introduction to JSON</li>
<li>How to work with JSON in JavaScript</li>
<li>The Task Manager application</li>
<li>How to customize the stringify method</li>
<li>How to customize the parse method</li>
<li>The enhanced Task Manager application</li>
</ul>
<br>


</div>

<div class="row">
    <div class="col-md-4">
<br>
<h2>Javascript</h2>
<ul class="marked-list-skin">
<li><strong>Introduction</strong></li>
<li><strong>Getting started with Javascript</strong>
<ul>
<li>How to include JavaScript in an HTML document</li>
<li>Two ways to include JavaScript in the head of an HTML document</li>
<li>The JavaScript syntax</li>
<li>How to work with JavaScript data</li>
<li>Two illustrative applications </li></ul>
<ul>
<li><strong>JavaScript Objects, Functions, and Events</strong>
<ul>
    <li>How to use objects to work with data</li>
<li>How to use functions</li>
<li>How to handle events</li>
<li>Two illustrative applications</li>
</ul>
<li><strong>How To Script Forms and Controls</strong>
<ul>
    <li>DOM scripting properties and methods</li>
<li>The FAQs application</li>
<li>How to script forms and controls</li>
<li>The Register application</li>
<li>How to add new nodes to the DOM</li>
<li>The Register application with a table</li>
</ul>
<li><strong>How To Test and Debug a JavaScript Application</strong>
<ul>
    <li>An introduction to testing and debugging</li>
<li>AnHow to debug with Chrome’s developer tools</li>
<li>AnOther debugging methods</li>
</ul>
<li><strong>Numbers, Strings, and Dates</strong></li>
<li><strong>How To Code Control Statements</strong>
<ul>
    <li>How to code conditional expressions</li>
<li>How to code the selection structures</li>
<li>The Invoice application</li>
<li>How to code the iteration structures</li>
</ul>
<li><strong>Arrays and Web Storage
</strong>
<ul>
    <li>How to create and use an array</li>
<li>How to use the methods of an Array object</li>
<li>Other skills for working with arrays</li>
<li>How to use web storage</li>
<li>The Task Manager application</li>
</ul>


<li><strong>How To Create and Use Functions</strong></li>
<li><strong>How To Create and Use Objects</strong></li>
<li><strong>JavaScript Object Notation (JSON)</strong>
<ul>
    <li>An introduction to JSON</li>
<li>How to work with JSON in JavaScript</li>
<li>The Task Manager application</li>
<li>How to customize the stringify method</li>
<li>How to customize the parse method</li>
<li>The enhanced Task Manager application</li>
</ul>
<br>


</div>
</div>


<br>

</div>



</div>

<ul>
	<li><p><strong>Topics </strong> -
		Introduction, Installation, Linux Architecture, Boot Process, Kernel, System Initialization, GRUB(Modify the system boot loader), GUI, CLI(Access a shell prompt and issue commands with correct syntax, Use input-output redirection (>, >>, |, 2>, etc.), create and edit text files, delete, copy, and move files and directories, Introduction to Bash Shell, Basic Commands, Editors, Man Pages, Boot systems into different targets manually & automatically,
	</p></li>
<br>
	<li><h4 class="h3 text-primary">Package management and Process monitoring</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about a) Package management which includes installing, updating and removing software. b) Topics on basic networking, tools needed etc. c) CMD's to monitor system processes and resources.</p></li>
<br>
	
</ul>

                    </div>
                </div>
            </div>
        </section>
    </main>