    <main class="tophat">
		
        <section class="well2">
            <div class="container">
            <h1>untitled</h1>
                <div class="row">
                    
                    <div class="col-md-12 col-sm-6">
                        <h2>
                            Description
                        </h2><br>
							<button ui-sref="login" class="btn btn-primary">Enroll</button>
                        <p>
                            The purpose of this training is to explore Linux administration. This training involves performing some of the day-to-day activities you would need to do as a Linux administrator such as creating a user, group, setting permissions for them, backing up data, restricting access to specific users, copying/moving files, managing processes and services, and securing system. 

                            It also includes:
                        </p>
                        <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with example tests</a>
                            </li>
                        </ul> <br>
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                        	<li>Installation and Initialization</li>
<li>Package management & Process monitoring</li>
<li>Services, Utilities, Important Files and Directories</li>
<li>System services</li>
<li>User Administration</li>
<li>File System Security and Management</li>
<li>Advanced File System Management</li>
<li>Server Configurations</li>
<li>Shell Scripting and Kerberos</li>
<li>Configuring SMB Service, SMTP service and Virtualization</li>
<li>Advanced Security and Networking Concepts</li>
<li>Database Configuration</li>
<li>IPv6 configuration, Kick-start Installation</li>
<li>Prepare for the RHCE Exam</li>
                        </ul>
					<br>

					<strong>
						<h4>Why should you register with Learning Virtue?</h4>
					</strong>
						
					<ul class="marked-list-skin">
						<li>We are one among the Top training and consulting company in India & US and on completion of the training we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are Red Hat certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
<li>Free training on Soft skill, Interview facing skills, resume writing and mock interviews.</li>
<li>Prepare you to clear Red Hat certification</li>
					</ul>
<br>
<h3><strong>Content:</strong></h3>
<br>
<ol>
	<li><h4 class="h3 text-primary">Installation and Initialization</h4><p><strong>Learning Objectives</strong> - In this module, you will understand Linux architecture in general, booting process, how to install Centos7 OS, system initialization and some basic commands to get started.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Introduction, Installation, Linux Architecture, Boot Process, Kernel, System Initialization, GRUB(Modify the system boot loader), GUI, CLI(Access a shell prompt and issue commands with correct syntax, Use input-output redirection (>, >>, |, 2>, etc.), create and edit text files, delete, copy, and move files and directories, Introduction to Bash Shell, Basic Commands, Editors, Man Pages, Boot systems into different targets manually & automatically,
	</p></li>
<br>
	<li><h4 class="h3 text-primary">Package management and Process monitoring</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about a) Package management which includes installing, updating and removing software. b) Topics on basic networking, tools needed etc. c) CMD's to monitor system processes and resources.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Securing single-user mode (su login), Shutting down and rebooting the system, RPM Package Manager, Installing and Removing Software, rpm Queries, rpm Verification, About yum, Using yum, Searching packages/files, Configuring local Repositories, What processes are?, The properties of a process, Parent processes and child processes, Killing processes and sending signals to a process (kill, killall, xkill), How to start processes, monitor them, Identify CPU/memory intensive processes, adjust process priority, start/stop/check the status of network services, Configure networking and hostname resolution statically or dynamically,	</p></li>
<br>
<li><h4 class="h3 text-primary">Important Files, Directories and Utilities</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about how to manage services, important directories, files and configurations. Also included are topics on different data processing utilities.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Control services and Daemons, Start and stop services and configure services to start automatically at boot, /dev & /proc directories, system documentation under /usr/share/doc, Awk, Sed, use grep and regular expressions to analyze text, Archive, compress, unpack, and uncompress files using tar, star, gzip, and bzip2, dump, restore, Locate and interpret log files,
	</p></li>
<br>

<li><h4 class="h3 text-primary">System Services</h4><p><strong>Learning Objectives</strong> - In this module, you will learn how to configure NTP service, Schedule jobs, Secure communication and copying of files, X Window system etc.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Network Time Protocol, X Windows, SSH: Secure Shell (Access remote systems using ssh, SCP, Passwordless SSH, Configure key-based authentication for SSH), Cron, Controlling Access to cron, System crontab Files, Daily Cron Jobs, Anacron Scheduler,
	</p></li>

	<br>

	<li><h4 class="h3 text-primary">User Administration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn the concepts of user administration in Linux, how to add new user account, modify and delete existing user accounts etc. We will also discuss network users and file permission techniques.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Adding a New User Account, User Private Groups, Modifying / Deleting User Accounts, Group Administration, Password Aging Policies, Switching Accounts, sudo access, Network Users, Authentication Configuration, SUID and SGID Executable, SGID Directories, The Sticky Bit, Default File Permissions, , Changing file ownership (chown), Changing file group ownership (chgrp), Permissions on files, Permissions on directories, How permissions are applied, Changing permissions (chmod),Access Control Lists (ACLs),.	</p></li>

	<br>

	<li><h4 class="h3 text-primary">File System Security and Management</h4><p><strong>Learning Objectives</strong> - In this module, you will understand the file system management which includes mounting, unmounting and automounter techniques. We will discuss details of file system security and also understand how permissions are applied.
</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Device Recognition, Disk Partitioning, Managing Partitions, Making Filesystems(vfat, ext4, and xfs,), Mount and unmount CIFS and NFS network file systems, Filesystems and types, Labels, tune2fs, Mount Points and /etc/fstab, Mounting Filesystems with mount, Unmounting Filesystems, Handling Swap Files and Partitions, NFS server and NFS Client, NFS share for group collaboration, Mounting NFS Filesystems, Use Kerberos to control access to NFS network shares, Automounter, 
	</p></li>

	<br>

	<li><h4 class="h3 text-primary">Advanced file system management</h4><p><strong>Learning Objectives</strong> - In this module, we will learn how to create the Quota System, Reporting Quota Status etc, LVM Creation, Network Tools, File types, diff b/w soft and hard links etc.
</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Special file types, Symbolic links (ln -s), Inodes and directory entries, Hard links, Preserving links while copying and archiving, Configuring the Quota System, Setting Quotas for Users, Reporting Quota Status, What is Logical Volume Manager (LVM)?, Creating Logical Volumes, Resizing Logical Volumes, Network Interfaces, IPv4 Addresses, Dynamic IPv4 Configuration, Static IPv4 Configuration, Device Aliases, Routing Table, Default Gateway, Verify IP Connectivity, Defining the Local Host Name, Local Resolver, Remote Resolvers, Verify DNS Connectivity, Network Tools, NFS server and NFS Client, NFS share for group collaboration, 
	</p></li>

	<br>

	<li><h4 class="h3 text-primary">Server configurations</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about DNS and Apache Configuration, Analyze and store logs.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Configure BIND to function as a caching-only DNS server, Configure a caching-only name server to forward DNS queries, Troubleshoot DNS client issues, Configuring BIND options, Configuring directory location for zone files, Apache Overview, Apache Server Configuration, Virtual Hosts, Apache Access Configuration, Deploy a basic CGI application, Configure TLS security, Configure private directories, Analyze and store logs,
	</p></li>

	<br>

	<li><h4 class="h3 text-primary">Shell scripting & Kerberos Authentication</h4><p><strong>Learning Objectives</strong> - In this module, you will learn how to write efficient shell scripts, how to configure Kerbersos system.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Shell Scripting basics, loops, shell variables, arrays, writing scripts, Kerberos authentication.</p></li>


<br>

	<li><h4 class="h3 text-primary"> Samba & Mail services, Virtualization </h4><p><strong>Learning Objectives</strong> - In this module, you will learn about Samba (SMB) Service, Mail Service (SMTP) and Linux Virtualization.</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Configure SMB to provide network share to clients, Configure mail server to forward all emails to Central mail server, Introduction to KVM Virtualization, Virtual Machine installation, Configuring Virtual Machines, Install centos systems as virtual guests, Configure systems to launch virtual machines at boot,</p></li>


<br>

	<li><h4 class="h3 text-primary">Advanced security & Networking concepts</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about some advanced topics like SELinux, IPTables (Firewall Configuration), Aggregation & Bridging, Linux Containers.
</p></li>
<br>
	<li><p><strong>Topics </strong> -
		SELinux Overview, SELinux Tools, SELinux Contexts, SELinux Booleans, Use SELinux port labeling to allow services to use non-standard ports, Diagnose and address selinux policy violations, Configure firewall settings, N/W port security, Route IP traffic and create static routes, Boot level security (GRUB), Security need for TCP wrappers, Configure aggregated links between two systems, Use firewalld and associated mechanisms such as rich rules, zones and custom rules, to implement packet filtering and configure network address translation (NAT), Use /proc/sys and sysctl to modify and set kernel runtime parameters, Linux Containers, </p></li>

		<br>

	<li><h4 class="h3 text-primary">Database Configuration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about MariaDB installation, creating basic schema, running queries and on how to perform backup, restore operations, iSCSI devices.
</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Install MariaDB, Schema Creation and Writing Queries, backup & restore operations, Configure a system as either an iSCSI target or initiator that persistently mounts an iSCSI target, Annie’s Quizzes, LAB, Q & A and Quick Recap.
</p></li>

		<br>

	<li><h4 class="h3 text-primary">IPv6 configuration, Kickstart configuration</h4><p><strong>Learning Objectives</strong> - In this module, you will learn about IPv6 configuration and how to perform kickstart installation using different services.
</p></li>
<br>
	<li><p><strong>Topics </strong> -
		Ipv6 configuration, kickstart installation using NFS, HTTP services, Setting Grub Password, Setting root password for single user mode from Grub page, Configure systems to mount file systems at boot by Universally Unique ID (UUID) or label, List, create, delete partitions on MBR and GPT disks. </p></li>

<br>
<li><strong><h4 class="h3 text-primary">Project – Prepare for the RHCE Exam</h4></strong></li><br>
<li><p><strong>Topics </strong> -
		Include questions from all the topics covered so far, new troubleshooting scenarios, Writing Scripts for given use cases, Project for Certification, Q & A and Quick Recap.</p></li>

</ol>

                    </div>
                </div>
            </div>
        </section>





        <!-- <section class="well2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h2>
                            Overview
                        </h2>
                        <ul class="row index-list">
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming aware
                                    </a>
                                </h3>

                                <p>
                                    involves early exposure to colleges and careers, interest mapping, guidance
                                    lessons and the completion.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming eligible
                                    </a>
                                </h3>

                                <p>
                                    involves students completing the
                                    necessary steps to proceed with their post-high school choice.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming prepared
                                    </a>
                                </h3>

                                <p>
                                    Students will need a well-rounded
                                    education in a wide array of subjects, good study and work habits, and the skills.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h2>
                            Careers
                        </h2>

                        <h3 class="text-primary">
                            Instructional Jobs
                        </h3>

                        <p>
                            Instructional jobs include classroom teachers, resource teachers,
                            instructional coaches, guidance
                            counselors, tutors, and many other.
                        </p>
                        <ul class="marked-list-skin">
                            <li><a href="#">Pre-Veterinary/Equine</a></li>
                            <li><a href="#">Biomedical Health Informatics</a></li>
                            <li><a href="#">Information Technology/Animation</a></li>
                            <li><a href="#">Culinary Arts/Hospitality and Tourism</a></li>
                            <li><a href="#">Engineering and Technology</a></li>
                            <li><a href="#">Aerospace Science</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">JROTC--Air Force, Army, Navy, Marines</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <h2>
                            Testimonials
                        </h2>
                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I love my kids attending the School District. We
                                    receive the small town treatment between students, teachers, parents, and even the whole
                                    community. Everyone pretty much knows everyone and everyone is there to help push the students.
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                Eva Adamson, USA
                            </cite></p>
                        </blockquote>

                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I am proud my daughters are a part of the School
                                    District. Each staff member goes above and beyond to educate my children. The teachers challenge and encourage kids to do the best they can at all levels. My girls love going to school every day!
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                David Austin, USA
                            </cite></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
 -->
    </main>