<main class="tophat">
        <section class="page404">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12 center767">
                        <h2>404<span class="text-primary">Page Not Found</span></h2>

                        <p>The page you are looking for might have been removed, had its name <br/>
                            changed, or is temporarily unavailable. </p>


                        <!-- <form class="search-form" action="search.php" method="GET" accept-charset="utf-8">
                            <label class="search-form_label">
                                <input class="search-form_input" type="text" name="s" autocomplete="off"
                                       placeholder=""/>
                                <span class="search-form_liveout"></span>
                            </label>
                            <button class="search-form_submit" type="submit"></button>
                        </form> -->
                    </div>
                    <div class="col-md-5 col-sm-6 col-xs-12 center767">
                        <span class="material-icons-lock_outline"></span>
                    </div>
                </div>
            </div>
        </section>
    </main>