<main class="tophat">
        <section class="page404">
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-6 col-xs-12 center767">
                        <h2>404<span class="text-primary">Page Not Found</span></h2>

                        <p>The page you are looking for might have been removed, had its name <br/>
                            changed, or is temporarily unavailable. </p>
                        </div>
                        <div class="col-md-5 col-sm-6 col-xs-12 center767">
                        <span class="material-icons-lock_outline"></span>
                    </div>
                </div>
            </div>
        </section>
    </main>