    <main class="tophat">
        <section class="parallax parallax2 galleryparallax well5" data-url="images/parallax2.jpg" data-mobile="true">
            <div class="container text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <h1>About Us</h1>

                <p>This leap is a decision that you need to take in your career. If you are edging towards training, you are at the right place!
Our team of facilitators believes training to be a noble profession that makes you a mentor, a leader and sometimes even an idol. That is a very powerful position if you ask us, for it is a position of influence in other people’s lives and/or their outlook.
</p>
                <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
        </section>

        <section class="well2">
            <div class="container">
                <div class="row">
                    <article class="col-md-6 col-sm-12 center767">
                        <h2>
                            Who are we?
                        </h2>

                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img01.jpg" alt=""></a>
                        </div>

                        <h3 class="text-primary">
                            From the very beginning
                        </h3>

                        <p>
                            Learning Virtue is a training company that focuses on bringing together aspiring trainers to help them realize their dreams of becoming the best trainers in the industry.
We, at Learning Virtue, train you to be world class facilitators and guide you towards excellence. We put you through rigorous sessions to bring out the best in you.                        </p>
                        <!-- <a href="#" class="btn btn-primary">Learn More</a> -->
                    </article>
                    
                    <div class="col-md-6 col-sm-6">
                        <h2>
                            Credibility
                        </h2>

                        <p>
                            Learning Virtue is a sister company to Enthsquare – a leading IT Solutions company in the U.S., operating out of New Jersey and Virginia and Hyderabad in India.
During the course of more than 4 years, Enthsquare has been able to provide and fulfill the IT or Program Management staffing requirements of several end-users or clients by recruiting the most qualified personnel for the fulfillment of various projects.                        </p>
                                                <p>Enthsquare has placed over 120 personnel successfully in Information Technology staffing positions in various companies like eBay, Walgreens, Cisco Systems Inc.; several Healthcare organizations like United Healthcare, Aetna, Kaiser Permanente and New York Presbyterian Hospitals; state customers like New York Department of Education, New York City Department of Information Technology and Telecommunications, New York Department of Transportation, State of Connecticut Judicial Department and financial institutions like Fannie Mae, and Bank of America. Enthsquare, Inc. continues to grow at a tremendous rate.

We have managed to attract more than 30 highly qualified personnel in the first 6 months of this year (2016) surpassing our hiring rate in 2015.
</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="well2">
            <div class="container">
                <div class="row">
                <div class="col-md-12  col-sm-6">
                        <h2>
                            What is Learning Virtue all about?
                        </h2>

                        <div class="block-icon block-icon__skin">
                            <div class="icon">
                                <span class="material-icons-access_time "></span>
                            </div>

                            <h3 class="text-primary"><a href="#">Mission</a></h3>

                            <p>To transform individuals into outstanding, effective professionals by delivering a world class learning experience in a high quality learning environment</p>

                        </div>

                        <div class="block-icon block-icon__skin">
                            <div class="icon">
                                <span class="material-icons-attach_file"></span>
                            </div>

                            <h3 class="text-primary"><a href="#">Our Vision</a></h3>

                            <p>To empower our participants so they can’t imagine not succeeding, and
To provide unparalleled quality to our partners and participants</p>

                        </div>

                        <!-- <div class="block-icon block-icon__skin">
                            <div class="icon">
                                <span class="material-icons-card_giftcard"></span>
                            </div>

                            <h3 class="text-primary"><a href="#"></a>Video Teaser</h3>
                            <br>
                            <iframe width="360" height="315" src="https://www.youtube.com/embed/7sHSlvhfrWw" frameborder="0"></iframe>
                            

                        </div> -->

                    </div>

                    <div class="col-md-6 col-sm-12" ng-hide="true">
                        <h2>
                            Testimonials
                        </h2>
                        <p>We can say that we need your hard work, dedication, we need you to be ‘go-getters’ etc. But we will sum it up in one word – Passion. We need your passion for training.
Learning Virtue is an institute that has a certified team of world class trainers that have the same belief and idea about Learning – To Empower our students.</p>
<p>
We believe that training is a noble profession that imparts learning and results in growth of the individuals who not only ask for it but who deserve it. We believe in the theory that the ‘Cup must be empty’.
Learning Virtue was founded in the year 2016 as an IT and Corporate Training Company.</p>

<p>Out of all the virtues, the virtue of ‘Learning’ is the one that is humble and gratifying at the same time. Hence, Learning Virtue was born.</p>

<p>We are a sister concern of Enthsquare that is headquartered in Hasbrouck Heights, NJ, with a branch location in East Brunswick, NJ. We also have a branch location in Herndon, VA to best serve the interests of our Federal clients in DC and the National Capital Region.
</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="well2">
            <div class="container">
                <div class="row">
                    <h2>The tree of learning is green from all sides - Always</h2>
                    <p>
The single green leaf is symbolic of learning as a process that remains ever green.

At Learning Virtue, the facilitators take care in implementing coaching, training, teaching and facilitation techniques to provide maximum learning and retention. By providing a combination of all these techniques, we are able to reach out to every type of learner – kinesthetic, auditory and/or visual. We make complete use of the modern media elements to increase the understanding, relativity of concepts and implementation in real time scenarios.</p>

<p>Learning Virtue was set up after a careful study and analysis of the need of the hour today. The outcome was an equal requirement in both technical and non-technical fields. Upon our studies and research, we were able to understand the pulse of the audience of today – the crave for genuinity and practical implementations. 
We worked on our content and training sessions, both technical and non-technical, keeping it genuine and packing it with real time scenarios. We believe this to be our USP. </p>

<p>That is why, ‘The Tree of Learning is Green from all sides’, for us.</p>

<p>It is this thought that drives and motivates us continuously to excel in what we do, and helps us to drive the passion in those who join us – to have a constant thirst for excellence. And now, we have a stupendous record of providing the brightest minds and the brightest solutions which are considered nothing less than excellent. </p>

<p>This motivation allows us to acquire the correct talent and provide our partners and customers with solutions or people. And yes, we do that every single day. </p>

<p>Learning Virtue has highly qualified staff trained in various IT technologies and are Master trainers in various corporate training fields. They possess immense field experience in providing IT services, hardware installations and configurations, problem solving and help desk services. We have built a track record in that. We can boast that we have an army of excellence. Our Learning Virtue talent pool has extensive IT skills, communication skills and exemplary soft skills.</p>

<p>Our Clients and Partners experience this trend regularly and hence we have their trust and a long term relationship. Whatever may be the requirement, we are here to deliver. </p>
                </div>
            </div>
        </section>

    </main>