<main class="tophat">
<section>
    <div class="container tophat" >
        <div ui-calendar ng-model="eventSources">  </div>
    </div>
</section>
	<section class="well2 bg-primary">
            <div class="container">
                <h2>Fast Track Training</h2>

                <div class="row offs">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <a fancybox class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img15.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Student & Family Handbook</h3>

                        <p>Local author, Susan Beattie, visited Elementary School today with Luke, her rescue dog. She shared her book, Luke’s Story, explained to the students... </p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <a fancybox class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img16.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Pic of the Day</h3>

                        <p>The largest group of students in school history has qualified for the DECA state competition in March. Eleven of Mrs. Melissa Basinger’s students...</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="well2">
            <div class="container">
                <h2>Current Training's available</h2>
                <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">20 days</time>
                        <h3>Linux</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>95% of the industry is working on Linux platform. In your daily life, you are communicating with Linux servers, major internet sites such as Facebook, Flipkart, Naukri, Google and many more portal or deployed on Linux servers. In addition, most modern televisions and Android mobiles run on Linux and industry is looking for skilled resources to maintain the Linux servers. </p>
                        </div><a href="#" class="btn btn-primary">Course Breakdown</a>
                    </div>
                </article>

                <div class="container">
                    <hr/>
                </div>

               
                
                <!-- <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">17/09</time>
                        <h3>Beat the Winter Blues with Community Education - Now Enrolling
                        </h3>
                    </div>

                    <p>Community Education, the School District's lifelong learning program, is currently taking enrollment for our popular winter session of classes.
                        Our class catalog can be found inserted into the Sunday, January 3, 2016 Idaho Statesman (subscribers only), mailed to local residents (by January 8, 2016), in Boise Public Library branches, online at www.boiselearns.org, or click on the course catalog image below. Click here to review a PDF of the catalog. Winter session runs
                        January 25th through March 17th. Register up to the night a class begins (space permitting). Registration continues through the end of the session.  </p>
                </article> -->

            </div>
        </section>
</main>