<main class="tophat">
        

        <section class="well2">
        <div class="container">
<h1>Career Goals</h1>
<div class="goalButtons">
                                        <button class="toggle">I'm Sure of my Career Goals</button>
                                        <button class="toggle">I need help deciding on my Career Goals</button>
                                    </div>
        <div class="container careerGoals">

             <div class="">
                        <h1>
                            Career Paths
                        </h1>

                        <p>
                            Choose your desired career path from the list below:
                        </p>
                        <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Linux Administrator</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">UI Administrator</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Software Engineer </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Web Developer </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Network Engineer </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Database Administrator </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Certified Professional (CCIE) </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Certified Professional (CCNP) </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Voice and Accent Trainer </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Soft Skills Trainer </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Certified Professional in Communication Skills </a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#"> Certified Professional in Soft Skills </a>
                            </li>

                        </ul><br>
                                            </div>


        </div>
        
            <div class="container careerGoals"><h1>Career Goals</h1>
                                    
                    
            </div>
</div>
        </section>

    </main>