<main class="tophat" ng-controller="scrollCtrl">
          <section class="parallax para-laxing well3" data-url="images/parallax2.jpg" data-mobile="true">
            <div class="container text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <h1>Career Goals</h1>

                <p>The district has 21 elementary schools including 3 magnet elementary schools, 7 middle schools including 2 magnet
                    <br/> middle schools and 1 charter middle school, and 6 high schools including 1 magnet high school, and 1 charter high school.</p>
                <!-- <a href="#" class="btn btn-primary">Read More</a>
 -->            </div>
        </section>
      

        <section class="well2">
        <div class="container">

            
            <div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>I'm sure of my career goals</th>
                                <th>I'm NOT sure of my career goals</th>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="linux">Linux Administrator</a></td>
                                <td>Graduation Done? Don't know what to do next? <span class="linkLight"> <a du-smooth-scroll="section-1" du-scrollspy>More Info ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="ui-ux">UI/UX Development</a></td>
                                <td>Graduated with a non-IT background, But want to switch to an IT role? <span class="linkLight"> <a du-smooth-scroll="section-2" du-scrollspy>More Info ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="java">Software Engineer</a></td>
                                <td>Are you an IT Guru, but lack communication skills? <span class="linkLight"> <a du-smooth-scroll="section-3" du-scrollspy>More Info ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="web-developer">Web Developer</a>
                                </td>
                                <td>Did you lose an oppurtunity because of your language skills? <span class="linkLight"> <a du-smooth-scroll="section-4" du-scrollspy>More Info ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="cisco">Network Engineer</a></td>
                                <td>Want to build your interpersonal & Communication skills? <span class="linkLight"> <a du-smooth-scroll="section-5" du-scrollspy>More Info ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="dba">DataBase Administrator</a></td>
                                <td>Training/Software fields appeal to you? <span class="linkLight"> <a du-smooth-scroll="section-6" du-scrollspy>More Info ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="cisco">CISCO Certified (CCNP, CCIE)</a></td>
                                <td>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="workshops">Voice & Accent Training</a></td>
                                <td>                                </td>
                            </tr>
            
            
                            <tr>
                                <td><a ui-sref="workshops">Soft Skills Trainer</a></td>
                                <td>                                </td>
                            </tr>
            
            
                            <tr>
                                <td><a ui-sref="workshops">Certified Communication Skills Professional</a></td>
                                <td>
                                </td>
                            </tr>
            
            
                            <tr>
                                <td><a ui-sref="workshops">Certified Soft Skills Professional</a></td>
                                <td>                                </td>
                            </tr>
                        </table>
                    </div>
</div>
        </section>

            

            <section class="well2">
                <div class="container" id="section-1">
                    <div class="row">
                        <dl class="term-list">
                        <dt class="h3 text-primary">Graduation Done? Don't know what to do next?</dt>

                        <dd>Don’t worry! It is a common woe which every fresh graduate goes through. But we are not here to preach, we are here to take you forward.

Let’s see how…

First things first: You should know that no matter which subject or field you might have graduated in, you will always have options to become great.

Secondly, we have built all these options together and built various programs to boost your skills. All these programs are created with an end result in mind.

By ‘end result’, we mean, we get you the required training, provide you with hands on experience and not only that, we place you at a job relevant to your

training. That means once we select you for our training sessions, you are sorted in that field.

Third and the most important point is that after graduation, there is a sea of opportunities.</dd>
<ul class="marked-list-skin">
    <li><a ui-sref="college-corporate"> Soft skills Trainer </a></li>
<li>Communication Trainer </li>
<li>Technical Expert with good communication skills</li>
<li>Linux Administrator </li>
<li>Web Developer</li> 
<li>CCIE Trained IT professional </li>
<li>CCNA Trained IT professional </li>
<li>Voice and Accent Trainer</li>
</ul>

                        <dt class="h3 text-primary" id="section-2">Graduated in non IT, now want to become an IT Professional?</dt>

                        <dd>You got it! Yes, that is right, it is possible – with us. If you have not graduated in an IT field, you can still be trained with us to become an IT professional.
This is how…
We have put together courses that will enable you to become a trained IT professional. You can choose from the following career options for which we can train you:

                        </dd>
                        
                        <ul class="marked-list-skin">
                            <li>Linux Administrator</li>
                            <li>Web Developer </li>
                            <li>Technical Expert </li>
                            <li>CCIE Trained Professional </li>
                            <li>CCNA Trainer Professional </li>
                        </ul>

                        <dt class="h3 text-primary" id="section-3">Are you an IT Guru, but lack communication skills?</dt>

                        <dd>We understand! In our professional careers, we have noticed that our talented IT professionals, though highly skilled in IT, have almost always faced challenges communicating their ideas or thoughts. That is a big drawback.</dd> <br>

                        <h4>Why is communication important to an IT professional?</h4> <br>

                        <dd>Consider this – In a technology driven office environment, organizations are trying to make everything cost effective. All IT related issues and tests are routed to the Indian IT departments from all over the world. Reason? It is simple - It is more cost effective and time effective as we provide quick responses. To cater to all the queries from around the world, communication skills becomes a must. With that, proficiency in English is also a must.
It is only via good and effective communication that an IT professional can help the end user understand the issue, how to solve it and how to avoid such issues in plain and simple English. If you have problem solving skills, you should also have the skill to show case it to your peers.</dd> <br>

                        <h4>Are Communication skills, Voice and Accent and Functional English different?</h4> <br>

                        <dd>Communication skills is different from Voice and Accent and Functional English.
Communication skills training module talks about various forms of communication – verbal and non-verbal and gives a good understanding on how to do so effectively. Whereas Voice and Accent training module talks about sounds in English, Accent of a particular country so that you can understand their spoken English, understanding of the common slangs, their work culture and also covers few important parts of Grammar.
Functional English, on the other hand, aims to develop communicative skills of learners in listening, speaking, writing and reading. The main focus is on how English is used in real-life situations. This module helps in developing fluency in conversation and efficiency in interactive skills. Grammar is studied more deeply in this module than it is done in Voice and Accent.
We have built separate modules to cater to the separate needs of a learner. <br> You can choose from the following options in which we can train you:</dd>

<ul class="marked-list-skin">
    <li>Communication Skills </li>
<li>Soft Skills </li>
<li>Voice and Accent </li>  
<li>Functional English </li>
</li>
</ul>

<dt class="h3 text-primary" id="section-4">Did you lose an opportunity because you were not able to speak up?</dt> 
<dd>Don’t fret, we got you! Each of us has been in a situation where we have lost out on opportunities just because we haven’t been able to speak up or haven’t been able to come up with a suitable response to a given situation.
Upon some surveys we conducted and based on our research, we found that the following are the main reasons for the hesitation to speak up:</dd>

<ul class="marked-list-skin">

<li>Lack of confidence</li>
<li>Stage Fright</li>
<li>Low self confidence</li>
<li>Lack of communication skills</li>
<li>Low understanding of the ongoing conversation</li>
<li>Lack of effective presentation skills</li>
<li>Low level of crowd influence</li>
<li>Lack of listening skills</li>
<li>Public speaking issues</li>
<li>Lack of understanding of Adult Learning </li>
<li>Principles </li>
</ul> <br>

<dd>Understanding these reasons gave us a deep insight on the possible solutions. Most of these reasons route back to Soft skills that gives sessions on different topics like Personality Development, Influencing skills, Presentation effectiveness etc. However, as you can see above, there is a noticeable lack of communication related skills too. That is how the following programs were created:</dd>

<ul class="marked-list-skin">

<li>Soft skills </li>
<li>Communication skills </li>
<li>Voice and Accent </li>
<li>Functional English </li>
</ul>


<dt class="h3 text-primary" id="section-5">Want to build up your personality & communication to crack an interview</dt>


<dd>We are here to help! Sooner or later we realize that we aren’t able to crack all the interviews we face. A rejection in an interview can be very de motivating. The first thought that comes to our mind is ‘I’m not good enough for that company, that’s why I didn’t get through’.
Well, the truth of the matter is that about 90% of the times, candidates are rejected in an interview because the company is looking for a different skill set than what the candidate possesses at the given time.
Upon our intense research and survey, we have built the following training programs to combat issues and help you crack that interview:</dd>

<ul class="marked-list-skin">

<li>Soft Skills </li>

<li>Voice and Accent </li>

<li>Functional English </li>

<li>Communication Skills </li>
</ul>

<dt class="h3 text-primary" id="section-6">Training field appeals to you?</dt>


<dd>Good! It appeals to us too. Training is a passion for us. If you have the same passion, we have world class Train the Trainer (TTT) Programs for you.
The TTT programs are available for both IT and non IT Trainers. Here is how it is segregated:</dd>

<ul class="marked-list-skin">
<li>TTT for Leadership Training </li>
<li>TTT for Soft Skills Training </li>
<li>TTT for Voice and Accent Training </li>
<li>TTT for Facilitation Skills Training </li>
<li>TTT for CCIE </li>
<li>TTT for CCNA </li>
</ul>

<dt class="h3 text-primary">Want to build up your soft skills to get ready for a great career path?</dt>

<dd>Why not? Soft skills are a great attribute to have irrespective of your current or future field of work. 
The current environment in organizations is such that majority of the employees lack soft skills. It is not rare to see leaders without leadership skills or employees in business development without influential skills.
To have soft skills today means that you are a step ahead of majority of the crowd. Keeping this in mind, following are the programs we have come up with to give you that much required career boost:</dd>

<ul class="marked-list-skin">


<li>Negotiation Skills </li>
<li>Change Management </li>
<li>Leadership </li>
<li>Presentation Effectiveness </li>
<li>Sales </li>
<li>Fish Philosophy </li>
<li>Influence people </li>
<li>Personality Development </li>
<li>Adult Learning Principles </li>

</ul>

</dd>

                    </div>
                </div>
            </section>

            

            

                <section class="well2 bg-primary" ng-hide="true">
            <div class="container">
                <h2>Still Confused?</h2><p>Watch these videos for more information....</p>

                <div class="row offs">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <a class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img15.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Student & Family Handbook</h3>

                        <p>Local author, Susan Beattie, visited Elementary School today with Luke, her rescue dog. She shared her book, Luke’s Story, explained to the students... </p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <a class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img16.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Pic of the Day</h3>

                        <p>The largest group of students in school history has qualified for the DECA state competition in March. Eleven of Mrs. Melissa Basinger’s students...</p>
                    </div>
                </div>
            </div>
        </section>




    </main>