<main class="tophat">

            <section class="well2">
            <div class="container">
                <h2>Career Opportunities</h2>

                <div class="row offs">
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <figure class="thumbnail">
                            <a href="#"><img src="images/page-4_img03.jpg" alt=""/></a>
                        </figure>
                        <h3 class="text-primary"><a href="#">Teachers Needed!</a></h3>

                        <p>Opportunities to teach at the beach are available throughout the entire school year. Our mission is to fill our nearly 13,000 teacher positions.</p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <figure class="thumbnail">
                            <a href="#"><img src="images/page-4_img04.jpg" alt=""/></a>
                        </figure>
                        <h3 class="text-primary"><a href="#">Recruitment</a></h3>

                        <p>The School District  is far from your average school system. We actively seek and recruit the most
                            promising teachers on a national level. </p>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                        <figure class="thumbnail">
                            <a href="#"><img src="images/page-4_img05.jpg" alt=""/></a>
                        </figure>
                        <h3 class="text-primary"><a href="#">Hiring Process Overview</a></h3>

                        <p>The hiring process to become a teacher can begin in more than one way. All candidates must submit an online application. </p>
                    </div>
                </div>
            </div>
        </section>

        

        <section class="well2">
            <div class="container">
                <h2>Positions Available</h2>
                <br><br>
                <accordion class="accordion">
                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <time class="h3" datetime="2015-01-01">27/06</time>
                        <h3>Annual School Planning Retreat on Feb. </h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Families, staff (and students in middle and high schools) are expected and encouraged to help their schools set priorities by participating in their school’s planning process. Even if you can't make it to the Retreat, find out more about what you can expect with your school’s planning process. Attend the School Planning Retreat on Saturday, Feb. 20 for an opportunity to work together on your school's Balanced Scorecard, academic plan and budget for the 2016-17 school year. Talk to your school’s principal about how you can attend and participate in your school’s planning process. This year's retreat will be held at the High School.</p>
                        </div>
                    </article>
                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                        <time class="h3" datetime="2015-01-01">25/06</time>
                        <h3>Eagle Theater Students open at MLK Day Celebration</h3></div>

                    <div class="accordion_cnt">

                        <div class="gallery-wr clearfix">
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img02_original.jpg">
                                <img src="images/page-1_img02.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>

                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img03_original.jpg">
                                <img src="images/page-1_img03.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>

                            <a class="thumb " data-fancybox-group="1" href="images/page-1_img04_original.jpg">
                                <img src="images/page-1_img04.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>

                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img05_original.jpg">
                                <img src="images/page-1_img05.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img06_original.jpg">
                                <img src="images/page-1_img06.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img07_original.jpg">
                                <img src="images/page-1_img07.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img08_original.jpg">
                                <img src="images/page-1_img08.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                        </div>

                        <p>The Case High School Eagle Theater students, under the direction of Nancy Gibson, opened the 22nd Annual Dr. Martin Luther King, Jr. Celebration at Gateway
                            Technical College, with a courageous and powerful message intended to set the theme for the event. Their piece, I Am Right Here, included original poetry, songs and choreography inspired by the principles Martin Luther King stood for. They closed with the inspirational statement: Stand Up! The audience spontaneously responded by rising to their feet in applause.</p>

                    </div>

                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                        <time class="h3" datetime="2015-01-01">21/06</time>
                        <h3>School Information</h3></div>

                    <div class="accordion_cnt">
                        <ul class="marked-list">
                            <li>
                                <h4>High School Students On to State!</h4>

                                <p>On June 21, 12 Park School students participated in the ADAMM (Auto Dealers Association of Mega Milwaukee) Technicians of Tomorrow Automotive
                                    Contest qualifying competition. The students were in competition with students from across the state of Wisconsin. Zach Mitchell and Mason Langenfeld qualified
                                    as one of only five teams to advance to the state hands-on diagnostic competition Feb. 9 at MATC. Congratulations and best of luck at state Zach and
                                    Mason!</p>
                            </li>
                            <li>
                                <h4>It's That Time of Year: School Closing Procedures </h4>

                                <p>As winter weather approaches, I want to be sure you are aware of emergency closing procedures that the School District follows. We realize that any change from
                                    the normal school schedule may cause some disruption. The below options will be utilized sparingly and only when conditions make such procedures absolutely
                                    necessary. It is very important that you are prepared for such an emergency. Please make all necessary arrangements in advance for alternate supervision for your child/children in case of emergency closings. Our goal is to ensure care and safety for all students.</p>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>

                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.0s">
                        <time class="h3" datetime="2015-01-01">19/06</time>
                        <h3>Graduation Dates</h3></div>

                    <div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>Title 1</th>
                                <th>Title 2</th>
                            </tr>

                            <tr>
                                <td><a href="#">Case High School:</a></td>
                                <td>June 4, 2015 5 p.m., Hammes Field/Case Field House
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Horlick High School:</a></td>
                                <td>June 5, 2016 Noon, Horlick Field House</td>
                            </tr>

                            <tr>
                                <td><a href="#">Park High School:</a></td>
                                <td>June 5, 2016 3 p.m., Park Field House
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Walden III:</a>
                                </td>
                                <td>June 3, 2016 6 p.m., UW-Parkside.
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">REAL School:</a></td>
                                <td>June 3, 2016 6 p.m., Starbuck Middle School Auditorium
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
                        <time class="h3" datetime="2015-01-01">7/06</time>
                        <h3>Chinese Student Visitors</h3></div>

                    <div class="accordion_cnt">
                        <p>Elementary School’s Confucius Classroom teacher, Wanda Chen, arranged a visit for 11 students and their chaperones from the Bocai (pronounced Botsai) School in Hunan, China, from January 20 through February 2nd. The 11 students and four accompanying adults are here as part of a cultural exchange organized by Wanda Chen and Sarah Crane, Jackson’s Confucius Classroom teacher and principal, respectively. Jackson and Ladd Acres host Chinese world language programs through a partnership with the Confucius Institute at Portland State University and the Hanban University in China.</p>

                        <blockquote class="blockquote-icon">
                            <div class="caption">
                                <span>“</span>

                                <p class="h2">
                                    <q>
                                        We are so grateful to the University. You have helped us to develop professionally and academically.
                                    </q>
                                </p>

                                <p class="cite"><cite>
                                    Chinese Students
                                </cite></p>
                            </div>

                        </blockquote>
                    </div>
                </accordion>
            </div>

        </section>
    </main>