<main class="tophat">
        

        <section class="well2">
        <div class="container">


        
            <div class="container careerGoals"><h1>Career Goals</h1>

            <div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>I'm sure of my career goals</th>
                                <th>I'm NOT sure of my career goals</th>
                            </tr>

                            <tr>
                                <td><a href="#">Linux Administrator</a></td>
                                <td>I would like to be a Software Engineer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">UI/UX Development</a></td>
                                <td>I would like to be a UI/UX Developer <a href=""> ></a></td>
                            </tr>

                            <tr>
                                <td><a href="#">Software Engineer</a></td>
                                <td>I would like to be a Software Engineer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Web Developer</a>
                                </td>
                                <td>I would like to be a Web Developer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Network Engineer</a></td>
                                <td>I would like to be a Network Engineer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">DataBase Administrator</a></td>
                                <td>I would like to be a DBA <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">CISCO Certified (CCNP, CCIE)</a></td>
                                <td>I would like to earn my CISCO Certification(s) <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Voice & Accent Training</a></td>
                                <td>I would like to fine tune my accent and vocals <a href=""> ></a>
                                </td>
                            </tr>


                            <tr>
                                <td><a href="#">Soft Skills Trainer</a></td>
                                <td>I would like to be a Soft Skills Professional Trainer<a href=""> ></a>
                                </td>
                            </tr>


                            <tr>
                                <td><a href="#">Certified Communication Skills Professional</a></td>
                                <td>I would like to be a Certified Communication Professional<a href=""> ></a>
                                </td>
                            </tr>


                            <tr>
                                <td><a href="#">Certified Soft Skills Professional</a></td>
                                <td>I would like to be a Certified Soft Skills Professional<a href=""> ></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                                    
                    
            </div>
</div>
        </section>

    </main>