<main class="tophat">
          <section class="parallax para-laxing well3" data-url="images/parallax2.jpg" data-mobile="true">
            <div class="container text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <h1>Career Goals</h1>

                <p>The district has 21 elementary schools including 3 magnet elementary schools, 7 middle schools including 2 magnet
                    <br/> middle schools and 1 charter middle school, and 6 high schools including 1 magnet high school, and 1 charter high school.</p>
                <!-- <a href="#" class="btn btn-primary">Read More</a>
 -->            </div>
        </section>
      

        <section class="well2">
        <div class="container">

            
            <div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>I'm sure of my career goals</th>
                                <th>I'm NOT sure of my career goals</th>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="linux">Linux Administrator</a></td>
                                <td>I think I would like to be a Linux Administrator <span class="linkLight"> <a ui-sref="why-linux">Learn More ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="ui-ux">UI/UX Development</a></td>
                                <td>I think I would like to be a UI/UX Developer <span class="linkLight"> <a ui-sref="ui-ux">Learn More ></a></span>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="java">Software Engineer</a></td>
                                <td>I would like to be a Software Engineer <a href=""> ></a>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="web-developer">Web Developer</a>
                                </td>
                                <td>I would like to be a Web Developer <a href=""> ></a>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="cisco">Network Engineer</a></td>
                                <td>I would like to be a Network Engineer <a href=""> ></a>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="dba">DataBase Administrator</a></td>
                                <td>I would like to be a DBA <a href=""> ></a>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="cisco">CISCO Certified (CCNP, CCIE)</a></td>
                                <td>I would like to earn my CISCO Certification(s) <a href=""> ></a>
                                </td>
                            </tr>
            
                            <tr>
                                <td><a ui-sref="workshops">Voice & Accent Training</a></td>
                                <td>I would like to fine tune my accent and vocals <a href=""> ></a>
                                </td>
                            </tr>
            
            
                            <tr>
                                <td><a ui-sref="workshops">Soft Skills Trainer</a></td>
                                <td>I would like to be a Soft Skills Professional Trainer<a href=""> ></a>
                                </td>
                            </tr>
            
            
                            <tr>
                                <td><a ui-sref="workshops">Certified Communication Skills Professional</a></td>
                                <td>I would like to be a Certified Communication Professional<a href=""> ></a>
                                </td>
                            </tr>
            
            
                            <tr>
                                <td><a ui-sref="workshops">Certified Soft Skills Professional</a></td>
                                <td>I would like to be a Certified Soft Skills Professional<a href=""> ></a>
                                </td>
                            </tr>
                        </table>
                    </div>
</div>
        </section>


                <section class="well2 bg-primary" ng-hide="true">
            <div class="container">
                <h2>Still Confused?</h2><p>Watch these videos for more information....</p>

                <div class="row offs">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <a class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img15.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Student & Family Handbook</h3>

                        <p>Local author, Susan Beattie, visited Elementary School today with Luke, her rescue dog. She shared her book, Luke’s Story, explained to the students... </p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <a class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img16.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Pic of the Day</h3>

                        <p>The largest group of students in school history has qualified for the DECA state competition in March. Eleven of Mrs. Melissa Basinger’s students...</p>
                    </div>
                </div>
            </div>
        </section>




    </main>