<main class="tophat">
        <div class="camera_container">
        <!-- <camera></camera> -->
            <camera id="camera" class="camera_wrap">
                <div data-src="images/slide-1.jpg">
                    <div class="camera_caption fadeIn">
                        <div class="container">
                            <h1>Helping each of our<br/>
                                students fulfill the potential</h1>

                            <p>Welcome to Learning Virtue's Website. Our platform is concise when it comes to
                                <br/>course material, but broad in the number of students and the amount of area covered.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>

                    </div>
                </div>
                <div data-src="images/slide-2.jpg">
                    <div class="camera_caption fadeIn white">
                        <div class="container">
                            <h1 class="white">Providing an informative and <br/>
                                resourceful environment</h1>

                            <p>This platform has up to 12 main modules - including Linux Admin, Web Development, DBA, and Networking.
                                <br/> With both on-site and on-line course material to get you started.</p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>

                    </div>
                </div>
                <div data-src="images/slide-3.jpg">
                    <div class="camera_caption fadeIn">
                        <div class="container">
                            <h1>Providing students <br/>
                                scrupulous academics</h1>

                            <p>Learning Virtue has received critical acclaim for outstanding programs
                                <br/>and course material. Our instructors have over 80+ years experience in related technology fields, translating into an expertise you can depend on. </p>
                            <a href="#" class="btn btn-primary">Read More</a>
                        </div>

                    </div>
                </div>
            </div>
        </camera>


        <section class="well bg-primary">
            <div class="container center767">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="2s"
                         data-wow-delay="0.6s">
                        <article class="block-icon white">
                            <span class="material-icons-domain"></span>

                            <div class="block_caption">
                                <h3>Who are we?
                                    <!-- <span>orientation for each student</span> -->
                                </h3>

                                <p>Learning Virtue is a training company that focuses
                                 on bringing together aspiring trainers to help them 
                                 realize their dreams of becoming the best trainers 
                                 in the industry. </p>

                                <a href="#" class="btn btn-default">Read More</a>

                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="2s"
                         data-wow-delay="0.4s">
                        <article class="block-icon white">
                            <span class="material-icons-face"></span>

                            <div class="block_caption">
                                <h3>What do we want?
                                    <!-- <span>improve student achievement</span> -->
                                </h3>

                                <p>We can say that we need your hard work, dedication, 
                                we need you to be ‘go-getters’ etc. But we will 
                                sum it up in one word – Passion. We need your passion 
                                for training.</p>

                                <a href="#" class="btn btn-default">Read More</a>

                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="2s"
                         data-wow-delay="0.2s">
                        <article class="block-icon white">
                            <span class="material-icons-wb_sunny"></span>

                            <div class="block_caption">
                                <h3>What is our credibility?</h3>
                                    <!-- <h2><span>for successful future!</span>
                                </h2> -->

                                <p>Learning Virtue is a sister company to Enthsquare – a leading IT Solutions company in the U.S., operating out of New Jersey, Virginia, California and Hyderabad in India.</p>

                                <a href="#" class="btn btn-default">Read More</a>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>

<section class="well2">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                            <h2>Latest News Pottytime</h2>
                                                <div class="container horizon"></div>
                <div class="content row"><div class="col-md-3"><h1>Howdy</h1></div>
                    <div class="hblock col-md-3">
                    <p>SOCIETY</p>
                    </div>
                    <div class="clearleft"></div>
                </div>
            </div>
            <div class="col-md-6">
                <h2>Latest Courses</h2>
                <div class="container horizon"></div>
                <div class="row">
                    <div class="media">
  <div class="media-left media-middle">
    <a href="#">
      <img class="media-object" src="images/page-2_img02.jpg" height="126px" width="170px" alt="...">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><div class="hblock">
                    <p>SOCIETY</p>
                    </div></h4><br><h2>Smile candid camera</h2>
    <p>Learning Virtue is a sister company to Enthsquare – a leading IT Solutions company in the U.S., operating out of New Jersey, Virginia, California and Hyderabad in India.</p>  </div>
</div>
                </div>
            </div>
        </div>
    </div>
</section>

        <section class="parallax cta white well3" data-url="images/parallax1.jpg" data-mobile="true">
            <div class="container text-center">
                <h2 class="wow fadeInLeft white" data-wow-duration="2s" data-wow-delay="0.2s">Newsletter</h2>

                <p class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">Subscribe to our newsletter to receive news, updates, and another stuff by email.</p>

                <div class="subscribe wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                    <form class='rd-mailform ' method="post" action="bat/rd-mailform.php" >
                        <!-- RD Mailform Type -->
                        <input type="hidden" name="form-type" value="subscribe"/>
                        <!-- END RD Mailform Type -->

                            <div class="form-group">
                                <label class="form-label"  for="mailform-input-email"></label>
                                <input id="mailform-input-email"
                                       type="email"
                                       name="email"
                                       placeholder="Enter your e-mail" 
                                       />

                            </div>

                            <div class="form-group btn-wr">
                                <button class="btn btn-primary" type="submit">subscribe</button>
                                <div class="mfInfo"></div>
                            </div>

                    </form>
                </div>
            </div>
        </section>

    </main>