<main class="tophat">
        

        <section class="well2">
        
            <div class="container"><h1>Myth vs. Fact</h1><br>
                                    
                                    <!-- <div class="goalButtons">
                                        <button class="toggle">I'm Sure of my Career Goals</button>
                                        <button class="toggle">I need help deciding on my Career Goals</button>
                                    </div>
 -->                <accordion class="accordion">
                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>You need to be a B. Tech graduate to be a software engineer...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>No, you can be a graduate in any field. You can still study IT post-graduation and be eligible to be a software engineer.</p>
                        </div>
                    </article>


                    <div class="container">
                        <hr/>
                    </div>


<div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>There is A Shortage of Employees to Entry-Level Job Opportunities...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>The majority of the vacant jobs right now are for experienced IT professionals. One of the tips to land your first job? Get trained and get experience at the same place!</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>I Got My Diploma. Boy, I'm Glad All That Education is Over...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>In an IT career you will be in an almost constant learning mode for the rest of your career. There will always be new software, hardware and technologies to master. This will require intensive study, either on your own or through additional formal training. To remain a valuable employee you will need to update your skill set on a regular basis. This concept is often referred to as life-long learning.</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>


                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>IT Departments are Boys' Clubs Full of Geeks and Nerds.....</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>IT jobs have the lowest salary gender gap of all professions. In a recent study by techies.com, women reported making 92 cents for every dollar their male counterparts made.</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>


                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>It's All Math and Science...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>A career in programming does involve a fair bit of mathematics, but other IT careers can be fully explored and enjoyed by the "math impaired". Many other attributes are valued in IT positions such as teamwork, creativity, leadership ability and artistic style.</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>


                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>There is No People Interaction Required...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>In reality, the majority of all IT jobs involve a great deal of interaction with other people, including a lot of team participation. According to a survey by Information Week magazine, teamwork skills are fourth on the list of the top 10 most important attributes that employers want when hiring new IT employees.</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>


                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>IT is a Casual, Slow-paced Environment...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>With dot-coms emerging and taking large chunks of business from traditional "old economy" companies (such as Amazon.com grabbing a large share of the book market), pressure to compete online effectively and quickly is ever present.</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>



                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>IT Training Should Be Concentrated on a Single Discipline...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>Learn as much as you can about as many areas of IT as you have time to study. There is a great deal of mobility in computer science careers. Corporate needs shift, as do your career goals. Having a wide range of skills makes you more valuable to a corporation since they may be able to utilize you in a variety of roles as their business needs change. Training yourself in new areas of technology can help you advance your career by moving on to other departments or corporations.</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>



<div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>Info-tech work is more of 'a routine job.' No high-end work gets done in India...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>This might be true in many cases, but the opportunities to work on challenging and complex projects is increasing in India. Currently, very few companies (rough estimate: 10-15%) in India are doing this. If you are the brainy type, seek out such companies. Using the best brain to do routine jobs can lead to job-dissatisfaction soon.
</p>
                        </div>
                    </article>

                    
                    <div class="container">
                        <hr/>
                    </div>



<div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <span class="h3" datetime="2015-01-01"> Myth: </span>
                        <h3>Management ladder is a much better option than technical ladder...</h3>
                    </div>

                    <article class="accordion_cnt row center767">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-1_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-10 col-sm-10 col-xs-12">
                            <p>If you are the kind who loves to be technical, look for an organization that encourages career growth for core technical work and pays salary at par with management salary for the same zone.</p>
                        </div>
                    </article>

                    
                    <!-- <div class="container">
                        <hr/>
                    </div> -->








<!--                     <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                        <time class="h3" datetime="2015-01-01">25/06</time>
                        <h3>Eagle Theater Students open at MLK Day Celebration</h3></div>

                    <div class="accordion_cnt">

                        <div class="gallery-wr clearfix">
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img02_original.jpg">
                                <img src="images/page-1_img02.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>

                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img03_original.jpg">
                                <img src="images/page-1_img03.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>

                            <a class="thumb " data-fancybox-group="1" href="images/page-1_img04_original.jpg">
                                <img src="images/page-1_img04.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>

                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img05_original.jpg">
                                <img src="images/page-1_img05.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img06_original.jpg">
                                <img src="images/page-1_img06.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img07_original.jpg">
                                <img src="images/page-1_img07.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                            <a class="thumb" data-fancybox-group="1" href="images/page-1_img08_original.jpg">
                                <img src="images/page-1_img08.jpg" alt=""/>

                                <span class="thumb_overlay"><span class="material-icons-zoom_in"></span></span>
                            </a>
                        </div>

                        <p>The Case High School Eagle Theater students, under the direction of Nancy Gibson, opened the 22nd Annual Dr. Martin Luther King, Jr. Celebration at Gateway
                            Technical College, with a courageous and powerful message intended to set the theme for the event. Their piece, I Am Right Here, included original poetry, songs and choreography inspired by the principles Martin Luther King stood for. They closed with the inspirational statement: Stand Up! The audience spontaneously responded by rising to their feet in applause.</p>

                    </div>

                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.8s">
                        <time class="h3" datetime="2015-01-01">21/06</time>
                        <h3>School Information</h3></div>

                    <div class="accordion_cnt">
                        <ul class="marked-list">
                            <li>
                                <h4>High School Students On to State!</h4>

                                <p>On June 21, 12 Park School students participated in the ADAMM (Auto Dealers Association of Mega Milwaukee) Technicians of Tomorrow Automotive
                                    Contest qualifying competition. The students were in competition with students from across the state of Wisconsin. Zach Mitchell and Mason Langenfeld qualified
                                    as one of only five teams to advance to the state hands-on diagnostic competition Feb. 9 at MATC. Congratulations and best of luck at state Zach and
                                    Mason!</p>
                            </li>
                            <li>
                                <h4>It's That Time of Year: School Closing Procedures </h4>

                                <p>As winter weather approaches, I want to be sure you are aware of emergency closing procedures that the School District follows. We realize that any change from
                                    the normal school schedule may cause some disruption. The below options will be utilized sparingly and only when conditions make such procedures absolutely
                                    necessary. It is very important that you are prepared for such an emergency. Please make all necessary arrangements in advance for alternate supervision for your child/children in case of emergency closings. Our goal is to ensure care and safety for all students.</p>
                            </li>
                        </ul>
                        <a href="#" class="btn btn-primary">Read More</a>
                    </div>

                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.0s">
                        <time class="h3" datetime="2015-01-01">19/06</time>
                        <h3>Graduation Dates</h3></div>

                    <div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>Title 1</th>
                                <th>Title 2</th>
                            </tr>

                            <tr>
                                <td><a href="#">Case High School:</a></td>
                                <td>June 4, 2015 5 p.m., Hammes Field/Case Field House
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Horlick High School:</a></td>
                                <td>June 5, 2016 Noon, Horlick Field House</td>
                            </tr>

                            <tr>
                                <td><a href="#">Park High School:</a></td>
                                <td>June 5, 2016 3 p.m., Park Field House
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">Walden III:</a>
                                </td>
                                <td>June 3, 2016 6 p.m., UW-Parkside.
                                </td>
                            </tr>

                            <tr>
                                <td><a href="#">REAL School:</a></td>
                                <td>June 3, 2016 6 p.m., Starbuck Middle School Auditorium
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="container">
                        <hr/>
                    </div>

                    <div class="accordion_header wow fadeInUp" data-wow-duration="2s" data-wow-delay="1.2s">
                        <time class="h3" datetime="2015-01-01">7/06</time>
                        <h3>Chinese Student Visitors</h3></div>

                    <div class="accordion_cnt">
                        <p>Elementary School’s Confucius Classroom teacher, Wanda Chen, arranged a visit for 11 students and their chaperones from the Bocai (pronounced Botsai) School in Hunan, China, from January 20 through February 2nd. The 11 students and four accompanying adults are here as part of a cultural exchange organized by Wanda Chen and Sarah Crane, Jackson’s Confucius Classroom teacher and principal, respectively. Jackson and Ladd Acres host Chinese world language programs through a partnership with the Confucius Institute at Portland State University and the Hanban University in China.</p>

                        <blockquote class="blockquote-icon">
                            <div class="caption">
                                <span>“</span>

                                <p class="h2">
                                    <q>
                                        We are so grateful to the University. You have helped us to develop professionally and academically.
                                    </q>
                                </p>

                                <p class="cite"><cite>
                                    Chinese Students
                                </cite></p>
                            </div>

                        </blockquote>
                    </div> -->
                </accordion>
            </div>

        </section>

    </main>