    <main class="tophat">

        <section class="well2 bg-primary">
            <div class="container center767">
                <h2>
                    Meet our staff
                </h2>

                <div class="row offs">
                    <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.2s">
                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img04.jpg" alt=""></a>
                        </div>

                        <h3>
                            <a href="#">Hari G. Sharma</a>
                        </h3>

                        <p>
                            Professor -
                            SME - Networking
                        </p>
                    </div>

                    <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.4s">
                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img03.jpg" alt=""></a>
                        </div>

                        <h3>
                            <a href="#">Ravinder Singh</a>
                        </h3>

                        <p>
                            Professor -
                            SME Linux & Networking                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.6s">
                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img02.jpg" alt=""></a>
                        </div>

                        <h3>
                            <a href="#">Shymoe Daniel</a>
                        </h3>

                        <p>
                            Master Trainer, Coach, Facilitator                        </p>
                    </div>
                    <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img05.jpg" alt=""></a>
                        </div>

                        <h3>
                            <a href="#">Lingraj Nandi</a>
                        </h3>

                        <p>
                            Professor - 
                            S.M.E. Java/J2EE
                        </p>
                    </div>


<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img05.jpg" alt=""></a>
                        </div>

                        <h3>
                            <a href="#">Victor Sarkar</a>
                        </h3>

                        <p>
                            Professor -
                            S.M.E VNA
                        </p>
                    </div>


                    <div class="col-md-3 col-sm-6 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.8s">
                        <div class="thumbnail">
                            <a href="#"><img class="" src="images/page-2_img05.jpg" alt=""></a>
                        </div>

                        <h3>
                            <a href="#">Mohammed Mujahed</a>
                        </h3>

                        <p>
                            Training Co-ordinator
                        </p>
                    </div>

                </div>
            </div>
        </section> <br><br>
        <div class="container">
                        <article>
                    <div class="article_header">
                        <!-- <time class="h3" datetime="2015-01-01">12/09</time>
 -->                        <h3>{{Staff.member}}</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Congratulations to Teresa Budd from Page Middle School and Mariah Yazzie from Manson Mesa High School, two of our November P.R.I.D.E. recipients! Along with Michele
                                Calnimptewa from Desert View Intermediate, Ms. Budd received Personal Recognition In District Education (PRIDE) to share the outstanding efforts of our certified and classified staff. Each school also recognizes those students who are Positive, Respectful, Involved, Determined, and Excellent (PRIDE) in the way they act and go about the business of learning. Congratulations to Keegan Dodson, Bronson Hicks, Sheldon Manymules, and Rachel Stice for demonstrating PRIDE in their education.</p>
                        </div>
                    </div>
                </article>
                </div>                        
    </main>