<main class="tophat">
<section class="parallax parallax2 galleryparallax well5" data-url="images/parallax2.jpg" data-mobile="true">
            <div class="container jumboCta text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <h1>Support/Feedback</h1>

                <p>We are happy to answer any queries you have, regardless of the nature. we are here to help you along this journey called learning.</p>
                <!-- <a href="#" class="btn btn-primary">Read More</a> -->
            </div>
        </section>

	<section class="well2">
		<div class="container">
			<div class="row cform offs">
				<div class="col-md-9">
					<form class='rd-mailform ' method="post" action="/contact-action">
                                <!-- RD Mailform Type -->
                                <input type="hidden" name="form-type" value="contact"/>
                                <!-- END RD Mailform Type -->

                                    <div class="form-group col-md-6 col-sm-12 col-xs-12 col_mod" >
                                        <label class="form-label" data-add-placeholder for="mailform-input-name">Name</label>
                                        <input id="mailform-input-name"
                                               type="text"
                                               name="name"
                                               data-constraints="@NotEmpty @LettersOnly"/>

                                    </div>


                                    <div class="form-group col-md-6 col-sm-12 col-xs-12 col_mod">
                                        <label class="form-label" data-add-placeholder for="mailform-input-email">Email</label>
                                        <input id="mailform-input-email"
                                               type="text"
                                               name="email"
                                               data-constraints="@NotEmpty @Email"/>

                                    </div>

                                    <div class="form-group textarea col-md-12 col-sm-12 col-xs-12 col_mod">
                                        <label  class="form-label" data-add-placeholder for="mailform-input-textarea">Detail of Query</label>
                                        <textarea id="mailform-input-textarea"
                                                name="message"
                                                data-constraints="@NotEmpty"></textarea>

                                    </div>

                                    <div class="form-group btn-wr col-md-12 col-sm-12 col-xs-12 col_mod">
                                        <div class="mfControls">
                                            <button class="btn btn-primary btn-primary__mod" type="submit">Submit</button>
                                            <div class="mfInfo"></div>
                                        </div>
                                    </div>


                            </form>

					<!-- <form action="/support" method="post" class="rd-mailform">
						<div class="form-group">
						<input type="hidden" name="form-type" value="support"/>
							<input type="text" placeholder="Name" class="col-sm-4" id="name">
						</div>
					</form>
 -->				</div>
				<div class="col-md-3">
					<!-- <h1>Availability</h1> -->
					<ul class="marked-list-skin">
						<li> Monday - Friday: 9am - 5pm </li>
						<li> Saturday & Sunday: Closed</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</main>