<main class="tophat">
<!-- 	<section class="well2 bg-primary">
            <div class="container">
                <h2>Fast Track Training</h2>

                <div class="row offs">
                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <a fancybox class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img15.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Student & Family Handbook</h3>

                        <p>Local author, Susan Beattie, visited Elementary School today with Luke, her rescue dog. She shared her book, Luke’s Story, explained to the students... </p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <a fancybox class="thumb thumb__mod fancybox.iframe"
                           href="//player.vimeo.com/video/37582125?wmode=transparent">
                            <img src="images/page-3_img16.jpg" alt=""/>
                            <span class="thumb_overlay"><span class="material-icons-play_circle_outline"></span></span>
                        </a>

                        <h3>Pic of the Day</h3>

                        <p>The largest group of students in school history has qualified for the DECA state competition in March. Eleven of Mrs. Melissa Basinger’s students...</p>
                    </div>
                </div>
            </div>
        </section> -->
                <section class="well6 bg-primary">
            <div class="container center767">
                <h1>Career Paths</h1>

                <div class="row offs3">
                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.6s">
                        <article class="block-icon block-icon__mod white">
                            <!-- <span class="material-icons-school"></span> -->

                            <div class="block_caption">
                                <h3> What is Linux Administation? </h3>

                                <p> Whether you know it or not you are already using Linux every day. Every time you use Google or Facebook or any other major Internet site, you are communicating with servers running Linux. </p>

                                <a ui-sref="why-linux" class="btn btn-default">Read More</a>

                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.4s">
                        <article class="block-icon block-icon__mod white">
                            <!-- <span class="material-icons-vpn_key "></span> -->

                            <div class="block_caption">
                                <h3>What is Web Development? </h3>

                                <p>Code is weightless. You don't need a physical product to earn a profit. Your website can run on autopilot. If you're running an ecommerce store it's open 24 hours a day 365 days a year.</p>

                                <a ui-sref="why-develop" class="btn btn-default">Read More</a>

                            </div>
                        </article>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <article class="block-icon block-icon__mod white">
                            <!-- <span class="material-icons-work "></span> -->

                            <div class="block_caption">
                                <h3>What is Networking? </h3>

                                <p> Cisco pioneered routing and switching technologies — and
continues to lead the way, with the greatest market share
and largest installed base in the industry. </p>

                                <a ui-sref="why-network" class="btn btn-default">Read More</a>

                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </section>
            
<!--<section class="well2top">
        <div class="container">


        
            <div class="container careerGoals">

            <div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>I'm interested in......</th>
                                <th>I'm NOT sure of my career goals</th>
                            </tr>

                            <tr>
                                <td><a ui-sref="linux">Linux Administration</a></td>
                                <td>I would like to be a Software Engineer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a ui-sref="ui-ux">UI/UX Development</a></td>
                                <td>I would like to be a UI/UX Developer <a href=""> ></a></td>
                            </tr>

                            <tr>
                                <td><a ui-sref="java">Software Engineering</a></td>
                                <td>I would like to be a Software Engineer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a ui-sref="web-developer">Web Development</a>
                                </td>
                                <td>I would like to be a Web Developer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a ui-sref="cisco">Network Engineering</a></td>
                                <td>I would like to be a Network Engineer <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a ui-sref="dba">DataBase Administration</a></td>
                                <td>I would like to be a DBA <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a ui-sref="cisco">CISCO Certification (CCNP, CCIE)</a></td>
                                <td>I would like to earn my CISCO Certification(s) <a href=""> ></a>
                                </td>
                            </tr>

                            <tr>
                                <td><a ui-sref="workshops">Voice & Accent Training</a></td>
                                <td>I would like to fine tune my accent and vocals <a href=""> ></a>
                                </td>
                            </tr>


                            <tr>
                                <td><a ui-sref="workshops">Soft Skills Training</a></td>
                                <td>I would like to be a Soft Skills Professional Trainer<a href=""> ></a>
                                </td>
                            </tr>


                            <tr>
                                <td><a ui-sref="workshops">Certified Communication Skills </a></td>
                                <td>I would like to be a Certified Communication Professional<a href=""> ></a>
                                </td>
                            </tr>


                            <tr>
                                <td><a ui-sref="workshops">Certified Soft Skills Professional</a></td>
                                <td>I would like to be a Certified Soft Skills Professional<a href=""> ></a>
                                </td>
                            </tr>
                        </table>
                    </div>
                                    
                    
            </div>
</div>
        </section> -->

        <section class="well2">
            <div class="container">
                <h2>Current Modules available</h2>
                <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">20 days</time>
                        <h3>Linux</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>95% of the industry is working on Linux platform. In your daily life, you are communicating with Linux servers, major internet sites such as Facebook, Flipkart, Naukri, Google and many more portal or deployed on Linux servers. In addition, most modern televisions and Android mobiles run on Linux and industry is looking for skilled resources to maintain the Linux servers. </p>
                        </div><a ui-sref="linux" class="btn btn-primary">Course Breakdown</a>
                    </div>
                </article>

                <div class="container">
                    <hr/>
                </div>

                <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">60 days</time>
                        <h3>Cisco - CCNA</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Intro to our CISCO Networking course - in this module: IPv6 Routing, DHCP, WAN </p>
                        </div><a ui-sref="cisco({mod: 'ccna'})"" class="btn btn-primary">Course Breakdown</a>
                    </div>
                </article>

                <div class="container">
                    <hr/>
                </div>

                <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">60 days</time>
                        <h3>Cisco - CCNP</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Intro to our CISCO Networking course - we currently offer 3 modules: CCNA, CCNP, and CCIE; Coveringing real life study cases, industry level configuration and Firewall/security basics.</p>
                        </div><a ui-sref="cisco({mod: 'ccnp'})" class="btn btn-primary" >Course Breakdown</a>
                    </div>
                </article>


                <div class="container">
                    <hr/>
                </div>



                <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">60 days</time>
                        <h3>Cisco - CCIE</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Intro to our CISCO Networking course - we currently offer 3 modules: CCNA, CCNP, and CCIE; Coveringing real life study cases, industry level configuration and Firewall/security basics.</p>
                        </div><a ui-sref="cisco({mod: 'ccie'})"" class="btn btn-primary">Course Breakdown</a>
                    </div>
                </article>

                <div class="container">
                    <hr/>
                </div>


                <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">45 days</time>
                        <h3>Web Development</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>The purpose of this training is to explore on latest open source technologies. This training involves development of web pages, performing validation as per the user requirement, working with the open source database and work on the look and feel of the web pages.</p>
                        </div><a ui-sref="web-developer" class="btn btn-primary">Course Breakdown</a>
                    </div>
                </article>




<!--                 <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">12/09</time>
                        <h3>Congratulations to our P.R.I.D.E. Winners</h3>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Congratulations to Teresa Budd from Page Middle School and Mariah Yazzie from Manson Mesa High School, two of our November P.R.I.D.E. recipients! Along with Michele
                                Calnimptewa from Desert View Intermediate, Ms. Budd received Personal Recognition In District Education (PRIDE) to share the outstanding efforts of our certified and classified staff. Each school also recognizes those students who are Positive, Respectful, Involved, Determined, and Excellent (PRIDE) in the way they act and go about the business of learning. Congratulations to Keegan Dodson, Bronson Hicks, Sheldon Manymules, and Rachel Stice for demonstrating PRIDE in their education.</p>
                        </div><a href="#" class="btn btn-primary">Read More</a>
                    </div>
                </article>
 -->


                <div class="container">
                    <hr/>
                </div>


                <!-- <article>
                    <div class="article_header">
                        <time class="h3" datetime="2015-01-01">17/09</time>
                        <h3>Beat the Winter Blues with Community Education - Now Enrolling
                        </h3>
                    </div>

                    <p>Community Education, the School District's lifelong learning program, is currently taking enrollment for our popular winter session of classes.
                        Our class catalog can be found inserted into the Sunday, January 3, 2016 Idaho Statesman (subscribers only), mailed to local residents (by January 8, 2016), in Boise Public Library branches, online at www.boiselearns.org, or click on the course catalog image below. Click here to review a PDF of the catalog. Winter session runs
                        January 25th through March 17th. Register up to the night a class begins (space permitting). Registration continues through the end of the session.  </p>
                </article> -->

            </div>
        </section>
</main>