    <main class="tophat">
        
        <section class="well2">
            <div class="container">
            <h1>College to Corperate</h1>
                <div class="row">
                    
                    <div class="col-md-12 col-sm-6">
                        
                            <button class="btn btn-primary">Enroll</button>
                            
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            The purpose of this program is to prepare the Fresh graduates to step to the next stages, i.e. Group Discussion (GD) and Interview, classes are conducted in Communication Skills which include basic communication skills, GD and Interview basics, mock GDs, mock Interviews (HR & Technical) and Psychometric tests. </p>
                                                    
                        
                        </div></div>
                        

                        <div class="inline">
                        <p><span>Duration</span>:  10 working days</p> <p><span>Fees</span>:  Rs - 5,000</p>
                        </div>
                        <br>
                        <div class="row">
                        <div class="col-md-6">
                        <strong>
                        <h4>Topics: Covered</h4></strong>
                        <ul class="marked-list-skin">
                            <li>Basic Grammar</li>
                            <li>Communication skills</li>
                            <li>Email etiquettes</li>
                            <li>Corporate etiquettes <ul>
                            <li>Time Management</li>
                            <li>Stress management</li>
                            <li>Team building</li></ul>
                            <li>Resume writing</li>
                            <li>Interview facing skills</li>
                            <li>Mock interview</li></li>
                                
                            </ul>
                        </ul>
                    <br></div>
                    <div class="col-md-6">
                    <strong>
                        <h4>Why should you register with Learning Virtue?</h4>
                    </strong>
                        
                    <ul class="marked-list-skin">
                        <li>We are one among the Top training and consulting companies in India & the United States.</li>
                         <li>On completion of training, we ensure that you get placed.</li>
<li>We have a placements cell which will market your resume and arrange for the interview.</li>
<li>Our trainers are all professionally certified & carry real time experiences to the class room.  </li>
<li>100% hands-on, practical approach to training</li>
<li>24/7 support to clarify your technical questions</li>
                    </ul></div></div></div>


    <!-- <div class="container middleSection"><div class="row well bg-primary">
    <div class="container">
                        <article>
                    <div class="article_header">
                    <h1>More about your Instructor</h1><br>
                        <!-- <time class="h3" datetime="2015-01-01">12/09</time>
                        <h2>Ravinder Singh</h2><br><br>
                            <h4>SME Linux & Networking</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Ravi is an RHCSA & RHCE Redhat certified professional. With 10 + years of industry experience, he has trained a whooping 400+ batches on RHCSA and RHCE.
Adopting a strict fun-with-learning attitude brings up Ravi as a top of the line IT facilitator. As another feather in his ‘red hat’, he is also a certified Solaris & Jboss Administrator.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>   -->


<div class="container">
<ui-view></ui-view>

                </div>
            </div>
        </section>





      
    </main>