    <main class="tophat">
        
        <section class="well2">
            <div class="container">
            <h1>Events Overview</h1>
                <div class="row">
                    
                    <table>
                            <tr>
                                <th>S.No.</th>
                                <th>Start Date</th>
                                <th>Date Ended</th>
                                <th>Course</th>
                                <th>Duration</th>
                            </tr>

                            <tr>
                                <td>1</a></td>
                                <td>24-Oct</td>
                                <td>10-Jan</td>
                                <td>Linux Administration</td>
                                <td>90 Days</td>
                            </tr>
                            <tr>
                                <td>2</a></td>
                                <td>01-Nov-16</td>
                                <td>20-Jan-17</td>
                                <td>Web Development</td>
                                <td>90 Days</td>
                            </tr>


                            <tr>
                                <td>3</td>  
                                <td>1-Nov</td> 
                                <td>1-Nov</td>   
                                <td>Webinar on Linux Admin</td>      
                                <td>3 Hours</td>
                                                                
                                </tr>

                                                                

                                <tr>
                                <td>4</td>   
                                <td>3-Nov</td>
                                <td>3-Nov</td> 
                                <td>Seminar on CCIE BootCamp</td>        
                                <td>3 Hours</td></tr>

                                <tr>
                                    <td>5</td>   
                                    <td>10-Nov</td> 
                                    <td>10-Nov</td>   
                                    <td>Seminar on Corporate Ethocats</td>       
                                    <td> 1 Hour</td>
                                </tr>

                                <tr>
                                <td>4</td>   
                                <td>16-Nov</td> 
                                <td>16-Nov</td>  
                                <td>Webinar on Why Communication skills</td>     
                                <td>1 Hour</td>
                                </tr>

                                <tr>
                                <td>5</td>   
                                <td>18-Nov</td> 
                                <td>18-Nov</td> 
                                <td>Why Cloud Computing? - Webinar</td>        
                                <td>2 Hours</td>
                                </tr>

                                <tr>
                                <td>6</td>   
                                <td>20-Nov</td> 
                                <td>20-Nov</td> 
                                <td>IOT - What is it and it's impact on us</td>        
                                <td>3 Hours</td>
                                </tr>

                                <tr>
                                <td>7</td>   
                                <td>22-Nov</td> 
                                <td>22-Nov</td>  
                                <td>Latest IT Trends</td>     
                                <td>3 Hours</td>
                                </tr>
                                </table>


    <!-- <div class="container middleSection"><div class="row well bg-primary">
    <div class="container">
                        <article>
                    <div class="article_header">
                    <h1>More about your Instructor</h1><br>
                        <!-- <time class="h3" datetime="2015-01-01">12/09</time>
                        <h2>Ravinder Singh</h2><br><br>
                            <h4>SME Linux & Networking</h4>
                    </div>

                    <div class="row">
                        <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div>
                        <div class="col-md-7 col-sm-6 col-xs-12">
                            <p>Ravi is an RHCSA & RHCE Redhat certified professional. With 10 + years of industry experience, he has trained a whooping 400+ batches on RHCSA and RHCE.
Adopting a strict fun-with-learning attitude brings up Ravi as a top of the line IT facilitator. As another feather in his ‘red hat’, he is also a certified Solaris & Jboss Administrator.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>   -->




<div class="container">
<ui-view></ui-view>

                </div>


            </div>
        </section>





      
    </main>