    <main class="tophat">
        
            <section class="parallax parallax2 cta well5" data-url="images/parallax2.jpg" data-mobile="true">
            <div class="container jumboCta text-right center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">

            <h1>Workshops</h1>  <p>Welcome! Here are some of our workshop options for IT and non-Technical courses alike.</p>
                </div></section>
                    
                   <!-- <div class="col-md-12 col-sm-6">
                        
                            
                           
<div class="accordion_cnt">
                        <table>
                            <tr>
                                <th>S.No.</th>
                                <th>Start Date</th>
                                <th>Date Ended</th>
                                <th>Course</th>
                                <th>Duration</th>
                            </tr>

                            <tr>
                                <td>1</a></td>
                                <td>24-Oct</td>
                                <td>10-Jan</td>
                                <td>Linux Administration</td>
                                <td>90 Days</td>
                            </tr>
                            <tr>
                                <td>2</a></td>
                                <td>01-Nov-16</td>
                                <td>20-Jan-17</td>
                                <td>Web Development</td>
                                <td>90 Days</td>
                            </tr>


                            <tr>
                                <td>3</td>  
                                <td>1-Nov</td> 
                                <td>1-Nov</td>   
                                <td>Webinar on Linux Admin</td>      
                                <td>3 Hours</td>
                                                                
                                </tr>

                                                                

                                <tr>
                                <td>4</td>   
                                <td>3-Nov</td>
                                <td>3-Nov</td> 
                                <td>Seminar on CCIE BootCamp</td>        
                                <td>3 Hours</td></tr>

                                <tr>
                                    <td>5</td>   
                                    <td>10-Nov</td> 
                                    <td>10-Nov</td>   
                                    <td>Seminar on Corporate Ethocats</td>       
                                    <td> 1 Hour</td>
                                </tr>

                                <tr>
                                <td>4</td>   
                                <td>16-Nov</td> 
                                <td>16-Nov</td>  
                                <td>Webinar on Why Communication skills</td>     
                                <td>1 Hour</td>
                                </tr>

                                <tr>
                                <td>5</td>   
                                <td>18-Nov</td> 
                                <td>18-Nov</td> 
                                <td>Why Cloud Computing? - Webinar</td>        
                                <td>2 Hours</td>
                                </tr>

                                <tr>
                                <td>6</td>   
                                <td>20-Nov</td> 
                                <td>20-Nov</td> 
                                <td>IOT - What is it and it's impact on us</td>        
                                <td>3 Hours</td>
                                </tr>

                                <tr>
                                <td>7</td>   
                                <td>22-Nov</td> 
                                <td>22-Nov</td>  
                                <td>Latest IT Trends</td>     
                                <td>3 Hours</td>
                                </tr>
                                </table>
                                </div>
                                </div></div><br><br>

                                <div class="container">
                                <div class="row"><div class="col-md-6">
                        
                                <h2>TTT Workshop</h2>
                                <ul class="marked-list-skin">
                                <li>TTT for a Soft Skills Trainer</li>
                                <li>TTT for a Voice and Accent Trainer</li>
                                <li>TTT in Facilitation skills for all trainers</li>
                                <li>TTT in Scenario based Learning</li>
                                </ul>
                                <br>
                                </div>
                                <div class="col-md-6">
                                <h2>Technology Workshop</h2>
                                <ul class="marked-list-skin">
                                <li>CCIE – Routing and Switching <ul>
                                <li>Read More: Program Start date, Program End date, Duration, Fee structure</li>
                                </ul>
                                <li>Collaboration</li><ul>
                                <li>Read More: Program Start date, Program End date, Duration, Fee structure</li>
                                </ul>
                                <li>Linux Administration <ul>
                                <li>Read More: Program Start date, Program End date, Duration, Fee structure</li></ul>
                                </ul></div> </div> </div>
                                                        
                                                       


  

<!-- <div class="container">
<br>
<h3><strong>Content:</strong></h3>
<br>
 <ol>
    <li><h4 class="h3 text-primary">Installation and Initialization</h4><p><strong>Learning Objectives</strong> - In this module, you will understand Linux architecture in general, booting process, how to install Centos7 OS, system initialization and some basic commands to get started.</p></li>
<br>

<li><strong><h4 class="h3 text-primary"> Project – Prepare for the RHCE Exam</h4></strong><p><strong>Topics </strong> -
        Include questions from all the topics covered so far, new troubleshooting scenarios, Writing Scripts for given use cases, <br> Project for Certification, Q & A and Quick Recap.</p></li><br>



</ol>

                    </div> 
                </div>
            </div>
        </section> -->
<section class="well2">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2> TTT for soft skills Trainers </h2>


<p>This is a 1 day workshop wherein we create a common forum for discussion by and for soft skills trainers. The trainers are drawn from the LinkedIn Training and Development groups.
These workshops are a gateway for our new trainers to create contacts and join the L&D community. Needless to say, it offers great insights to our new trainers during their discussions with experienced trainers and training leaders.</p>

<p>We arrange for workshops once every quarter from various social media links. The topics for discussion is different for every workshop to maximise the no. of current topics that are covered in the field of soft skills training. This is also a great forum to share best practices and training related updates, if any.</p> <br>


<h2>TTT for Voice and Accent Trainers</h2> 

<p>This is a 1 day workshop wherein we create a common forum for discussion by and for voice and accent trainers. The trainers are drawn from the LinkedIn Training and Development groups.
These workshops are a gateway for our new trainers to create contacts and join the L&D community. Needless to say, it offers great insights to our new trainers during their discussions with experienced trainers and training leaders.
We arrange for workshops once every quarter from various social media links. The topics for discussion is different for every workshop to maximise the no. of current topics that are covered in the field of voice and accent training. This is also a great forum to share best practices and training related updates, if any.</p>
<br>

<h2>TTT in Facilitation Skills Trainers</h2>

<p>This is a 1 day workshop wherein we create a common forum for discussion by and for 9+ years experienced trainers. The trainers are drawn from the LinkedIn Training and Development groups.
These workshops are a gateway for our new trainers to create contacts and join the L&D community. Needless to say, it offers great insights to our new trainers during their discussions with experienced trainers and training leaders.
We arrange for workshops once every quarter from various social media links. The topics for discussion is different for every workshop to maximise the no. of current topics that are covered in the field of training. This is also a great forum to share best practices and training related updates, if any.</p>
<br>

<h2>TTT in Scenario Based Learning</h2>

<p>Since this is a unique training, we bring together our in house trainers who have been trained and certified in Scenario based learning.
This is a one day workshop. This forum is very important for newly trained candidates as it enhances learning and also gives a forum to practice the methodologies learned in this program. This workshop will follow up with handing of a project which needs to be completed using these methodologies.
A high quality but time sensitive workshop and project will ensure maximum learning retention and ensure application in day to day training sessions.</p>
<br>

<h1>Technical/ IT Workshop </h1>

<!-- (Prepared by Lingraj) -->
<br>


<h3>1. Workshop on Angular JS</h3>


<p>This is a 3 days’ workshop for the web developer who want to enhance their technical skills for their career growth and challenge the competitive world with the latest technologies. <br>


Who can attend?</p>

<ul class="marked-list-skin">

<li>Candidates who have knowledge on HTML5, CSS3, Java script.</li>


<li>Who have 1+ year of exp as a web developer.</li>

</ul> <br>

<h4>Highlights of this program:</h4>

<ul class="marked-list-skin">

<li>You will gain in-depth knowledge  and will help you implement one case study using Angular JS</li>


<li>You will get clear understanding of using Angular JS over other Scripting languages.</li>


<li>Trainer would deliver this program using real time scenario’s</li>


<li>Gain the practical experience needed to build a solid, scalable, single page application with AngularJS.</li>
</ul>

<br>


<h3>2. Workshop on MongoDB.</h3>


   <p>Want to enhance your MongoDB World learning experience? Get hands-on practice by attending MongoDB workshops the day before MongoDB World. These in-person workshops provide the opportunity to receive comprehensive training and learn from MongoDB experts.</p> <br>
<p class="h3">Duration: 3 days</p>


<p>Who can attend :</p> <ul class="marked-list-skin">
<li>Any professional who has working knowledge of Database concepts.</li>
<li>Operation managers</li></ul>

<p>Highlights of this program :</p>
<ul class="marked-list-skin">
<li>Expand your MongoDB knowledge with Advanced Data Modeling</li>
<li>Help you in Diagnostics and Debugging, or Modeling Social Data workshop.</li>
<li>Gain knowledge on collection & its implementation</li>
<li>Understand NoSql and its advantages</li></ul>

<br>


<h3>3. Workshop on Linux Administration:</h3>


<p>Want to build you career as a Administer? Are you poor in coding? Want to build your career in IT industry.
This is a one day workshop for those who wants to build their career on linux and build their career on Red hat Engineer's</p>

<p>Who can attend:</p>
<ul class="marked-list-skin">
<li>Anyone who has basic computer knowledge on operating systems</li>
<li> Fresh graduates with BE/BTech/MCA</li></ul>

<p>Highlights:</p>
<ul class="marked-list-skin">
<li>Will understand the career opportunities and your growth as Linux Administration.</li>
<li>Will get clear idea on troubleshooting in configuration & installation.</li>
<li> Understanding of virtualization and its advantages</li> </ul>
</div></div></div>
</section>
















<!--         <section class="well2">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h2>
                            Overview
                        </h2>
                        <ul class="row index-list">
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming aware
                                    </a>
                                </h3>

                                <p>
                                    involves early exposure to colleges and careers, interest mapping, guidance
                                    lessons and the completion.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming eligible
                                    </a>
                                </h3>

                                <p>
                                    involves students completing the
                                    necessary steps to proceed with their post-high school choice.
                                </p>
                            </li>
                            <li>

                                <h3 class="text-primary">
                                    <a href="#">
                                        Becoming prepared
                                    </a>
                                </h3>

                                <p>
                                    Students will need a well-rounded
                                    education in a wide array of subjects, good study and work habits, and the skills.
                                </p>
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <h2>
                            Careers
                        </h2>

                        <h3 class="text-primary">
                            Instructional Jobs
                        </h3>

                        <p>
                            Instructional jobs include classroom teachers, resource teachers,
                            instructional coaches, guidance
                            counselors, tutors, and many other.
                        </p>
                        <ul class="marked-list-skin">
                            <li><a href="#">Pre-Veterinary/Equine</a></li>
                            <li><a href="#">Biomedical Health Informatics</a></li>
                            <li><a href="#">Information Technology/Animation</a></li>
                            <li><a href="#">Culinary Arts/Hospitality and Tourism</a></li>
                            <li><a href="#">Engineering and Technology</a></li>
                            <li><a href="#">Aerospace Science</a></li>
                            <li><a href="#">Computer Science</a></li>
                            <li><a href="#">JROTC--Air Force, Army, Navy, Marines</a></li>
                        </ul>
                    </div>

                    <div class="col-md-5 col-sm-12">
                        <h2>
                            Testimonials
                        </h2>
                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I love my kids attending the School District. We
                                    receive the small town treatment between students, teachers, parents, and even the whole
                                    community. Everyone pretty much knows everyone and everyone is there to help push the students.
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                Eva Adamson, USA
                            </cite></p>
                        </blockquote>

                        <blockquote class="blockquote__mod">
                            <span>“</span>

                            <p>
                                <q>
                                    I am proud my daughters are a part of the School
                                    District. Each staff member goes above and beyond to educate my children. The teachers challenge and encourage kids to do the best they can at all levels. My girls love going to school every day!
                                </q>
                            </p>

                            <p class="h3 text-primary"><cite>
                                David Austin, USA
                            </cite></p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
 -->
    </main>