<main class="tophat">

        <section class="well2">
            <div class="container">
                <h2 class="center">About Development</h2>

                    <dl class="term-list">

                        <dt class="h3 text-primary">Why Learn Web Development</dt> <br>

                        <dd>95% of the industry is working on Linux platform. In your daily life, you are communicating

with Linux servers, major internet sites such as Facebook, Flipkart, Naukri, Google and many

more portal or deployed on Linux servers. In addition, most modern televisions and Android

mobiles run on Linux and industry is looking for skilled resources to maintain the Linux servers.</dd> <br>

<dd>On completion of this course you be eligible to apply for the following job roles Linux

Administrator or Systems Engineer or Technical support expert or Application support

Engineer or Sr.system Engineer and your duties will be to perform day to day

administration activates over Linux platform.</dd> <br>

 <dd>The purpose of this training is to explore Linux administration. This training

involves performing some of the day-to- day activities you would need to do as a Linux

administrator such as creating a user, group, setting permissions for them, backing up data,

restricting access to specific users, copying/moving files, managing processes and services, and

securing system.</dd>

<ul class="marked-list-skin">
<li>(i) Partitioning &amp; other features</li>

<li>(ii)Taking security measures to protect the environment</li>

<li>(iii)Configure different types of servers</li>

<li>(iv)Writing Shell Scripts</li>

<li>(v) Prepare for RHCE exam with Mock test paper.</li>
</ul>
                        

                    

                    </dl>
                    <!-- a class="text-primary" href="mailto:#">privacy@demolink.org</a>
 -->                </div>

            </div>

        </section>

    </main>
