<main class="tophat" ng-controller="tabCtrl">

        <section class="well2">
            <div class="container">
                <h2 class="center">About Cisco Networking</h2>

                    <dl class="term-list">
                        <dt class="h3 text-primary">Who should do this course?</dt>
                        
                        <dd>Associates who wants to build their careers in Networking & trouble shooting and looking to build their careers as a Cisco Engineer. They need to be passionate about working on communication channels - as well as having good knowledge on Hardware & Networking. Since networking hevily relies mostly on configurations, based on protocols and running processes, there is not much need for creative thinking and/or programming skills.</dd>

                        <!-- <div class="row shelf-staff">

                            <div class="whyCircle">
                                <div class="whyCircleText">
                                <h3>Entry Level</h3>

                                    <p>Network Administrator</p>
                                </div>
                            </div>
                            
                            <div class="whyConnect">
                                <p>text</p>
                            </div>

                            <div class="whyCircle">
                            <div class="whyCircleText">
                            <h3>Senior Level</h3>

                                <p>Sr. Systems Engineer</p>
                            </div>
                            </div>
                        </div> -->
                        <div class="whyConnect">
                                
                            </div>


                        <br>
                        <div class="container bottomSpace">
                            <div class="row" ng-switch on="level">
                                <div class="col-md-6 signupdiv">
                               <a href="" ng-click="level='entry'">   
                                <div class="whyCircle" ng-class="{'white': level == 'entry'}">
                            <div class="whyCircleText">
                            <h3>Entry Level</h3>

                                <p>Network Administrator</p>
                            </div>
                            </div> </a>
                                <br><br>
                                    <h4> Roles and Responsibilities </h4> <br>


                                    <ul ng-switch-when="entry">
                                        <li>Troubleshoot Router & switches.</li>
                                        <li>Configure Systems on to the network</li>
                                        <li>Work on DHCP & DNS servers</li>
                                        <li>provide and monitor authentications</li>
                                    </ul>

                                    <ul ng-switch-when="senior">
                                        <li>Manage servers & external services.</li>
                                        <li>Manage backup servers and resolve issues on the main servers.</li>
                                        <li>Monitor the load of the traffic on the network.</li>
                                        <li>Memeber of the change management </li>
                                    </ul>


                                </div>
                                <div class="col-md-6 signupdiv">
                                <a href="" ng-click="level='senior'">    <div class="whyCircle" ng-class="{'white': level == 'senior'}">
                            <div class="whyCircleText">
                            <h3>Senior Level</h3>

                                <p>Sr. Systems Engineer</p>
                            </div>
                            </div></a>
                                <br><br>
                                    <h4>Distinct Qualities</h4> <br>


                                    <ul ng-switch-when="entry">
                                        <li>Value add if your  CCNA certified.</li>
<li>Good knowledge on Network Topologies.</li>
<li>Configure servers & ISp.</li>
<li>Ability to google and resolve the network issues </li>
                                    </ul>

                                    
                                    <ul ng-switch-when="senior">
                                        <li>SME in guiding the team.</li>
                                        <li>Ability in providing solution to the solving the network issues.</li>
                                        <li>Excellent team member in the change management.</li>
                                        <li>Design and draft blue print of the tropoligies.</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <br>
                                                <h2>
                        Why Learn Networking Administration?
                        </h2>
                        
                        <br>

<h4 class="h3 text-primary"> You’ll Be Certified by the Networking Leader</h4>

<p>Cisco pioneered routing and switching technologies—and
continues to lead the way, with the greatest market share
and largest installed base in the industry. The overwhelming
majority of today’s Internet traffic travels over network
pathways built with Cisco infrastructure products. If you’re
trained and certified to work on Cisco products, your skills will
be more marketable, and more in demand.</p> <br>

<h4 class="h3 text-primary">Certification Is the Foundation That
Networking Careers Are Built Upon</h4>

<p>Ever since the CCNA program began, Cisco certifications have
been coveted by network engineers and employers all over
the world. The need for an intimate understanding of network
infrastructure and protocols, and how they work together, has
always been relevant. Now, that need is intensifying. A Cisco
CCNA Routing and Switching Certification provides you with
the knowledge and expertise to succeed in networking, even
as technologies continue to evolve. The program teaches you
to install, monitor, and troubleshoot the network infrastructure
products that are at the very heart of the Internet of Things</p>

                        <dd></dd> <br>

<dd></dd> <br>

 <dd></dd>

<ul class="marked-list-skin">
<!-- <li>(i) Partitioning &amp; other features</li>

<li>(ii)Taking security measures to protect the environment</li>

<li>(iii)Configure different types of servers</li>

<li>(iv)Writing Shell Scripts</li>

<li>(v) Prepare for RHCE exam with Mock test paper.</li> -->
</ul>
                        

                    

                    </dl>
                    <!-- a class="text-primary" href="mailto:#">privacy@demolink.org</a>
 -->                </div>

            </div>

        </section>

    </main>
