<main class="tophat" ng-controller="tabCtrl">

        <section class="well2">
            <div class="container">
                <h2 class="center">About Web Development</h2>
                
                                    <dl class="term-list">
                        <dt class="h3 text-primary">Who should do this course?</dt>
                        
                        <p>You can make some serious money working as a web developer. Web developers are averaging over $90,000 a year. Depening on your skill set this can be a lot more. You also allow yourself the potential to reach financial freedom with stock options if you're lucky. Think of the early google, facebook, apple and microsoft employees.</p>

                        <p>Code is weightless. You don't need a physical product to earn a profit. Your website can run on autopilot. If you're running an ecommerce store it's open 24 hours a day 365 days a year. You're able to create value through your typing fingers with very low overhead. No buildings to rent. No electric bill to pay. You can build minimum viable products for yourself to test out. It's like a super power.</p>

                                    <div class="whyConnect"></div>


                        <br>
                        <div class="container bottomSpace">
                            <div class="row" ng-switch on="level">
                                <div class="col-md-6 signupdiv">
                               <a href="" class="circleHover" ng-click="level='entry'">   
                                <div class="whyCircle">
                                <div ng-class="{'inlineRing': level == 'entry'}"></div>
                            <div class="whyCircleText">
                            <h3>Entry Level</h3>

                                <p>Jr. Web Developer</p>
                            </div>
                            </div> </a>
                                <br><br>
                                    <h4> Roles and Responsibilities </h4> <br>


                                    <ul ng-switch-when="entry">
                                        <li>
                                            Work on design and development of static /dynamic web pages.</li>
<li> Work on validation data and force the end user to enter thee valid data.</li>
<li> Work on the Navigation of pages and interconnectivity of the pages. </li>

                                        </li>  </ul>

                                    <ul ng-switch-when="senior">
                                        <li>
                                            Work on the performance on the application.</li>
<li>Help the team in Deploying the application on to the web servers.</li>
<li>Trouble shoot and identify the working on the application on different web servers and guide the team.</li>
<li>work on Full stack programming</li>    </ul>


                                </div>
                                <div class="col-md-6 signupdiv">
                                <a href="" class="circleHover"  ng-click="level='senior'">    <div class="whyCircle">
                                <div ng-class="{'inlineRing': level == 'senior'}"></div>
                            <div class="whyCircleText">
                            <h3>Senior Level</h3>

                                <p>Sr. Front-End Engineer</p>
                            </div>
                            </div></a>
                                <br><br>
                                    <h4>Distinct Qualities</h4> <br>


                                    <ul ng-switch-when="entry">
                                        <li>Good knowledge on HTML5, CSS3,Java Script.</li>
<li>Good programing and logical skills.</li>
<li>Ability to google and find the problem solving skills.</li>
<li>Ability to learn and upgrade on latest technologies</li>
                                    </ul>

                                    
                                    <ul ng-switch-when="senior">
                                        <li>
                                            Hands on experience with Angular JS,NodeJS and No-sql databases</li>
<li>Good knowledge in responsive programming - implementing programming stacks for cross-device compatibility.</li>
<li>Aility to mentor the Jr. Programmers in a Team atmosphere.</li>
<li>Good Managerial skills</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <br>
                                                <h2>
                        Why Learn Front-End Development?
                        </h2>
                        
                        <br>

<h4 class="h3 text-primary"> No Degree required </h4>

<p>Code is weightless. You don't need a physical product to earn a profit. Your website can run on autopilot. If you're running an ecommerce store it's open 24 hours a day 365 days a year. You're able to create value through your typing fingers with very low overhead. No buildings to rent. No electric bill to pay. You can build minimum viable products for yourself to test out. It's like a super power.

</p> <br>

<h4 class="h3 text-primary"> Freedom to work remotely, In a highly skilled field, Very little resourses required </h4>

<p>Learning to code is a highly valuable skill that you can benefit from within 2 to 3 years of practice. Kinda like plumbing or auto mechanics. It's a skill that allows you to, after you become proficient, go anywhere and find a great paying job or better yet employ yourself. You can have this one skill and still put food on the table.</p>

<p>The requirements to learn and be productive are super minimal. All you need is internet and a working computer. THAT'S IT! You can use the free wi-fi at McDonald's or Starbucks if need be. These are the only two things that you need to check off the to-do list to get started.</p>
<button ui-sref="web-developer" class="btn btn-primary">Course Breakdown</button>

                         <br>

<br>

 
<ul class="marked-list-skin">
<!-- <li>(i) Partitioning &amp; other features</li>

<li>(ii)Taking security measures to protect the environment</li>

<li>(iii)Configure different types of servers</li>

<li>(iv)Writing Shell Scripts</li>

<li>(v) Prepare for RHCE exam with Mock test paper.</li> -->
</ul>
                        

                    

                    </dl>
                    <!-- a class="text-primary" href="mailto:#">privacy@demolink.org</a>
 -->                </div>

            </div>

        </section>

    </main>
