<main class="tophat" ng-controller="tabCtrl">

        <section class="well2">
            <div class="container">
                <h2 class="center">About Linux Administration/ Engineering</h2>

                    <dl class="term-list">
                        <dt class="h3 text-primary">Who should do this course?</dt>
                        
                        <dd>Whether you know it or not you are already using Linux every day. Every time you use Google or Facebook or any other major Internet site, you are communicating with servers running Linux. Most DVRs, airplane and automobile entertainment systems and recent TVs run on Linux. Most ubiquitously, if you are using an Android phone, you are using a flavor of Linux.</dd>
<br>
<dd>At its core, Linux is software used to control hardware like desktop and laptop computers, supercomputers, mobile devices, networking equipment, airplanes, and automobiles; the list is endless. Linux is everywhere.</dd>

                        <div class="whyConnect"></div>


                        <br>
                        <div class="container bottomSpace">
                            <div class="row" ng-switch on="level">
                                <div class="col-md-6 signupdiv">
                               <a href="" ng-click="level='entry'">   
                                <div class="whyCircle" ng-class="{'white': level == 'entry'}">
                            <div class="whyCircleText">
                            <h3>Entry Level</h3>

                                <p>Support Technician</p>
                            </div>
                            </div> </a>
                                <br><br>
                                    <h4> Roles and Responsibilities </h4> <br>


                                    <ul ng-switch-when="entry">
                                        <li>Work Remote Management tool.</li>
<li> Take care of installation of OS and application software’s.</li>
<li> Configure the systems on the network.</li>
<li> Work on Backup and recovery of data & create new user and provide permission. </li>                              </ul>

                                    <ul ng-switch-when="senior">
                                        <li>Manage Cloud infrastructure.</li>
<li>Moniter and manage the traffic on the cloud</li>
<li>Configure ISP, Switches, routers - as well as the connectivity check over the networks.</li>
<li>work on OS command line Solarix ingresss, AIX. </li>
                                    </ul>


                                </div>
                                <div class="col-md-6 signupdiv">
                                <a href="" ng-click="level='senior'">    <div class="whyCircle" ng-class="{'white': level == 'senior'}">
                            <div class="whyCircleText">
                            <h3>Senior Level</h3>

                                <p>Sr. Systems Engineer</p>
                            </div>
                            </div></a>
                                <br><br>
                                    <h4>Distinct Qualities</h4> <br>


                                    <ul ng-switch-when="entry">
                                        <li> Should have working knowledge of the linux bash/command line </li> 
                                        <li>Should have basic knowledge on Networking protocols & Topologies.</li>
<li> Should have basic understand on installation, HDD disk partitioning</li>
<li> RHCE (Red Hat) certification will be an added value </li>
                                    </ul>

                                    
                                    <ul ng-switch-when="senior">
                                        <li>Should have some network/router troubleshooting experience</li>
            <li> Should possess sound knowledge on RAID/SAN configurations</li>
<li> RHSCE certification will be an added value</li>
<li> Team managing and leadership skills </li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                        <br> <br>
                                                <h2>
                        Why Learn Linux Administration?
                        </h2>
                        
                        <br>

<h4 class="h3 text-primary"> Linux gives you flexibility and versatility</h4>

<p>Linux is available under the GNU GPL license, which means it can be freely used on almost whatever product or service you’re developing, often free of charge, as long as the license terms are respected. Linux development is community-based; as people improve and create clever ways to make Linux work on an almost infinite variety of devices and platforms, they contribute their changes back so other people can continue to build on or be inspired by them. In short, it is this very community that helps drive the massive growth and versatility of Linux.</p>

<p>Because so many people are using and contributing to Linux, the software is better and more versatile than what any one company or individual could possibly create on his or her own. In fact, in 2008 it was estimated that up to that point, developing Linux had cost roughly $1.4 trillion U.S. dollars! This is obviously far more than any single company could afford to invest. And yet by collaborating together, members of the Linux community have created something that has generated far more value than has been spent on its development. That’s the power of open source software.</p> <br>

<h4 class="h3 text-primary">Why should you take this course?</h4>

<p>You don’t have to know very much about Linux to use it. You can take it for granted and use it invisibly every time you do a search on the Internet, use your smartphone, or use a device with Linux powering it under the hood. That is what most people do and there is nothing wrong with it.</p>

<p>However, there are plenty of reasons to understand more about Linux, either because it will help you better use it, or because you may find it interesting or want to have fun with it. A few of the multitude of reasons may include:</p>

            <ul class="marked-list-skin">
                <li>Maybe you are sick and tired of certain proprietary operating systems and you’d like to free yourself and make a statement by moving to open source software in general and Linux in particular.</li>
<li>Maybe you like the variety and customizability of Linux.</li>
<li>Maybe you want the added security that using open source makes possible.</li>
<li>Maybe you’re looking to develop job skills that are in demand and well-paid-for.</li>
<li>Or maybe you’re just interested in learning more about the software that’s changing the world.</li>
            </ul>
                        <br>

<button ui-sref="linux" class="btn btn-primary">Course Breakdown</button>
<ul class="marked-list-skin">
<!-- <li>(i) Partitioning &amp; other features</li>

<li>(ii)Taking security measures to protect the environment</li>

<li>(iii)Configure different types of servers</li>

<li>(iv)Writing Shell Scripts</li>

<li>(v) Prepare for RHCE exam with Mock test paper.</li> -->
</ul>
                        

                    

                    </dl>
                    <!-- a class="text-primary" href="mailto:#">privacy@demolink.org</a>
 -->                </div>

            </div>

        </section>

    </main>
