    <main class="tophat">       
        <section class="well2">
            <div class="container">
            <h1>TTT for Communication Trainer</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            Communication is the foundation stone for any message to be conveyed. If you are looking for a job and have issues cracking interviews due to lack of communication skills, this is the place to be and this is the module to take.</p>
<p>One of our most interactive and robust modules, Communication and interview facing skills training enables our learners to communicate effectively and crack interviews confidently. This training program is designed with only 10% theory and rest 90% of practice, for we believe it to be our goal to have our learners get selected in our in house placements and also placements with our various esteemed clients.</p>
<p>This activity and practice based module is for 7 days and comes with lot of discounts. To know more about the available discounts, please contact our HR @ +9701150361 , +7337008851 or simply write to us. </p>
<br>

<div class="inline">
                        <p class="central"><span>Duration</span>:  7 days</p> <p class="central"><span>Fees</span>:  Rs - 4,800/</p>
                        </div>
                        <br>



                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div>
                                    

                                                                <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                                                           <h4>Shymoe Daniel</h4><br>
                              <h5>Corporate Training</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based Learning - Certified in Lean Six sigma.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                                                <br>
                        </div>







<div class="container">

                </div>
            </div>
        </section>

    </main>