    <main class="tophat">       
        <section class="well2">
            <div class="container">
            <h1>TTT Soft-Skills</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            The T3 program for soft skills is one of the most important commodity in any given field. You may be working in a BPO or an advertising firm or you must be a professional like a lawyer, doctor etc. – Soft skills is a rare skill as not many have it or even realize the absence of it, but be rest assured – others do. <br><br>
Our 3 Day T3 program covers the following key skills:</p>
<br>


<ul class="marked-list-skin">
<li>Rapport development techniques in a multifaceted crowd</li>
<li>Listening skills</li>
<li>Identifying the questions and setting the objectives</li>
<li>Feedback – Praise and criticism</li>
<li>Psychological knowledge and reading the mind of the trainees</li>
<li>Motivational methods and self-evaluation</li>
<li>Team analysis and effective group development techniques</li>
<li>People's problem – (Stress, conflict), identifying and solving</li>
<li>Handling question and difficult people</li>
<li>Creating a conducive training environment, using humour, fun and delivery</li>
</ul>

<h4 class="text-primary">The program overall takes care of four main verticals of training:</h4>
<ul class="marked-list-skin">
<li> The Trainer – Methods, techniques and style </li>
<li>The Training Model – Designing and developing</li>
<li>The Program -- Critical factors, development and delivery</li>
<li>The Audience -- Engaging, rapport development and understanding</li>
</ul>

<p>The Training courses are developed with a perfect structure of curriculum. In addition to this, the Train the Trainer course is affordable and is thus in range among prospective trainers around the world. This trainer training program is ideal for even professional trainers aspiring to get a training certification but run at a short time. 
</p>

                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div>
                                    

                                                                <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                                                           <h4>Shymoe Daniel</h4><br>
                              <h5>Corporate Training</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based Learning - Certified in Lean Six sigma.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                                                <br>
                        </div>

<!--  -->





<div class="container">

                </div>
            </div>
        </section>

    </main>