    <main class="tophat">       
        <section class="well2">
            <div class="container">
            <h1>TTT for Communication Trainer</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            We provide participants with the principles to enable course planning, and techniques to deliver effective training sessions. 
</p>
<br>


<ul class="marked-list-skin">
<li>The three day Train the Trainer course is applicable to all types of training.</li>
<li>The ten day course also includes training specifically for English language and communication skills trainers. This covers methodology, language analysis, and lesson planning, and includes micro teaching sessions.</li>
</ul>

<p>This program is designed to turn participants into top-notch facilitators. </p>
<p>Whether a participant is a shy, resistant, or just plain difficult, we know how to bring out their best and create a successful group effort. These skills can only be learned by doing and that’s exactly what happens at this seminar. Participants begin facilitating the sessions almost immediately.</p>

<p>The course is practical, as participants experience new training techniques and then practise them. At the end of the course, participants deliver a short training session using their own materials, and receive detailed feedback.
Our Train the Trainer Program helps both experienced and novice trainers polish the skills they need to facilitate Training® that’s participative, fun, and has a lasting impact.
</p>

<div class="inline">
                        <p><span>Duration</span>:  3 days</p> <p><span>Fees</span>:  Rs - 8,500/</p>
                        </div>
                        <br>
                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div>
                                    

                                                                <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                                                           <h4>Shymoe Daniel</h4><br>
                              <h5>Corporate Training</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based Learning - Certified in Lean Six sigma.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                                                <br>
                        </div>







<div class="container">

                </div>
            </div>
        </section>

    </main>