    <main class="tophat">       
        <section class="well2">
            <div class="container">
            <h1>TTT: Leadership Training</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            Employees are not told what to do anymore. Now, you need to engage your team and assist them in reaching their goals. You do not direct; you win the team over to your point of view. You do not dictate; you inspire and empower! This corporate training program will teach you how to stop managing and start leading; and, as a result, make you a vital part to your organization's future. Investing in leadership training will help build your team's management fundamentals, which will ensure you are more than likely to have a bright career path ahead of you.
</p>
<br>
                            <h2>Program Overview</h2>
    
<ul class="marked-list-skin">
<li>Build effective coaching techniques</li>
<li>Master problem analysis and decision-making</li>
<li>Effectively communicate change</li>
<li>Strengthen listening skills</li>
<li>Recognize team success with enthusiasm</li>
<li>Learn the 8-step delegation process</li>
<li>Helps training professionals who want to supplement or refresh their existing knowledge and skills, move up to a management-training role or start their own corporate training consulting service.</li>
<li>'Corporate Trainer Certificate' program covers techniques to engage and motivate employees who are experienced in a corporate environment and looking for career advancement.</li>
<li>Behind every spectacular training session is a lot of preparation and meticulous attention to details. The truly skilled trainer can make a program exciting. The learners will have fun while learning, at the same time facilitator has the ability to involve their emotions as well as their minds by involving them with full energy.</li>
<li>This course will also benefit those who are in the L&D function as they learn the aspects of how to evaluate training programs and also the learning outcomes. This will help them in creating a learning organization as well as creating individual development plans for their staff or departments.
</li></ul>

<h4 class="text-primary">Upon Completion of this course you will:</h4>
<ul class="marked-list-skin">
<li>Improve instructor skills to effectively prepare for, manage, conduct, facilitate and evaluate training events</li>
<li>Deliver a training session successfully</li>
<li>Use tools and techniques to enhance instruction</li>
<li>How to write and structure training programs</li>
<li>Improve presentation and communication skills</li>
<li>Effectively motivate participants and engage their active participation during training</li>
<li>Effectively integrate group work and collaborative learning
</li>
</ul>

    <div class="inline">
                        <p class="central"><span>Duration</span>:  3 days</p> <p class="central"><span>Fees</span>:  Rs - 7,900/</p>
                        </div>
                        <br>

                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div>
                                    

                                                                <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                                                           <h4>Shymoe Daniel</h4><br>
                              <h5>Corporate Training</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based Learning - Certified in Lean Six sigma.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                                                <br>
                        </div>


                </div>
</div>





<div class="container">

                </div>
            </div>
        </section>

    </main>