    <main class="tophat">       
        <section class="well2">
            <div class="container">
            <h1>Functional English Training</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            The aim of Functional English is to develop communicative skills of the learners in listening, speaking, writing and reading. The main focus is on how English is used in real-life situations. Through the items listed in the syllabus the learners are expected to develop fluency in conversation and efficiency in interactional skills. They are also expected to learn to use grammar communicatively so that they become effective and efficient communicators in English.</p>
<br>
                            <h2>Program Overview</h2>
            <h3 class="text-primary"> Linguistics and Phonetics </h3>
<p>Objective: To enable students to understand the mechanism of speech, to produce English sounds correctly, to pronounce English with appropriate stress and intonation.</p> <br>

<h4 class="text-primary">Section I: Linguistics</h4>

<ul class="marked-list-skin">
<li>Definition and scope of linguistics; different branches of linguistics.</li>
<li> IPA Symbols and their importance.</li>
<li> Organs of speech/speech mechanism.</li>
<li> Articulatory phonetics: Definition; production of sounds, Cardinal vowels.</li>
</ul>

<h4 class="text-primary">Section II: English Phonetics and Phonology</h4>
<ul class="marked-list-skin">
<li> Phonology: definition: basic principles of English phonology.</li>
<li> Description of English consonants and vowels; clusters</li>
<li> Suprasegments: syllable, stress and intonation</li>
<li> Phonemic/phonetic transcription of simple utterances showing stress and intonation (12 out of 15 utterances to be attempted)</li>
</ul>

                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div>
                                    

                                                                <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                                                           <h4>Shymoe Daniel</h4><br>
                              <h5>Corporate Training</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based Learning - Certified in Lean Six sigma.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                                                <br>
                        </div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

<h5>Practical: Intensive drilling in listening and producing English sounds, English stress pattern, intonation.</h5> <br>

<h3 class="text-primary">Functional Grammar</h3>

<p>Objectives: To enable students to utilize their knowledge of grammar effectively for communicative purposes.</p>
<br>
<h4 class="text-primary">Section I: Notions and Functions</h4>
<ul class="marked-list-skin">
<li> Places: Describe and ask about place; “There is/are and ‘has/has got’, location prepositions: in, on above, over, below, under, by beside, between, behind, in front of.</li>
<li> Decisions and intentions: Decided to do or not do things: ‘Perhaps/May be’, ‘I think I’ll/I don’t think I’ll; Talk about intentions and plans: ‘I’m going to’, ‘I plant/intend to’, ‘I’m thinking of’.</li>
<li>Talking about now: - Talking about what is happening at the moment - Talk about current activities. Present Continuous active and passive; there is + Present Continuous.</li>
<li> Past events: Past Simple active and passive, sequence expressions (later, after, after he left/after leaving); past time expression (in 1950, yesterday, etc).</li>
</ul> <br>

<h4 class="text-primary">Section II: Notions and Functions</h4>
<ul class="marked-list-skin">
<li> Likes and dislikes: ‘Like’ and ‘dislike’ verbs; active and passive gerund forms; prefer; like doing/like to do</li>
<li> Making/denying requests: Ask people to do and not to do things; ‘Could you’ ‘do you think’, ‘would you mind’, etc. Ask permission to do things: ‘Could/can I’, ‘do you thind/would you mind’, etc. Denying a request: ‘I’m sorry you can’t, ‘No, you may not’, etc.</li>
<li> Similarities & differences: I do too/I don’t either/So do I/Nor do I: neither … not: either … or; both/neither/either</li>
<li> Predictions: Probably/certainly, many/might/ could/I expect/ I should think; ‘if and ‘unless’, etc. 
Practical: Exercises and tutorials</li>
</ul>
            <br>

        </div>
    </div>
</div>





<div class="container">

                </div>
            </div>
        </section>

    </main>