<main class="tophat" ng-controller="scrollCtrl">
          <section class="parallax para-laxing well3" data-url="images/parallax2.jpg" data-mobile="true">
            <div class="container jumboCta center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <h1>Soft Skills Overview</h1>

                <p>Soft skills are a great attribute to have irrespective of your current or future field of work. 
The current environment in organizations is such that majority of the employees lack soft skills. It is not rare to see leaders without leadership skills or employees in business development without influential skills. </p>
                           </div>
        </section>
            

            <section class="well2">
                <div class="container" id="section-1">
                    <div class="row">
                        <dl class="term-list">
                        <dt class="h3 text-primary">Negotiation skills Training</dt>

                        <p>This one day Negotiation Skills Course highlights the skills and qualities you already use, introduces some new ones and hones them all for more effective use in lots of different negotiation scenarios.</p> <br>
<h4>We all have to negotiate.</h4> <br>
<p>Sometimes it's 'hard' negotiation, such as negotiating a new piece of work, a salary increase or the price we'll pay for a house, an advertising campaign or a used car.
Sometimes 'soft' negotiations such as deciding who is going to do what in your team or handling staff conflict. However, these skills are extremely important to get ahead of the game in your career.</p> 
<p>Negotiation is an integral part of our day to day work and personal life. This training program helps you to enhance your already existing skills by realizing your own potential to negotiate in various circumstances.
</p>


                        <dt class="h3 text-primary" id="section-2">Change Management</dt>

                        <p>Whoever said that ‘change’ is constant was telling the truth. Change is inevitable. 
Change management is a structured approach for ensuring that changes are thoroughly and smoothly implemented, and that the lasting benefits of change are achieved.</p>
<p>The focus is on the wider impacts of change, particularly on people and how they, as individuals and teams, move from the current situation to the new one. The change in question could range from a simple process change, to major changes in policy or strategy needed if the organization is to achieve its potential.</p>
<p>Change management is a very broad field, and approaches to managing change vary widely, from organization to organization and from project to project. Many organizations and consultants subscribe to formal change management methodologies. These provide toolkits, checklists and outline plans of what needs to be done to manage changes successfully.</p>

<div class="inline">
    <p> <span> Duration</span>: 1 day</p>
</div>
                        </p>
                        

                        <dt class="h3 text-primary" id="section-3">Leadership Skills Training</dt>

                        <p>Being a team lead or a manager is not the same as becoming a leader. 
You may have noticed that few people in an organization receive an automated positive response from the other employees or members of their team. This natural rallying happens because that person is a natural leader. The skills that such leaders possess would take them only so far. </p>
<p>Leadership is about mapping out where you need to go to "win" as a team or an organization; and it is dynamic, exciting, and inspiring.  
Yet, while leaders set the direction, they must also use management skills to guide their people to the right destination, in a smooth and efficient way. </p>
<p>To create a vision, leaders focus on an organization's strengths by using tools such as Porter's Five Forces, PEST Analysis, USP Analysis, Core Competence Analysis and SWOT Analysis to analyse their current situation. They think about how their industry is likely to evolve, and how their competitors are likely to behave. They look at how they can innovate successfully and shape their businesses and their strategies to succeed in future marketplaces. And they test their visions with appropriate market research, and by assessing key risks using techniques such as Scenario Analysis. 
Leadership is divided into 3 stages:</p> <br>

                       

<ul class="marked-list-skin">
    <li>Cradle Stage</li>
<li>Monitor Stage</li> 
<li>Enhanced Stage</li>
</ul>

<p>In the cradle stage, a person is not aware of his leadership qualities, yet displays it from time to time. At this stage we help that realization dawn by using various methodologies and activities. We hand hold a participant from the cradle stage to the enhanced stage.</p>

<div class="inline">
    <p><span>Duration</span>: 2 days</p>
</div>


<dt class="h3 text-primary" id="section-4">Presentation Effectiveness Training Program</dt> 

<p>The design and the layout of the presentation have an impact on how the audience receives it. Therefore, you need to focus more on the clarity of your presentation and the content.</p>
<p>Presentation skills is an acquired skill set that requires training, nurturing and practise. A good presenter connects with his/her audience at a level of mutual understanding and respect.</p>
<p>This training program focusses on gaining that connection and momentum during your presentations. To have presentation skills is pretty important in the current fast paced business environment. Through this program we help our participants understand the various methodologies and told one can use to help his/her audience not only understand what is being presented, but to understand in the true sense – to understand the context.</p>

<div class="inline">
    <p><span>Duration</span>: 2 days</p>
</div>

<br>


<dt class="h3 text-primary" id="section-5">Sales</dt>


<p>Thing about sales is that it should have a lasting impact, otherwise there is a huge loss – loss of credibility. Once that happens, there is no way that customer is coming back.</p>
<p>To avoid such huge losses in business, it is important on the genuinity of the sales process. Our training program covers each step of this process with many mock assignments and real time assignments.</p>
<p>This infusion of mock and real time assignments during the training program helps our participants with a high quality hands on experience. This program methodology not only helps the participant to understand the concept but also helps them in improving their confidence.</p>

<div class="inline">
    <p><span>Duration</span>: 2 days</p>
</div>

<dt class="h3 text-primary" id="section-6">Fish Philosophy</dt>


<p>The FISH! Philosophy is inspired by a group of fishmongers from Seattle’s Pike Place FISH! Market. This team is a shining example of how you can create a culture and workplace that encourages people to flourish and increase productivity. Being a fishmonger is obviously hard work, despite the cold and harsh conditions, they have found a way to harness a positive attitude and have fun at work.</p>

<p>Why has this team of fishmongers become world famous? Thousands of organisations in 28 different countries are discovering how 4 basic principles can result in a newfound energy, passion and commitment.</p>

<p>If your people are your biggest asset, it is time to introduce them to FISH!</p>
 
<p>The FiSH! Philosophy is a set of simple, practical tools to help you create the work culture you’ve been looking for. It’s a way to build stronger relationships that equip you to face your challenges more effectively. The FiSH! Philosophy fulfils the most basic needs of human beings who, in turn, fulfil the needs of the organisation—more connected teams, better communication, extraordinary service and higher retention.
</p>

<div class="inline">
    <p><span>Duration</span>: 1 day</p>
</div>

<dt class="h3 text-primary" id="section-7">Influence People</dt>

<p>This influencing skills course is designed to help you to get other people to see things slightly differently, or to get them to do something you need them to do.</p>
<p>We explore how to flex your individual communication style to influence and motivate people in different arenas and with different personality types.</p>
<p>Communication can and often does go wrong, in so many ways. Fortunately, a little understanding of the communication dynamic can help you to have the impact you want.
 It focuses clearly on the interpersonal and communication skills needed to get other people to want to give you their support.</p>

<p>Building on current and time honoured theory, we demonstrate how to improve your interpersonal skills and increase your ability to communicate effectively. It will also look at the times when you need to negotiate conditions, timings or price, where it is important to be able to get what you want.</p>

<p>This is a practical course, which will leave you feeling more confident in your ability to influence others. <br><br>

Influencing Course Objectives:</p>

<ul class="marked-list-skin">
    <li>Expanding your sphere of influence</li>
<li>The art of coercion – positively</li>
<li>Adapt your behaviour to achieve a win-win</li>
<li>Put yourself in 'someone else's shoes'</li>
<li>Lay the groundwork to your influencing</li>
<li>Use persuasion to get the outcome you need</li>
<li>Respond positively when met with resistance</li>
</ul>


<div class="inline">
    <p><span>Duration</span>: 2 days</p>
</div>

<dt class="h3 primary" id="section-8">Personality Development</dt>

<p>Personality Development quintessentially means enhancing and grooming one’s outer and inner self to bring about a positive change to your life.  
The purpose of this training program is to develop skills and techniques necessary for Effective Communication, Public Speaking and Personality Development. Each individual has a distinct persona that can be developed, polished and refined. </p>
<p>It will help the participants to communicate better and speak with confidence with individuals, officials, clients, participate actively in meetings, conferences and also speak from platforms.
The course will also help a person to develop a forceful personality and get along well with others by developing inter-personal and intra-personal communication. The participants will also be helped to get rid of their barriers in communication and eventually have a barrier-free personality.</p>
<p>In the corporate world communication is the lifeblood. It builds reputation and credibility that gets the clients’ trust and confidence. If your employees do not communicate effectively, the survival and growth of your business is hindered. Also, a pleasant relationship between the seniors and subordinates, the workers and the management, the customers and the sellers, in fact among all stakeholders is based on efficient communication.</p>
<p>In other words, employees short on communication will be the downfall of any business. Our programs help your employees to communicate effectively amongst themselves, with the management and other internal clients, as well as the external clients.
</p>
<dt class="h3 primary" id="section-9">Adult Learning Principles</dt>

<p>This is a highly effective and activity driven training program. 
Andragogy (adult learning) is a theory that holds a set of assumptions about how adults learn. It uses approaches to learning that are problem-based and collaborative rather than didactic (traditional lecturing or teacher "knows all" model), and also recognises more equality between the teacher and learner.</p>
<p>Andragogy as a study of adult learning originated in Europe in 1950's and was then pioneered as a theory and model of adult learning from the 1970s by Malcolm Knowles, an American practitioner and theorist of adult education, who defined andragogy as "the art and science of helping adults learn."</p>

<div class="inline">
    <p><span>Duration</span>: 1 day</p>
</div>
                    </div>
                </div>
            </section>




    </main>