    <main class="tophat">       
        <section class="well2">
            <div class="container">
            <h1>TTT Voice & Accent Training</h1>
                <div class="row">
                    
                    <div class="col-md-9 col-sm-6">
                        
                            <button ui-sref="login" class="btn btn-primary">Enroll</button>
                            <!-- <p><span class="h4 text-primary"> On completion of this course you will play a roll of: </span> <strong>  Linux Administrator </strong></p> -->
                            <br><br>
                            <h2>
                            Description
                        </h2>

                        <p>
                            Now's your chance to unleash the power of your voice and find out what it takes to be a voice and accent trainer.</p>
<br>
                            <h4>What does it take to be a Voice & Accent Trainer?</h4>
            <p>Trainers need to have a natural instinct for the language, sound knowledge of grammar and voice, an ability to accept feedback while training, and assertive yet positive body language.</p>
<p>People closely observe the actions of a trainer in a classroom, which makes it essential for a trainer to understand that people tend to follow their favourite trainer for specific styles. Trainer should have strong thought connectivity, and good sense of humour, and a suave speaker with the idea of transforming individual potential with the power of voice.</p>
<p>There are no specific educational qualifications required to be a voice and accent trainer. A basic graduate degree is generally the prerequisite although a degree in linguistics would give most aspiring trainers a good foundation.
A voice and accent trainer polishes the already present linguistic skills in an employee.</p>
<p>This 'train the trainer' programme primarily covers overall grooming, successful classroom training styles, different training methodologies, content knowledge, and facilitation skills.
So, if you have the gift of the gab and love interacting with people, Voice & Accent Training can be a rewarding career option for you.</p> <br>

<div class="inline">
                        <p class="central"><span>Duration</span>:  7 days</p> <p class="central"><span>Fees</span>:  Rs - 10,000/</p>
                        </div>
                        <br>


                                                    
                        <!-- <ul class="marked-list-skin">
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.2s">
                                <a href="#">Partitioning & other features</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.4s">
                                <a href="#">Taking security measures to protect the environment</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.6s">
                                <a href="#">Configure different types of servers</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="0.8s">
                                <a href="#">Writing Shell Scripts</a>
                            </li>
                            <li class="wow fadeInRight" data-wow-duration="2s" data-wow-delay="1.0s">
                                <a href="#">Prepare for RHCE exam with mock tests</a>
                            </li>
                        </ul>  -->
                        </div>
                                    

                                                                <div class="col-md-3 col-sm-6">
 <div lastone class="backToTrain">Back</div>
<div class="sideInstructor">
    


<div class="sideInstructor bg-primary">
    
        <div class="middleSection"><div class="well bg-primary">
    <div> 
                        <article>
                    <div class="article_header">
                    <h2>More about your Instructor</h2><br>
                                                           <h4>Shymoe Daniel</h4><br>
                              <h5>Corporate Training</h5>
                    </div>

                    <div class="row">
                        <!-- <div class="col-md-5 col-sm-6 col-xs-12 mg-add">
                            <figure class="thumbnail">
                                <a href="#"><img src="images/page-4_img01.jpg" alt=""/></a>
                            </figure>
                        </div> -->
                        <div class="col-md-12">
                            <p>Shymoe has 10+ years of experience as a Corporate Trainer and holds the below certifications:TTT Certified in Anne Cook modules of Voice and AccentTTT in Certified Learning ProfessionalCertified Master trainer in Learning Professional for Facilitation skillsCertified Master trainer in Scenario Based Learning - Certified in Lean Six sigma.</p>
                        </div>
                    </div>
                </article></div></div>
                </div>  

</div>

</div>
</div>

                        </div>
                        

                                                <br>
                        </div>







<div class="container">

                </div>
            </div>
        </section>

    </main>